body{font-family: rubrik-new, sans-serif;
font-style: normal;
font-weight: 500;}
a{text-decoration: none;color:#633BB2;}
a:hover{text-decoration: none;color:#633BB2;}
.btn-link:hover {
	color: #633BB2;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
}
.top_profile_name{font-size: 14px;
line-height: 24px;
float:left; margin-left:4px;}

.top_profile_img {
	width: 24px;
	height: 24px;
float:left;
margin-right:4px; 
margin-left:24px;
border-radius:12px;
}

.top_profile_arrow {
float:right;
padding-right:26px;
	}
	.top_profile{padding-top:16px;padding-bottom:16px; border:1px solid #F2F2F2;height:80px;}
.left_zag{font-size: 10px;
line-height: 13px;
text-transform: uppercase;
color: #828282;
flex: none;
order: 0;
align-self: center;
margin: 0px 8px;}
.left_zag_zayavka{font-size: 10px;
line-height: 13px;
text-transform: uppercase;
color: #828282;
}
.navbar-nav{padding-top:32px;width:100%;}
.nav-item{padding-left:24px; padding-right:24px;}
.btn-primary{background: #633BB2;
border-radius: 5px;
text-align: left;
margin: 0px 4px;font-size: 14px;line-height: 18px;
border: 1px solid rgba(255, 255, 255, 0.16);
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);

}
.btn-primary svg{margin-right:14px;}
.left_label {
	height: 34px;
	font-size: 14px;
line-height: 18px;
color: #333333;
}
.left_icon svg{
	margin-left:12px;margin-right:12px;
}
.left-link:hover, .nav-item .active{background: #F4F2FC;
border-radius: 5px;}
.left-link:hover .left_label{color: #633BB2;}
.nav-item .active .left_label{color: #633BB2;}
.left_icon  svg {fill:#8B80A0;}
.left-link:hover .left_icon svg {fill:#633BB2;}
.nav-item .active .left_icon svg {fill:#633BB2;}
.mb-20{margin-bottom:20px;}
.left_kart{padding:0;}
.left_date{font-size: 12px;
line-height: 15px;
color: #333333;margin: 0px 8px;}
.left_dr_img{width: 36px;
height: 36px;border-radius: 18px;}
.left_dr_name{font-size: 14px;
line-height: 18px;
color: #333333;}
.left_dr_prof{font-size: 10px;
line-height: 139.45%;
color: #828282;}
.left_dr_karta{padding-top:6px;padding-bottom:6px;}
.a_all{font-size: 12px;
line-height: 15px;
margin:10 0;
color: #633BB2;}
.exit{font-size: 14px;
line-height: 18px;
/* identical to box height */

text-align: right;
}
.red
{
color: #EB5757;}
h1{font-size: 24px;
line-height: 31px;}
.prof-head{height:103px;}
.gray{
color: #333333;
}
.profile_name{font-size: 24px;
line-height: 31px;margin-bottom: 8px;}
.profile_name_work{font-size: 12px;
line-height: 15px;
color: #828282; margin-bottom:16px;}
.profile_name_phone{font-size: 16px;
line-height: 20px;padding:12px 25px 12px 22px;background-image: url(/src/assets/img/icon-phone.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;}
.profile_name_mail{font-size: 16px;
line-height: 20px;padding:12px 25px 12px 22px;background-image: url(/src/assets/img/icon-mail.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;}
.profile_name_num{font-size: 16px;
line-height: 20px;padding:12px 25px 12px 22px;background-image: url(/src/assets/img/icon-num.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;}
.profile_name_date{font-size: 14px;
line-height: 18px;padding:12px 25px 12px 22px;background-image: url(/src/assets/img/icon-date.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;}
.profile_name_num2{font-size: 16px;
line-height: 20px;padding:12px 25px 12px 22px;background-image: url(/src/assets/img/icon-num2.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;}
.float-left{float:left;}
.float-right{float:right;}
.profile_name_atr:hover{color: #633BB2;}
.ptofile-cart{border: 1px solid #E0E0E0;
border-radius: 5px;padding:24px;margin-bottom: 23px;}
.profile-work_block{background: rgba(242, 242, 242, 0.24);
border: 1px solid #F2F2F2;
border-radius: 5px;padding:24px;height:100%;}
.profile-work_zag{font-size: 18px;
line-height: 23px;padding-bottom:24px;}
.pr12{padding-right:12px;}
.pl12{padding-left:12px;}
.profile-work-etap{background: url("/src/assets/img/line.png") 4.5px 100% repeat-y;padding-left:20px;}
.profile-work-etap_box{background: #FFFFFF;
border: 1px solid #E0E0E0;padding:12px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
border-radius: 5px;position:relative;}

 .profile-work-etap_box{position:relative;}
.profile-work-etap_box_line_ferst {
	position: absolute;
	width: 8px;
	height: 24px;
	background: #fff;
	top: 0;
	left: -20px;
}
.profile-work-etap_box_line_last{position: absolute;
	width: 8px;
	height: calc(100% - 24px);
	background: #fff;
	bottom: 0;
	left: -20px;}
.profile-work-etap_box_boll{width:12px;height:12px;background:url(/src/assets/img/boll.png);position:absolute; top:24px; left:-21px;}

.profile_name_img{max-width: 120px;
max-height: 120px;border-radius:60px;}
.profile-work-etap_img{width: 24px;
height: 24px;border-radius: 12px;position:absolute;top:12px; right:12px;}
.profile-work-etap_date{font-size: 14px;
line-height: 18px;}
.profile-work-etap_date svg{margin-right:8px;}
.profile-work-etap_zag{font-size: 14px;
line-height: 18px;}
.profile-work-etap_text{font-size: 12px;
line-height: 15px;
color: #828282;}
.ml8{margin-left:8px;}
.ml28{margin-left:28px;}
.mr8{margin-right:8px;}
.mt11{margin-top:11px;}
.mt18{margin-top:18px;}
.mb11{margin-bottom:11px;}
.mt45{margin-top:45px;}
.mb18{margin-bottom:18px;}
.mb28{margin-bottom:28px;}
.mb8{margin-bottom:8px;}
.mb4{margin-bottom:4px;}
.mt4{margin-top:4px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}
.mb7{margin-bottom:7px;}
.mb12{margin-bottom:12px;}
.mb14{margin-bottom:14px;}
.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mr16{margin-right:16px;}
.mb30{margin-bottom:30px;}
.mt16{margin-top:16px;}
.mt24{margin-top:24px;}
.mt22{margin-top:22px;}
.mb24{margin-bottom:24px;}
.mt36{margin-top:36px;}
.mb36{margin-bottom:36px;}
.pt25{padding-top:25px;}
.pr8{padding-right:8px;}
.mt3{margin-top:3px;}
.mt48{margin-top:48px;}
.pl23{padding-left:23px;}
.pl9{padding-left:9px;}
.pr17{padding-right:17px;}
.pt3{padding-top:3px;}
.pl50{padding-left:50px;}
.pl88{padding-left:88px;}
.ml21{margin-left:21px;}
.ml12{margin-left:12px;}
.ml16{margin-left:16px;}
.mw40{max-width:40px;}
.mt69{margin-top:69px;}
.pr20{padding-right:20px;}
.pr112{padding-right:112px;}
.fs14-18{font-size: 14px;
line-height: 18px;}
.borbot1{border-bottom: 1px solid #F2F2F2;}
.inline-block{display:inline-block;}
.bg_none {
	background: none!important;
}
.poz-rel{position:relative;}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input, textarea, select {outline: none;}
.profile-work-etap_zag svg{margin-right:8px;}
.gray12-15{font-size: 12px;
line-height: 15px;color: #828282;}
.black14-18{font-size: 14px;
line-height: 18px;
color: #000000;}
.gray14-18{font-size: 14px;
line-height: 18px;
color: #333333;}
.profile-work_doc_box{background: #FFFFFF;border: 1px solid #E0E0E0;padding:12px;position:relative;}
.profile-work_doc_name{}
.bt-none{border-top:none;}
.profile-work_doc_box_ferst{border-radius: 5px 5px 0px 0px;}
.profile-work_doc_box_last{border-radius: 0px 0px 5px 5px;}
.icon-doc{position:absolute; top:50%;left:14px;top: calc(50% - 12px);}
.navbar-light .navbar-toggler {
	border-color: #fff;
}
.breadcrumb {
	background-color: #fff;
	font-size: 14px;
line-height: 18px;
padding:24px 0px;
margin-bottom:0;
}
.breadcrumb a{color: #333333;}
.breadcrumb-item.active {
	color: #828282;
}
.breadcrumb-item + .breadcrumb-item::before {
	color: #828282;
}
.profile-work-etap_img2{width: 24px;
height: 24px;border-radius: 12px;}
.profile-work-etap_name{padding-left:32px;}
	.intro{padding-top:36px; padding-bottom:36px;width: 616px;background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 12px;}
.intro-header_zag{font-size: 24px;
line-height: 31px;
color: #000000;}
.intro form{max-width:300px;}
.form-control::placeholder {
	color: #828282;
font-size: 14px;line-height: 18px;
}
.form-group {
	margin-bottom: 8px;
}
.form-control {
	height: 44px;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:16px
	border: 1px solid #E0E0E0;
	border-radius: 5px;font-size: 11px;
line-height: 139.45%;color: #4F4F4F;
}
.form-check-label{font-size: 11px;
line-height: 139.45%;color: #4F4F4F;}
.intro a{color: #633BB2;}
.intro-footer{margin-top:8px;font-size: 14px;
line-height: 18px; width:300px;
padding-top:12px;padding-bottom:12px; border: 1px solid #F4F2FC;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
border-radius: 5px;}
.intro-footer a{}
.form-label-parol{font-size: 11px;
line-height: 139.45%;padding-top: 6px;}
.form-check-input {
margin-top: 8px;
}

    .custom-control-label:before{
       background-color:#fff;
		border:1px solid #BDBDBD;
		width: 13px;
height: 13px;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color:#633BB2;
    }
 
    .custom-control-input:active~.custom-control-label::before{
        background-color:#633BB2;;
    }
    .custom-checkbox .custom-control-input:focus~.custom-control-label::before{
        box-shadow: none; 
    }
	
	.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1 4 10 8'%3E%3Cpath fill='%23fff' d='M8.27634 1.23483C8.42279 1.08839 8.66022 1.08839 8.80667 1.23484C8.95312 1.38128 8.95312 1.61872 8.80667 1.76517L4.015 6.55683C3.86855 6.70328 3.63112 6.70328 3.48467 6.55683L1.40134 4.4735C1.25489 4.32705 1.25489 4.08961 1.40134 3.94317C1.54779 3.79672 1.78522 3.79672 1.93167 3.94317L3.74984 5.76134L8.27634 1.23483Z'/%3E%3C/svg%3E");
}


.custom-checkbox .custom-control-label::before {
	border-radius: 3px;
}
.custom-control-label::before {
	top: 2px;
	left: -24px;
	width: 13px;
	height: 13px;

}
.intro .btn-primary {
	margin: 0;
}
.btn42{padding-top:12px;padding-bottom:12px;}
.intro-message{max-width:451px;font-size: 14px;
line-height: 18px;
text-align: center;
color: #828282;}
.top-poisk-control{font-size: 14px;
line-height: 18px;
color: #4F4F4F;border:none;}
.top-poisk .input-group-text{padding:8px;border:none;background:none;}
.top-poisk .top-poisk-control{max-width:120px;width: auto;}
.top-poisk_arr{
width: 100%; 
max-width: 100%; 
box-sizing: border-box; 
margin: 0; 
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff; 
background-image: url(/src/assets/img/icon-down.png); 
background-repeat: no-repeat;
background-position: center right;
background-size: 12px 7px, 100%; 
padding:8px;padding-right:22px;margin-left:16px;}

.top-poisk{
border-bottom: 1px solid #F2F2F2;}
.sotrudniki-table_zag{font-size: 12px;
line-height: 15px;
color: #828282;
padding-bottom:12px;padding-top:28px;}
.sotrudniki-table img{margin-right:12px;}
.fiol{color: #633BB2;}
.gray3_14-18{font-size: 14px;
line-height: 18px;
color: #828282;}
.struktura_photo_big{width: 74px;object-fit: cover;
height: 74px;border-radius: 36px;}
.struk-zag-biger{font-size: 24px;
line-height: 31px;color: #000000;}

.struktura-line ul{background: url("/src/assets/img/line.png") 34px 100% repeat-y;padding-left:29px;padding-top:43px;padding-bottom:43px;}
.struktura-line ul ul{background: url("/src/assets/img/line.png") 50px 100% repeat-y;padding-left:45px;padding-top:16px;padding-bottom:0px;}

.struktura-line li {
    list-style-type: none; 
   }
 .struktura-line li:before {
 background: url("/src/assets/img/round.png") center center no-repeat;
    background-color:#EB5757;
	
	width:14px;
	height:14px;
	content:"";
	float:left;
	margin:6px 12px 0 0;
	border-radius:7px;
	
   }
   .struktura_photo_biger{position:relative;
   }
.struktura_photo_big_marker{position:absolute; bottom: -21px;
left: 30.5px;}
 li.bluer-marker:before{ background-color:#2D9CDB;}
  li.yell-marker:before{ background-color:#F2994A;}
  li.purple-marker:before{ background-color:#9B51E0;}
  .struktura-line li {background: url("/src/assets/img/line.png") 50px 10% repeat-y;padding-bottom:9px;}
  .svernut{font-size: 10px;
line-height: 139.45%;
color: #633BB2;padding-left:45px;}
.raskrit{padding-bottom:22px;}
.struktura-line ul ul{position:relative;}
.struktura-line ul ul  .last{position: absolute;
	width: 8px;
	height: calc(100% - 51px);
	background: #fff;
	bottom: 0;
	left: 46px;}
	.struktura-line ul ul  .last2{position: absolute;
	width: 8px;
	height: 24px;
	background: #fff;
	bottom: 0;
	left: 46px;}
	.dr_block{position:relative;min-height:55px;margin-left: 8px;}
.dr_block_img{
border: 1px solid #FFFFFF;width: 24px;
height: 24px; top:7px; border-radius:12px;}
.dr_block_img1{left:0;z-index:50;}
.dr_block_img2{left:20px;z-index:40;}
.dr_block_img3{left:40px;z-index:30;}
.dr_block_img4{left:60px;z-index:20;}
.dr_block_img5{left:80px;z-index:10;}
.dr_block_img:hover{z-index:60;}
.dr_block_all{padding-left:108px;font-size: 12px;
line-height: 15px;
color: #633BB2;padding-top:11px;}
.dr_zag{font-size: 18px;
line-height: 23px;
padding-bottom: 12px;padding-left:12px;}
.status{padding-left:24px;font-size: 14px;
line-height: 18px;color: #4F4F4F;background:url(/src/assets/img/yell-status.png);background-repeat: no-repeat;
background-position-x: left;
background-position-y: center;}
.status-otkaz{padding-left:24px;font-size: 14px;
line-height: 18px;color: #4F4F4F;background:url(/src/assets/img/red-status.png);background-repeat: no-repeat;
background-position-x: left;
background-position-y: center;}
.zayavka1{padding:36px;}
.status-name{font-size: 12px;
line-height: 15px;padding:5px 12px;border-radius: 4px;}
.status-name-pink{color: #CF7C6D;background: rgba(242, 153, 74, 0.12);
border: 1px solid rgba(242, 153, 74, 0.12);
}
.status-name-gray{color: #4F4F4F;background: #F2F2F2;
border: 1px solid #E0E0E0;
}
.status-name-purple{color: #C16DCF;background: rgba(193, 109, 207, 0.12);
border: 1px solid rgba(193, 109, 207, 0.12);
}

.status-name-bluer{color: #538BA9;background: rgba(74, 182, 242, 0.12);
border: 1px solid rgba(58, 171, 235, 0.12);
}


	.zayavka1{max-width:1144px;border-radius: 12px;background: #fff;}
.zayavka1-header{position:relative;}
.zayavka1-krest{position:absolute; right: 0; top:calc(50% - 14px);}
.zayavka1-tochki{position:absolute;right:56px;top:calc(50% - 12px);}
.zayavka1-text{color: #4F4F4F;font-size: 14px;
line-height: 160%;}
.file-select {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.file-select + label {
  font-size: 14px;
line-height: 18px;
cursor: pointer;
color: #633BB2;
}



.zayavka-select-file{
background-image: url("/src/assets/img/downplus.svg");
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;
background-size: contain;
padding-left:33px;
}
option{font-size:11px;}
.zayavka1 .form-control::placeholder {
	color: #828282;
	font-size: 12px;
line-height: 150%;
}
.komments_img{width: 36px;
height: 36px;border-radius:18px;}
.obvodka{border: 1px solid #F2F2F2;border-radius: 12px;padding:28px 21px 24px 24px;}
.img24{width: 24px;
height: 24px;border-radius:12px;}
.purple12-15{font-size: 12px;
line-height: 15px;
color: #633BB2;}
.btn-success{font-size: 14px;
line-height: 18px;color: #FFFFFF;background: #4EAF75;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
border-radius: 5px;}
.btn-danger{font-size: 14px;
line-height: 18px;color: #EB5757;background: rgba(235, 87, 87, 0.16);
border: 1px solid rgba(235, 87, 87, 0.2);
box-sizing: border-box;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
border-radius: 5px;}
.zayavka1 .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
 border-top-right-radius: 5px; 
 border-bottom-right-radius: 5px; 
}
.zayavka1 .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
	border-top-left-radius: 5px; ;
	border-bottom-left-radius:5px; ;
}
.p12-24{padding:12px 24px;}
.btn-success2{font-size: 12px;
line-height: 15px;
text-align: center;
color: #4EAF75;background: rgba(78, 175, 117, 0.16);
border: 1px solid rgba(78, 175, 117, 0.16);
box-sizing: border-box;
border-radius: 5px;}
.zayavka1 .btn-link{font-size: 12px;
line-height: 15px;
text-align: center;
color: #8B80A0;}
.zayavka1 .btn-link:hover{text-decoration:none;}
.zayavka1-vspliv{width: 164px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
box-sizing: border-box;
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
border-radius: 12px;
padding:20px 12px;position:absolute;right:48px;top: calc(50% + 18px);z-index:500;}
.zayavka1-vspliv_pen{background-image: url("/src/assets/img/pen.svg");
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;
padding-left:25px;}
.zayavka1-vspliv_basket{font-size: 14px;
line-height: 18px;
color: #EB5757;background-image: url("/src/assets/img/basket.svg");
background-repeat: no-repeat;
background-position-y: center;
background-position-x: left;
padding-left:25px;}
.mw62{max-width:62px!important;}
.vhodyashie_popup1 {
	position: absolute;
	width: 84px;
	height: 72px;
	right: -20px;
	top: 8px;
	background: url(/src/assets/img/ugolok.png);
	background-repeat: no-repeat;
	z-index: 65;
	pointer-events: none;
}
.vhodyashie_popup{background: #333333;
border-radius: 10px;width: 230px;padding:16px 17px;
position: absolute;
top:44px;right:-10px;
z-index:25;
}
.vhodyashie_popup_img{width: 48px;
height: 48px;border-radius: 24px;}
.vhodyashie_popup_zag{font-size: 14px;
line-height: 18px;
color: #FFFFFF;}
.vhodyashie_popup_dolgnost{font-size: 11px;
line-height: 139.45%;
color: #828282;}
.vhodyashie_popup_kontakt{font-size: 11px;
line-height: 139.45%;
color: #F4F2FC;}
.vhodyashie_popup_btn{font-size: 12px;
line-height: 15px;color: #F4F2FC;border-radius: 5px;border: 1px solid #4F4F4F;padding-top:12px;padding-bottom:12px;}
.zag_18_23{font-size: 18px;
line-height: 23px;}
.gray_text{font-size: 14px;
line-height: 25px;
color: #8B80A0;}
.container772{max-width:772px;}
.form528{max-width:528px; margin-left:auto;margin-right:auto;}
.purple{color:#633BB2;}
.form528::placeholder{color:#000000;font-size: 12px;
line-height: 15px;}
.form528 .form-control{padding-top:9px;padding-bottom:10px;padding-left:16px;}
#vibrat_kat{border: none;  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;margin-left:-5px;}
  .form-poyasnenie{font-size: 10px;
line-height: 14px;
color: #828282;}
.zayavka-down-file{font-size: 12px;
line-height: 150%;color: #333333;padding-top:8px;padding-bottom:8px;background: #EBEAF0;
border: 1px solid rgba(99, 59, 178, 0.06);
border-radius: 5px;}
.zayavka-file_stroka{padding-top:24px;padding-bottom:24px;border-top: 1px solid #F2F2F2;border-bottom: 1px solid #F2F2F2;}
.form528 .top-poisk_arr{background-position-x: calc(100% - 22px);
padding-right: 40px;color: #828282;
font-size: 12px;
line-height: 15px;}
.btn-light{background: #F2F2F2;
border: 1px solid #E0E0E0;color: #8B80A0;font-size: 12px;
line-height: 15px;
box-sizing: border-box;
border-radius: 5px;}

.dobavlenie_nov_prov_input::placeholder{font-size: 12px;
line-height: 15px;
color: #828282;}
.dobavlenie_nov_prov_input{padding-top:11px;padding-bottom:10px;padding-left:16px;font-size: 12px;
line-height: 15px;color: #000000;}
.dobavlenie_nov_prov_input:focus{color: #000000;}
.btn-link2{color: #8B80A0;font-size: 14px;
line-height: 18px;border: 1px solid rgba(139, 128, 160, 0.12);
filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.08));
border-radius: 5px;padding:12px 24px;}
.textarea_label{color: #828282;text-transform: uppercase;font-size: 10px;
line-height: 13px;}
.knopki_napravo{
    margin-left: calc(100% - 245px);
}
.prichina_otkaza{background: #F2F2F2;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px; padding:16px 24px;position:relative;}
.prichina_otkaza_img{position:absolute;top:0px;right:0px;}
.prichina_otkaza_text{font-size: 14px;
line-height: 160%;color: #000000;}
.btn-white{color: #8B80A0;background: #FFFFFF;border: 1px solid #F2F2F2;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
border-radius: 5px;}
.moi-zayavki_top_line_name{font-size: 14px;
line-height: 18px;color: #333333;margin-right:22px;}
.moi-zayavki_top_line_name.active{color: #633BB2; position:relative;}
.active .moi-zayavki_top_line_kolvo{color: #633BB2;}
.moi-zayavki_top_line_kolvo{color: #BDBDBD;padding-left:8px;}
.moi-zayavki_top_line_gorline{position:absolute;top:20px;}
.moi-zayavki_top_line_gorline img{height:3px; width:calc(100% - 16px);}
.tipa_input{position:relative;}
.tipa_input_icon{position: absolute;
	width: 12px;
	height: 7px;
	right: 12px;
	top: calc(50% - 4px);

	background-repeat: no-repeat;
	z-index: 65;}
.tipa_input_icon-up{
	background: url(/src/assets/img/icon-up.png);
	}
	.tipa_input_icon-down{
	background: url(/src/assets/img/icon-down.png);
	}
	.img18_18{width: 18px;
height: 18px;border-radius:9px;}
.tipa_input_item{font-size: 12px;
line-height: 15px;padding:4px 8px;background: #F4F2FC;
border: 1px solid #ECEAF9;
border-radius: 5px;}
.tipa_input{border: 1px solid #F4F2FC;border-radius: 5px;padding:12px;}
.img36_36{width: 36px;object-fit: cover;
height: 36px;border-radius:18px;}
.tipa_input_option_dolgnost{font-size: 11px;
line-height: 139.45%;color: #828282;}
.tipa_input_options{padding:20px;background: #FFFFFF;border: 1px solid #F2F2F2;box-shadow: 0px 16px 12px rgba(0, 0, 0, 0.05);
border-radius: 5px;}
.top-poisk_versiya-2{font-size: 12px;
line-height: 15px;padding-top:8px;padding-bottom:8px;background: #F2F2F2;border: 1px solid #E0E0E0;border-radius: 5px;
background-image: url(/src/assets/img/icon-down.png);
background-repeat: no-repeat;
background-position-y: center;
background-position-x: calc(100% - 12px);
padding-right:34px;
color: #4F4F4F;
}
.tipa_input_empty{font-size: 12px;
line-height: 15px;
color: #828282;}
@media (min-width: 1200px) {
nav{border-right:1px solid #F2F2F2;border-left:1px solid #F2F2F2;}
.profile_name_atr{float:left;}
.max20{max-width:20%;}
.pl49{padding-left:49px;}
}
@media (max-width: 1199px) {
.profile-work-etap_box_boll{left:-20px;}
 .prof-head{border-top:1px solid #F2F2F2;}
 .top_profile_img_mobi{position:absolute; border: 1px solid #FFFFFF;width: 24px;
height: 24px;border-radius:12px; top:7px; right:12px;}
.top_profile_img_mobi img{
	width: 100%;
}
.profile_name_atr_mobi{margin-top:16px;margin-bottom:8px;}
.ptofile-cart, .profile-work_block {
margin-left: -3px;
margin-right: -3px;
}
.profile-work_block {
margin-left: -3px;margin-right: 1px;
}
.mb12mobi{margin-bottom:12px;}
.profile-work_block2 {
	margin-left: 0px;margin-right: -2px;
}
.profile-work_block3{margin-right: -2px;}
.profile-work .mt24{margin-top:12px;}
.intro{max-width: 351px;}
.intro-message{max-width:300px;}
.dr .profile_name_date {margin-left:66px;}
}
@media screen and (min-width: 1072px){
	.no-mobail{min-width:1072px;}
}
@media (max-width: 520px) {
.zayavka1-tochki {
  
    right: -4px;
    top: calc(50% + 12px);
	z-index:20;
}
#vibrat_kat{font-size: 12px;
line-height: 15px;}
}
.profile-work_doc_box{
	cursor: pointer;
}

/*--------------------*/
.dropdown_sidebar{
	margin: 5px 0 0 0;
}
.dropdown_sidebar svg{
	transition: transform 1s;
}
.dropdown_sidebar svg.active{
	transform: rotate(90deg);
}
.my_app-banner{
	height: 336px;
	border-radius: 5px;
}
.profile-work_doc-singly{
	border-radius: 5px;
}
.icon-doc-soc{
	position: absolute;
	top: 12px;
}
.dropdown_sidebar__menu{
	display: none;
	list-style: none;
	padding: 0 0 0 36px;
	word-break: break-word;
}
.dropdown_sidebar__menu a{
color: #333333;
}
.dropdown_sidebar__menu a:hover{
	color: #633BB2;
}

.dropdown_sidebar__menu li{
	margin: 16px 0 0 0;
}

.line_item_img{
	max-width: 36px;
	width: 36px;
	border-radius: 50%;
}
.line_item_img *{
	width: 100%;
	height: 100%;
}
.about-text{
	font-size: 14px;
	line-height: 179.7%;
	color: #333333;
}

.tab_select{
	cursor: pointer;
	position: relative;
}

.tab_select.active::after{
	content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #633BB2;
    bottom: -5px;
    left: 0;
}