.mt70 {
  margin-top: 70px; }

.zayavka_form {
  width: 528px;
  display: block;
  margin: 0 auto; }
  .zayavka_form h1 {
    text-align: center; }

.zayavka_form__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-top: 7px; }

.zayavka_form__choose_ancat {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #633BB2; }

.zayavka_form_select {
  position: relative; }
  .zayavka_form_select ul {
    width: 100%;
    position: absolute;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px 15px 6px 15px;
    border: 1px solid #E0E0E0;
    border-top: none;
    z-index: 100;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .zayavka_form_select ul li:nth-child(n+2) {
      margin-top: 7px; }
    .zayavka_form_select ul li {
      cursor: pointer; }
      .zayavka_form_select ul li:hover {
        color: #322A42; }

.zayavka_form_select__title {
  border-bottom: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative; }
  .zayavka_form_select__title:after {
    content: "";
    background: url("../../img/select_open.png");
    width: 12px;
    height: 7px;
    position: absolute;
    right: 0;
    top: calc(50% - 4px);
    right: 14px; }

.zayavka_form__item {
  margin-top: 24px;
  display: flex;
  flex-direction: column; }
  .zayavka_form__item input[type="text"] {
    transition: box-shadow .6s ease;
    color: #828282; }
    .zayavka_form__item input[type="text"]:focus {
      box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1); }
    .zayavka_form__item input[type="text"]:placeholder {
      color: #B9B9B9; }
  .zayavka_form__item label {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333; }
  .zayavka_form__item select {
    display: none; }
  .zayavka_form__item .zayavka_form__item-form {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3B3; }
    .zayavka_form__item .zayavka_form__item-form.zayavka_form_select {
      padding: 0; }
  .zayavka_form__item .zayavka_form__row-item-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 10px 300px;
    grid-template-columns: 1fr 300px;
    grid-column-gap: 10px;
    align-items: center; }
  .zayavka_form__item .zayavka_form__row-item-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .zayavka_form__item .zayavka_form__row-item-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
    .zayavka_form__item .zayavka_form__row-item-form .zayavka_form__item-form {
      width: 100%; }
    .zayavka_form__item .zayavka_form__row-item-form label {
      margin: 0;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #787878; }
    .zayavka_form__item .zayavka_form__row-item-form:nth-child(n+3) {
      margin-top: 24px; }

.zayavka_form__radio-box {
  display: flex;
  align-items: center; }
  .zayavka_form__radio-box input[type="radio"] {
    display: none; }
  .zayavka_form__radio-box input[type="radio"]:checked + label:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 2px;
    top: 4px;
    border-radius: 50%;
    background: #8B80A0; }
  .zayavka_form__radio-box label:nth-child(n+3) {
    margin: 0 0 0 15px; }
  .zayavka_form__radio-box label {
    padding: 0 0 0 20px !important;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #787878;
    position: relative; }
    .zayavka_form__radio-box label:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      left: 0;
      top: calc(50% - 6px);
      border-radius: 50%;
      border: 1px solid #8B80A0; }

.zayavka_form__between-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px; }

.zayavka_form__between-input > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.zayavka_form__between-input > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.zayavka_form__row-three-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 4px 102px 4px 38px;
  grid-template-columns: 1fr 102px 38px;
  grid-column-gap: 4px; }

.zayavka_form__row-three-items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.zayavka_form__row-three-items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.zayavka_form__row-three-items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }
  .zayavka_form__row-three-items > * {
    margin: 0; }

.zayavka_form__add-item-click {
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background: #E0E0E0;
  position: relative;
  cursor: pointer; }
  .zayavka_form__add-item-click:after {
    content: "";
    position: absolute;
    background: url("../../img/add_plus.png");
    width: 7px;
    height: 7px;
    top: calc(50% - 3.5px);
    right: calc(50% - 3.5px); }
  .zayavka_form__add-item-click:hover {
    background: #D0D0D0; }
  .zayavka_form__add-item-click:focus {
    box-shadow: inset 0px 0px 21px rgba(117, 117, 117, 0.36); }

.zayavka_form__row-two-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 190px;
  grid-template-columns: 1fr 190px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr; }

.zayavka_form__row-two-items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.zayavka_form__row-two-items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2; }

.zayavka_form__line-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 116px;
  grid-template-columns: 1fr 116px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  align-items: center; }

.zayavka_form__line-input > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.zayavka_form__line-input > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2; }

.zayavka_form_users {
  margin-top: 25px; }
  .zayavka_form_users .zayavka_form_users__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px; }
  .zayavka_form_users .zayavka_form_users__user-fio {
    display: flex;
    align-items: center; }
    .zayavka_form_users .zayavka_form_users__user-fio > *:nth-child(1) {
      width: 24px;
      height: 24px;
      border-radius: 50%; }
    .zayavka_form_users .zayavka_form_users__user-fio > *:nth-child(2) {
      margin-left: 8px;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #322A42; }

.zayavka_form__button-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 39px;
  grid-template-rows: 39px;
  -ms-grid-columns: 96px 12px 96px;
  grid-template-columns: 96px 96px;
  grid-column-gap: 12px;
  margin-top: 50px; }

.zayavka_form__button-box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.zayavka_form__button-box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .zayavka_form__button-box input {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    border-radius: 5px;
    margin: 0; }
  .zayavka_form__button-box > *:nth-child(1) {
    background: #633BB2;
    border: 1px solid rgba(220, 218, 232, 0.2);
    color: #FFFFFF; }
  .zayavka_form__button-box > *:nth-child(2) {
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    color: #8B80A0; }

.assort_main_box .zayavka_form_select__title {
  display: flex; }

.assort_main_box .assort_main_box__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: auto 7px 1fr;
  grid-template-columns: auto 1fr;
  padding: 7px;
  align-items: center;
  grid-column-gap: 7px;
  border-bottom: 1px solid #E0E0E0; }

.assort_main_box .assort_main_box__title > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.assort_main_box .assort_main_box__title > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .assort_main_box .assort_main_box__title input {
    border: 0;
    margin: 0; }
    .assort_main_box .assort_main_box__title input:focus {
      box-shadow: none; }

.assort_main_box .assort_main_box__group {
  display: flex; }
  .assort_main_box .assort_main_box__group > div {
    background: #E0D8F0;
    border-radius: 3px;
    height: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #633BB2;
    padding: 1px 25px 1px 7px;
    position: relative; }
    .assort_main_box .assort_main_box__group > div:after {
      content: "";
      position: absolute;
      background: url("../../img/assort_plus.png");
      width: 7px;
      height: 6px;
      right: 8px;
      top: calc(50% - 3px); }
  .assort_main_box .assort_main_box__group > div:nth-child(n+2) {
    margin-left: 2px; }
