.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #947ADA;
}
#cbx:checked + .toggle span {
  background: #4F2EDC;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25);
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* .center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
} */
.admin_a_all{padding-right: .5rem;
padding-left: .5rem;}
.admin_dobavka{font-size: 16px;
line-height: 20px;
color: #633BB2;}
.form528 .form-control {font-size: 14px;
line-height: 18px;
	color: #000;
}
.kompany-work{font-size: 16px;
line-height: 20px;color: #333333;}
.admin_dobavit{font-size: 14px;
line-height: 18px;
color: #633BB2;}
.btn-white{background: #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
border-radius: 5px;}
.zayavka1-vspliv_nastroy {
	background-image: url("/src/assets/img/nastroy.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: left;
	padding-left: 25px;
}
.serviss-on{background-image: url("/src/assets/img/serviss-on.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: left;
	padding-left: 16px;
	font-size: 14px;
line-height: 18px;color: #333333;
}
.form-pen{margin-left: calc(100% - 66px);}
select:disabled {font-size: 14px;
line-height: 18px;
color: #8B80A0;}
.udalenie{position:relative;}
.vspliv-udalenie{background: #FFFFFF;
z-index: 999;
border: 1px solid #E0E0E0;
box-sizing: border-box;
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
border-radius: 12px;padding:16px;width:366px; position:absolute;right:-13px;top:42px;}
.btn-danger{color: #FFFFFF;background: #EB5757;
border: 1px solid rgba(255, 255, 255, 0.16);
box-sizing: border-box;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
border-radius: 5px;}
.vspliv-udalenie_title{font-size: 14px;
line-height: 18px;
color: #333333;}