@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	font-family: 'Rubik', sans-serif;
	box-sizing: border-box;
}
.overflow{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
}

button:focus{
	outline: none;
}

.notification_wrap{
    position: fixed;
    z-index: 999;
    right: 40px;
    top: 40px;
}
.notification{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    max-width: 350px;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.24);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
.notification img{
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 12px;
    cursor: pointer;
}
.notification-success{
    background-color: #48d448;
}
.notification-error{
    background-color: #EB5757;
}
.notification-notice{
    background-color: #8B80A0;
}
.profile-work_doc_box .float-left img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.uroven .float-left{
    width: 50px;
    height: 50px;
}
.uroven .float-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user_logo img{
    object-fit: cover;
    border-radius: 50%;
}
.profile_name_mail{
   word-break: break-word;
}
.text_decoration_dotted{
    text-decoration: underline;
    text-decoration-style: dotted;
}
.form-control{
    border: 1px solid #789bbd !important;
}
.tipa_input{
    border: 1px solid #789bbd !important;
}
.top_tabs_row{
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
}
.top_tabs_row, .tabs_left_row, .tabs_right_row{
    display: flex;
    flex-wrap: wrap;
}
.tabs_left_row .tab{
    display: flex;
    flex-wrap: wrap;
    margin-right: 18px;
    cursor: pointer;
}
.tab_name, .tab_count{
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    font-weight: normal;
    font-style: normal;
}
.tab_name{
    margin-right: 8px;
}
.tabs_left_row .tab.active .tab_name, .tabs_left_row .tab.active .tab_count{
    color: #633BB2;
}
.tabs_left_row .tab.active .tab_name{
    border-bottom: 2px solid #633BB2;
    padding-bottom: 10px;
}
.fl{
    float: left;
}
.dropdown_sidebar{
    cursor: pointer;
    margin: 5px 0 0 0;
}
.dropdown_sidebar.active{
    background: rgb(244, 242, 252);
}
.dropdown_sidebar svg{
    transition: transform 1s;
}
.dropdown_sidebar svg.active{
    transform: rotate(90deg);
}
.dropdown_sidebar svg.active path{
    fill: rgb(99, 59, 178);
}
.my_app-banner{
    height: 336px;
    border-radius: 5px;
}
.profile-work_doc-singly{
    border-radius: 5px;
}
.icon-doc-soc{
    position: absolute;
    top: 12px;
}
.dropdown_sidebar__menu{
    display: none;
    list-style: none;
    padding: 0 0 0 36px;
    word-break: break-word;
}
.dropdown_sidebar__menu a{
    color: #333333;
}
.dropdown_sidebar__menu a.active{
    color: #633BB2;
}
.dropdown_sidebar__menu a:hover{
    color: #633BB2;
}

.dropdown_sidebar__menu li{
    margin: 16px 0 0 0;
}
.dropdown_sidebar__menu.active{
    display: block;
}