<template>
	<div id="birthdays">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Обучение</h1>
	                <div class="row">
	                    <div class="col-lg-7">
	                        <div class="my_app-banner" style="background: url('/upload/inno.png') no-repeat center;">
	                        </div>
	                        <h1 class="mt24">Уважаемый коллега!</h1>
	                        <span class="fs14-18"><a href="#">Ссылка</a> будет в таком виде</span>
	                        <div class="profile-work_doc_box profile-work_doc_box_last mt24 profile-work_doc-singly">
	                            <div class="row align-items-center">
	                                <div class="col-12">
	                                    <a href="">
	                                        <div class="icon-doc">
	                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                                <path d="M7.65392 0.398315C7.85191 0.443947 8.0271 0.516513 8.19937 0.624248C8.37163 0.731982 8.51117 0.845076 8.87633 1.21024L11.1238 3.45773C11.489 3.82289 11.6021 3.96243 11.7098 4.1347C11.8176 4.30697 11.8901 4.48216 11.9358 4.68015C11.9814 4.87814 12.0001 5.05678 12.0001 5.57319V10.4368C12.0001 11.3283 11.9073 11.6516 11.7329 11.9775C11.5586 12.3034 11.3029 12.5592 10.9769 12.7335C10.651 12.9078 10.3277 13.0007 9.4362 13.0007H3.23063C2.33911 13.0007 2.01583 12.9078 1.6899 12.7335C1.36398 12.5592 1.10819 12.3034 0.933881 11.9775C0.759574 11.6516 0.666748 11.3283 0.666748 10.4368V2.89787C0.666748 2.00635 0.759574 1.68306 0.933881 1.35714C1.10819 1.03121 1.36398 0.775424 1.6899 0.601117C2.01583 0.42681 2.33911 0.333984 3.23063 0.333984H6.76087C7.27729 0.333984 7.45593 0.352683 7.65392 0.398315ZM7.20008 1.61683C7.08962 1.61683 7.00008 1.70637 7.00008 1.81683V4.334C7.00008 4.51809 7.14932 4.66733 7.33341 4.66733H9.85057C9.90362 4.66733 9.95449 4.64626 9.99199 4.60875C10.0701 4.53065 10.0701 4.40402 9.99199 4.32591L7.3415 1.67541C7.304 1.6379 7.25312 1.61683 7.20008 1.61683Z" fill="#8B80A0" />
	                                            </svg>
	                                        </div>
	                                        <div class="pl23">
	                                            <div class="black14-18">Квартальный отчет по сотрудникам.xlsx</div>
	                                            <div class="gray12-15 mt3">371.2 Kb</div>
	                                        </div>
	                                    </a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'birthdays',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				users: {},
				user: {},
				email: '',
				pass: '',
				show_all: false,
				set_position: {
					position: 'absolute'
				},
				byName: '',
				selectedDivision: null,
			}
		},
		created(){
			this.setPageTitle('Обучение');
			let params;
        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserDivisions',
        	}

        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserPositions',
        	}

        	this.ajaxSimpleRequest(params);
		},
		methods:{
			renderUsersBirthday: function(params){
				this.users = params;
			},
			renderUser: function(params){
				this.user = params;
			},
			set_show: function(event){
				if(this.show_all)
					this.show_all = false;
				else
					this.show_all = true;
			}
		}
	}
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>