<template>
	<div id="docs">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar :user="user"></left-side-bar>
				<div class="col-xl-9">
					<div>
						<ol class="breadcrumb ">
							<li class="breadcrumb-item">
								<a href="/#profile" v-on:click="sendAjaxRequest">Профиль</a>
							</li>
							<li class="breadcrumb-item active">Товарно-материальные ценности</li>
						</ol>
					</div>
					<h1 class="mb36">Товарно-материальные ценности</h1>
					<div class="profile-work_doc_box" v-if="accessories.accessories != null" v-for="(accessory, index) in accessories.accessories" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == accessories.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="row align-items-center">
							<div class="col-10">
								<div class="black14-18">{{ accessory.name }}</div>
								<div class="gray12-15 mt3">{{ accessory.article }}</div>
							</div>
							<div class="col-2 text-right">
								<div class="black14-18 ">{{ accessory.count }} шт.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'accessories',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				user: {},
				docs: {},
				accessories: {},
			}
		},
		props: {
			userID: String,
		},
        created(){
        	this.setPageTitle('Товарно-материальные ценности');
        	let params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserAccessories',
        		limit: '50',
        		id: this.userID,
        	}
        	this.ajaxSimpleRequest(params);
        },
		methods:{
			renderUser: function(params){
				this.user = params;
			},
			renderAccessories: function(params){
				this.accessories = params;
			},
		}
	}
</script>