<template>
	<div class="col-xl-3 max20">
		<div class="align-items-center top_profile d-none d-xl-block">
			<div class=" top_profile_img sidebar_logo">
				<img class="" :src="user.logo" alt="Закирова Гульнара">
			</div>
			<div class="top_profile_name">
				{{ user.name }}
			</div>
			<div class="">
				<a href="/admin/profile/">
					<div class="top_profile_arrow">
						<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.219727 2.03125L1.28039 0.970591L6.31072 6.00092L1.28039 11.0313L0.219727 9.97059L4.1894 6.00092L0.219727 2.03125Z" fill="#BDBDBD"/>
						</svg>
					</div>
				</a>
			</div>
		</div>
		<nav class="navbar-light navbar-expand-xl">
			<div class="d-block d-xl-none top_profile_img_mobi">
				<img class="" :src="user.logo" alt="Закирова Гульнара">
			</div> 
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto flex-column">
					<li class="nav-item" v-if="user.role_id == 1">
						<span class="left_zag">Компании</span>
					</li>
					<li class="nav-item" v-else-if="user.role_id == 2">
						<span class="left_zag">Компания</span>
					</li>
					<li class="nav-item" v-if="user.role_id == 1">
						<button type="button" class="btn btn-primary btn-block mb-20" @click="toCompanyCreate">
							<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.24212 0.714844C10.3611 0.726662 10.9305 0.847245 11.521 1.16302C12.0862 1.46529 12.5331 1.91227 12.8354 2.47746C13.1512 3.06791 13.2718 3.63735 13.2836 4.75631V9.24285C13.2718 10.3618 13.1512 10.9313 12.8354 11.5217C12.5331 12.0869 12.0862 12.5339 11.521 12.8361C10.9305 13.1519 10.3611 13.2725 9.24212 13.2843H4.75558C3.63662 13.2725 3.06717 13.1519 2.47673 12.8361C1.91154 12.5339 1.46455 12.0869 1.16229 11.5217C0.846513 10.9313 0.72593 10.3618 0.714111 9.24285V4.75631C0.72593 3.63735 0.846513 3.06791 1.16229 2.47746C1.46455 1.91227 1.91154 1.46529 2.47673 1.16302C3.06717 0.847245 3.63662 0.726662 4.75558 0.714844H9.24212ZM9.05044 1.85672H4.94726L4.62875 1.85951C3.78345 1.87554 3.40495 1.96263 3.0157 2.17081C2.64967 2.36656 2.36583 2.6504 2.17007 3.01643C1.9619 3.40568 1.87481 3.78418 1.85878 4.62948L1.85599 4.94799V9.05117L1.85878 9.36968C1.87481 10.215 1.9619 10.5935 2.17007 10.9827C2.36583 11.3488 2.64967 11.6326 3.0157 11.8284C3.40495 12.0365 3.78345 12.1236 4.62875 12.1397L4.94726 12.1424H9.05044L9.36894 12.1397C10.2142 12.1236 10.5927 12.0365 10.982 11.8284C11.348 11.6326 11.6319 11.3488 11.8276 10.9827C12.0358 10.5935 12.1229 10.215 12.1389 9.36968L12.1417 9.05117V4.94799L12.1389 4.62948C12.1229 3.78418 12.0358 3.40568 11.8276 3.01643C11.6319 2.6504 11.348 2.36656 10.982 2.17081C10.5927 1.96263 10.2142 1.87554 9.36894 1.85951L9.05044 1.85672ZM6.99983 4.14342C7.31542 4.14342 7.57125 4.39925 7.57125 4.71484V6.42913H9.28554C9.60113 6.42913 9.85697 6.68497 9.85697 7.00056C9.85697 7.31615 9.60113 7.57199 9.28554 7.57199H7.57125V9.28627C7.57125 9.60186 7.31542 9.8577 6.99983 9.8577C6.68423 9.8577 6.4284 9.60186 6.4284 9.28627V7.57199H4.71411C4.39852 7.57199 4.14268 7.31615 4.14268 7.00056C4.14268 6.68497 4.39852 6.42913 4.71411 6.42913H6.4284V4.71484C6.4284 4.39925 6.68423 4.14342 6.99983 4.14342Z" fill="white"/>
							</svg>
							Создать компанию
						</button>
					</li>
					<li class="nav-item" v-if="user.role_id != 3" v-for="(company, index) in companies" :key="company.id" v-bind:class="companies.length == index + 1 ? 'mb8' : ''">
						<a :href="'/admin/company/profile/' + company.id + '/'" class="nav-link left-link">
							<span class="left_label">{{ company.name }}</span>
						</a>
						<a href="/admin/company/all/" class="a_all admin_a_all" v-if="index == 2">Показать все</a>
					</li>				
					<li class="nav-item mb8" v-if="user.role_id == 2">
						<span class="left_zag">администраторы и роли</span>
					</li>
					<li class="nav-item" v-if="user.role_id == 2">
						<a :href="'/admin/profile/all/'" class="nav-link left-link" v-bind:class="allUsersPage ? 'active' : ''">
							<span class="left_icon">
								<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8 3.33341C8 1.86008 6.80667 0.666748 5.33333 0.666748C3.86 0.666748 2.66667 1.86008 2.66667 3.33341C2.66667 4.80675 3.86 6.00008 5.33333 6.00008C6.80667 6.00008 8 4.80675 8 3.33341ZM5.33333 7.00008C7.11333 7.00008 10.6667 7.66675 10.6667 10.0001V10.6667C10.6667 11.0349 10.3682 11.3334 10 11.3334H0.666667C0.298477 11.3334 0 11.0349 0 10.6667V10.0001C0 7.66675 3.55333 7.00008 5.33333 7.00008ZM13.1381 0.86201C13.3984 1.12236 13.3984 1.54447 13.1381 1.80482L11.6093 3.33341H15.3333C15.6752 3.33341 15.957 3.59077 15.9955 3.92233L16 4.00008C16 4.36827 15.7015 4.66675 15.3333 4.66675H11.6093L13.1381 6.19534C13.3984 6.45569 13.3984 6.8778 13.1381 7.13815C12.8777 7.3985 12.4556 7.3985 12.1953 7.13815L9.5286 4.47149C9.26825 4.21114 9.26825 3.78903 9.5286 3.52868L12.1953 0.86201C12.4556 0.601661 12.8777 0.601661 13.1381 0.86201Z"></path>
								</svg>
							</span> 
				  			<span class="left_label">Все пользователи</span>
				  		</a>
                	</li>
					<li class="nav-item" v-bind:class="user.role_id != 3 ? 'mt24' : ''">
						<span class="left_zag">Сервисы</span>
					</li>	
					<li class="nav-item" v-for="(service, index) in services">
						<a :href="'/admin/service/profile/' + service.id + '/'" class="nav-link left-link">
							<span class="left_icon">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.7506 11.434H14.2849V10.846C14.2849 9.45358 13.1521 8.32086 11.7598 8.32086H8.57345V6.14608H9.97033C10.6592 6.14608 11.2197 5.58561 11.2197 4.89667V1.86391C11.2197 1.175 10.6592 0.614502 9.97033 0.614502H6.23823C5.54932 0.614502 4.98885 1.17497 4.98885 1.86391V4.89664C4.98885 5.58554 5.54932 6.14604 6.23823 6.14604H7.63511V8.32083H4.26107C2.86869 8.32083 1.73597 9.45358 1.73597 10.8459V11.434H1.24941C0.56047 11.434 0 11.9945 0 12.6834V14.1361C0 14.825 0.56047 15.3855 1.24941 15.3855H3.16085C3.84976 15.3855 4.41023 14.825 4.41023 14.1361V12.6834C4.41023 11.9945 3.84976 11.434 3.16085 11.434H2.67432V10.846C2.67432 9.97105 3.38613 9.25924 4.26104 9.25924H7.63508V11.434H7.14855C6.45961 11.434 5.89914 11.9945 5.89914 12.6834V14.1361C5.89914 14.825 6.45961 15.3855 7.14855 15.3855H9.05999C9.74889 15.3855 10.3094 14.825 10.3094 14.1361V12.6834C10.3094 11.9945 9.74889 11.434 9.05999 11.434H8.57345V9.25924H11.7598C12.6347 9.25924 13.3466 9.97105 13.3466 10.846V11.434H12.8392C12.1502 11.434 11.5898 11.9945 11.5898 12.6834V14.1361C11.5898 14.825 12.1502 15.3855 12.8392 15.3855H14.7506C15.4395 15.3855 16 14.825 16 14.1361V12.6834C16 11.9945 15.4396 11.434 14.7506 11.434Z"/>
								</svg>
							</span>
							<span class="left_label">{{ service.name }}</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</template>
<script>
	import { library } from './library.js'
	export default{
        name: 'admin-sidebar',
  		mixins: [library],
  		data(){
  			return {
  				user: [],
  				companies: [],
  				services: [],
  				allUsersPage: false,
  			}
  		},
  		created: function(){
  			let params;

  			params = {
  				method: 'getUser',
  				callback: 'sideBarUser',
  			};

  			this.ajaxSimpleRequest(params);

  			params = {
  				method: 'get_companies',
  			}

  			this.ajaxSimpleRequest(params);

  			params = {
  				method: 'get_services',
  				filter: {
  					active: 'Y',
  				}
  			}

  			this.ajaxSimpleRequest(params);
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
            if(urlParams[2] != null && urlParams[2] == 'profile'){
            	if(urlParams[3] != null && urlParams[3] == 'all'){
  					this.allUsersPage = true;
            	}
            }
  		},
  		methods:{
  			sideBarUser: function(params){
  				console.log(params);
  				this.user = params;
  			},
  			toCompanyCreate: function(){
  				window.location.href = '/admin/company/create/';
  			},
  			renderCompanies: function(params){
  				this.companies = params;
  				if(this.companies.length > 3){
  					this.companies.splice(3);
  				}
  			},
  			renderServices: function(params){
  				this.services = params;
  			}
  		}
  	}
</script>
<style scoped>
	.sidebar_logo{
		width: 24px;
		height: 24px;
	}
	.sidebar_logo img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
</style>