<template>
	<div id="admin-all">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<div class="col-xl-9">
					<div class="row">
						<div class="col">	
							<h1 class="mt24 mb36">Все пользователи</h1>
						</div>
						<div class="col text-xl-right" v-if="user.role_id != 3">
							<button type="button" class="btn btn-primary  mt24 mb36" @click="createAdmin">
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.24212 0.714844C10.3611 0.726662 10.9305 0.847245 11.521 1.16302C12.0862 1.46529 12.5331 1.91227 12.8354 2.47746C13.1512 3.06791 13.2718 3.63735 13.2836 4.75631V9.24285C13.2718 10.3618 13.1512 10.9313 12.8354 11.5217C12.5331 12.0869 12.0862 12.5339 11.521 12.8361C10.9305 13.1519 10.3611 13.2725 9.24212 13.2843H4.75558C3.63662 13.2725 3.06717 13.1519 2.47673 12.8361C1.91154 12.5339 1.46455 12.0869 1.16229 11.5217C0.846513 10.9313 0.72593 10.3618 0.714111 9.24285V4.75631C0.72593 3.63735 0.846513 3.06791 1.16229 2.47746C1.46455 1.91227 1.91154 1.46529 2.47673 1.16302C3.06717 0.847245 3.63662 0.726662 4.75558 0.714844H9.24212ZM9.05044 1.85672H4.94726L4.62875 1.85951C3.78345 1.87554 3.40495 1.96263 3.0157 2.17081C2.64967 2.36656 2.36583 2.6504 2.17007 3.01643C1.9619 3.40568 1.87481 3.78418 1.85878 4.62948L1.85599 4.94799V9.05117L1.85878 9.36968C1.87481 10.215 1.9619 10.5935 2.17007 10.9827C2.36583 11.3488 2.64967 11.6326 3.0157 11.8284C3.40495 12.0365 3.78345 12.1236 4.62875 12.1397L4.94726 12.1424H9.05044L9.36894 12.1397C10.2142 12.1236 10.5927 12.0365 10.982 11.8284C11.348 11.6326 11.6319 11.3488 11.8276 10.9827C12.0358 10.5935 12.1229 10.215 12.1389 9.36968L12.1417 9.05117V4.94799L12.1389 4.62948C12.1229 3.78418 12.0358 3.40568 11.8276 3.01643C11.6319 2.6504 11.348 2.36656 10.982 2.17081C10.5927 1.96263 10.2142 1.87554 9.36894 1.85951L9.05044 1.85672ZM6.99983 4.14342C7.31542 4.14342 7.57125 4.39925 7.57125 4.71484V6.42913H9.28554C9.60113 6.42913 9.85697 6.68497 9.85697 7.00056C9.85697 7.31615 9.60113 7.57199 9.28554 7.57199H7.57125V9.28627C7.57125 9.60186 7.31542 9.8577 6.99983 9.8577C6.68423 9.8577 6.4284 9.60186 6.4284 9.28627V7.57199H4.71411C4.39852 7.57199 4.14268 7.31615 4.14268 7.00056C4.14268 6.68497 4.39852 6.42913 4.71411 6.42913H6.4284V4.71484C6.4284 4.39925 6.68423 4.14342 6.99983 4.14342Z" fill="white"></path>
								</svg>Добавить пользователя
							</button>
						</div>
					</div>
					<div class="form-inline top-poisk">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"></path>
									</svg>
								</span>
							</div>
							<input type="text" class="top-poisk-control" placeholder="Поиск по имени" aria-label="Username" aria-describedby="basic-addon1" v-model="byName" @change="(event) => { setFilter(event, 'getUsers', {'name': byName}) }">
						</div>
					</div>
					<div class="profile-work_doc_box sotrudniki-table" v-for="(user, index) in users" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == companies.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="row align-items-center">
							<div class="col-12 ">
								<div class="float-left">
									<img :src="user.logo" class="" alt="">
								</div>
								<a :href="'/admin/profile/' + user.id + '/'">
									<div class="black14-18 pt3">{{ user.name }}</div>
								</a>
								<div class="gray12-15 pt3">{{ user.division }} - {{ user.position }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
	export default{
        name: 'admin-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar
  		},
  		data(){
  			return {
  				byName: '',
  				users: [],
  				user: {},
  				user_style: {},
  				edit: false,
  				companies: [],
  			}
  		},
  		created: function(){
  			let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
  			params = {
  				method: 'getUsers',
  			};

  			this.ajaxSimpleRequest(params);

  			params = {
  				method: 'getUser',
  				callback: 'renderUser',
  			};
  			this.ajaxSimpleRequest(params);
  		},
  		methods:{
  			renderUsers: function(params){
  				this.users = params;
  			},
  			renderUser: function(params){
  				this.user = params;
  			},
  			edit_profile: function(){
  				window.location.href = '/admin/user/edit/' + this.user.id + '/';
  			},
  			createAdmin: function(){
  				window.location.href = '/admin/user/create/';
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
	.top-poisk{
		margin-bottom: 20px;
	}
</style>