<template>
	<div id="admin-profile">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<div class="col-xl-9">
					<div class="row align-items-center prof-head">
						<div>
							<ol class="breadcrumb ">
								<li class="breadcrumb-item"><a href="/admin/profile/all/">Все пользователи</a></li>
								<li class="breadcrumb-item active">{{ user.name }}</li>
							</ol>
						</div>
						<div class="col text-right d-none d-xl-block" v-if="user.id == curUser.id">
							<a href="javascript:void(0)" @click="logout">
								<span class="exit red">Выйти</span>
								<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8 4V3.4C8 2.55992 8 2.13988 7.83651 1.81901C7.6927 1.53677 7.46323 1.3073 7.18099 1.16349C6.86012 1 6.44008 1 5.6 1H3.4C2.55992 1 2.13988 1 1.81901 1.16349C1.53677 1.3073 1.3073 1.53677 1.16349 1.81901C1 2.13988 1 2.55992 1 3.4V10.6C1 11.4401 1 11.8601 1.16349 12.181C1.3073 12.4632 1.53677 12.6927 1.81901 12.8365C2.13988 13 2.55992 13 3.4 13H5.6C6.44008 13 6.86012 13 7.18099 12.8365C7.46323 12.6927 7.6927 12.4632 7.83651 12.181C8 11.8601 8 11.4401 8 10.6V10M5 7H14M14 7L11 10M14 7L11 4" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
					</div>
					<div class="row align-items-center ptofile-cart">
						<div class="col-xl-9">
							<div class="row align-items-center">
								<div class="col-xl-2 p-0 text-center text-xl-left">
									<div class="user_logo profile_logo" v-bind:style="user_style">
									</div>
								</div>
								<div class="col-xl-10 text-center text-xl-left">
									<div class="profile_name gray pt-3">{{ user.name }}</div>
									<div class="profile_name_work float-left">
										{{ user.division }}<span>•</span>
									</div>
									<div class="profile_name_work">{{ user.position }}</div>
									<div class="">
										<div class="profile_name_atr_mobi">
											<a href="javascript:void(0)">
												<span class="profile_name_phone gray profile_name_atr">{{ user.mobile }}</span>
											</a>
										</div>
										<div class="profile_name_atr_mobi">
											<a href="javascript:void(0)">
												<span class="profile_name_mail gray profile_name_atr">{{ user.email }}</span>
											</a>
										</div>
										<div class="profile_name_atr_mobi">
											<a href="javascript:void(0)">
												<span class="profile_name_num gray profile_name_atr">{{ user.phone_inner }}</span>
											</a>
										</div>
										<div class="profile_name_atr_mobi">
											<a href="javascript:void(0)">
												<span class="profile_name_num2 gray profile_name_atr">{{ user.phone_outer }}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 text-center text-xl-right">
							<button type="button" class="btn btn-link3 gray14-18 mb24" v-if="curUser.role_id != 3" @click="edit_profile">
								<span class=" zayavka1-vspliv_pen">Редактировать</span>
							</button>
							<div class="">
								<button class="btn btn-link3 gray14-18 mb24">
									<span>{{ user.role }}</span>
								</button>
							</div>
						</div>
					</div>
					<div class="row profile-work">
						<div class="col-xl-12 pl-xl-0 pr-xl-0 mb24">
							<div class="profile-work_block profile-work_block3">
								<div class="row">
									<div class="col-12">
										<div class="profile-work_zag gray">Сервисы, доступные пользователю</div>
									</div>
								</div>
								<div class="profile-work_doc_box" v-for="(service, index) in services" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == services.length ? 'bt-none' : 'profile-work_doc_box_last bt-none')">
									<div class="pl23 row  align-items-center">
										<div class="col-9">
											<div class="black14-18">{{ service.name }}</div>
										</div>
										<div class="col-3">
											<div class="checkbox_wrap">
												<input type="checkbox" :id="'cbx' + service.id" v-bind:checked="(service.user_access != null && service.user_access == 'Y') || service.user_access == null" style="display:none"/>
												<label :for="'cbx' + service.id" class="toggle ml-auto" @click="(event) => { setUserAccessService(service.id) }">
													<span></span>
												</label>    
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
	export default{
        name: 'admin-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar
  		},
  		data(){
  			return {
  				user: {},
  				user_style: {},
  				edit: false,
  				services: [],
  				pageParams: [],
  				curUser: {},
  			}
  		},
  		created: function(){
  			let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
            this.pageParams = urlParams;
  			params = {
  				method: 'getUser',
  			};
            if(urlParams[3] != null && urlParams[3] > 0){
            	params['id'] = urlParams[3]
            }

  			this.ajaxSimpleRequest(params);
  			params = {
  				method: 'getUser',
  				callback: 'renderCurUser',
  			};
  			this.ajaxSimpleRequest(params);
  		},
  		methods:{
  			renderUser: function(params){
  				this.user = params;
				this.user_style = {
					'border-radius': '50%',
					'background': 'url(' + this.user.logo + ') center / cover no-repeat', 
				}
	  			params = {
	  				method: 'get_services',
	  				id: (this.pageParams[3] != null && this.pageParams[3] > 0 ? this.pageParams[3] : this.user.id),
	  			}

	  			this.ajaxSimpleRequest(params);
  			},
  			renderCurUser: function(params){
  				this.curUser = params;
  			},
  			renderServices: function(params){
  				this.services = params;
  			},
  			edit_profile: function(){
  				window.location.href = '/admin/user/edit/' + this.user.id + '/';
  			},
  			setUserAccessService: function(id){
  				let userID = this.user.id;
  				let params = {
  					method: 'setUserAccessService',
  					service_id: id,
  					user_id: userID,
  				}
  				this.ajaxSimpleRequest(params);
  			},
  			userAccessResponce: function(params){
  				console.log(params)
  				this.notification(params.status, params.message);
  			},
			logout: function(){
				let params = {
					method: 'logout',
				}

				this.sendAjaxRequest(params);
			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
</style>