<template>
    <div id="main">
        <div id="loader" v-if="preloader">
            <pre-loader></pre-loader>
        </div>
        <admin-all v-if="page === 'admin-all'"></admin-all>
        <admin-profile v-if="page === 'admin-profile'"></admin-profile>
        <edit-profile :type="type" v-if="page === 'edit-profile'"></edit-profile>

        <company-all v-if="page === 'company-all'"></company-all>
        <company-profile v-if="page === 'company-profile'"></company-profile>
        <edit-company :type="type" v-if="page === 'edit-company'"></edit-company>

        <service-all v-if="page === 'service-all'"></service-all>
        <service-profile :type="type" v-if="page === 'service-profile'"></service-profile>
        <service-settings :type="type" v-if="page === 'service-settings'"></service-settings>

        <auth-form :admin="adminAuth" :restoreData="restoreData" v-if="page === 'auth'"></auth-form>
        <profile :userID="userID" v-if="page === 'profile'"></profile>
        <accruals :userID="userID" v-if="page === 'accruals'"></accruals>
        <work-in-company :userID="userID" v-if="page === 'work_in_company'"></work-in-company>
        <docs :userID="userID" v-if="page === 'docs'"></docs>
        <accessories :userID="userID" v-if="page === 'accessories'"></accessories>
        <dictionary v-if="page === 'dictionary'"></dictionary>
        <create-request v-if="page === 'create'"></create-request>
        <structure v-if="page === 'structure'"></structure>
        <birthdays v-if="page === 'birthdays'"></birthdays>
        <my-requests v-if="page === 'my_requests'"></my-requests>
        <inbox v-if="page === 'inbox' || page === 'inbox_matching' || page === 'inbox_perform'"></inbox>
        <watching v-if="page === 'watching'"></watching>

        <about-education v-if="page === 'about-education'"></about-education>
        <wiki-templates v-if="page === 'wiki'"></wiki-templates>
        <wiki-manuals v-if="page === 'wiki-manuals'"></wiki-manuals>
        <wiki-press v-if="page === 'wiki-press'"></wiki-press>
        <wiki-video v-if="page === 'wiki-video'"></wiki-video>
        <wiki-video-detail v-if="page === 'wiki-video-detail'"></wiki-video-detail>
        <useful-links v-if="page === 'useful-links'"></useful-links>

        <registry-contract v-if="page === 'registry-contract'"></registry-contract>

        

        <not-found v-if="page === '404'"></not-found>
    </div>
</template>

<script>
    import { library } from './library.js'

    import AuthForm from './AuthForm.vue';
    import CreateRequest from './CreateRequest.vue';
    import Profile from './Profile.vue';
    import Accruals from './Accruals.vue';
    import WorkInCompany from './WorkInCompany.vue';
    import Docs from './Docs.vue';
    import Accessories from './Accessories.vue';
    import Dictionary from './Dictionary.vue';
    import Structure from './Structure.vue';
    import Birthdays from './Birthdays.vue';
    import Inbox from './Inbox.vue';
    import MyRequests from './MyRequests.vue';
    import Watching from './Watching.vue';
    import NotFound from './NotFound.vue';
    import PreLoader from './PreLoader.vue';
    
    import AboutEducation from './AboutEducation.vue';
    import WikiTemplates from './WikiTemplates.vue';
    import WikiManuals from './WikiManuals.vue';
    import WikiPress from './WikiPress.vue';
    import WikiVideo from './WikiVideo.vue';
    import WikiVideoDetail from './WikiVideoDetail.vue';
    import UsefulLinks from './UsefulLinks.vue';
    import RegistryContract from './RegistryContract.vue';

    import AdminAll from './AdminAll.vue';
    import AdminProfile from './AdminProfile.vue';
    import CompanyAll from './CompanyAll.vue';
    import CompanyProfile from './CompanyProfile.vue';
    import EditProfile from './EditProfile.vue';
    import EditCompany from './EditCompany.vue';
    import ServiceAll from './ServiceAll.vue';
    import ServiceProfile from './ServiceProfile.vue';
    import ServiceSettings from './ServiceSettings.vue';
    export default {
        name: 'app',
        mixins: [library],
        data() {
            return {
                href: '',
                page: '',
                preloader: false,
                userID: null,
                restoreData: null,
                adminAuth: false,
                type: '',
            }
        },
        components:{
            AuthForm,
            CreateRequest,
            Profile,
            Accruals,
            WorkInCompany,
            Docs,
            Accessories,
            Dictionary,
            Structure,
            Birthdays,
            Inbox,
            MyRequests,
            Watching,
            NotFound,
            PreLoader,
            
            AboutEducation,
            WikiTemplates,
            WikiManuals,
            WikiPress,
            WikiVideo,
            WikiVideoDetail,
            UsefulLinks,
            RegistryContract,

            AdminAll,
            AdminProfile,
            CompanyAll,
            CompanyProfile,
            EditProfile,
            EditCompany,
            ServiceAll,
            ServiceProfile,
            ServiceSettings,
        },
        mounted(){
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
            if(urlParams[2] != null && urlParams[2] > 0){
                this.userID = urlParams[2];
            }
            switch(urlParams[1]){
                case 'admin':
                    if(urlParams[2] == null || urlParams[2] == ''){
                        this.page = 'auth';
                        this.adminAuth = true;
                    }else{
                        switch(urlParams[2]){
                            case 'profile':
                                if(urlParams[3] == 'all'){
                                    this.page = 'admin-all';
                                }else{
                                    this.page = 'admin-profile';
                                }
                            break;
                            case 'user':
                                if(urlParams[3] == 'edit'){
                                    this.page = 'edit-profile';
                                    this.type = 'edit';
                                }else if(urlParams[3] == 'create'){
                                    this.page = 'edit-profile';
                                    this.type = 'create';
                                }else if(urlParams[3] == 'all'){
                                    this.page = 'admin-all';
                                }else{
                                    window.location.href = '/admin/profile/';
                                }
                            break;
                            case 'company':
                                if(urlParams[3] == 'edit'){
                                    this.page = 'edit-company';
                                    this.type = 'edit';
                                }else if(urlParams[3] == 'create'){
                                    this.page = 'edit-company';
                                    this.type = 'create';
                                }else if(urlParams[3] == 'all'){
                                    this.page = 'company-all';
                                }
                                else if(urlParams[3] == 'profile'){
                                        this.page = 'company-profile';
                                }
                                else{
                                    window.location.href = '/admin/profile/';
                                }
                            break;
                            case 'service':
                                if(urlParams[3] == 'profile'){
                                    this.page = 'service-profile';
                                }else if(urlParams[3] == 'all'){
                                    this.page = 'service-all';
                                }else if(urlParams[3] == 'settings'){
                                    this.page = 'service-settings';
                                }
                                break;
                            default:
                                window.location.href = '/';
                            break;
                        }
                    }
                break;
                case 'user':
                    this.page = 'profile';
                break;
                case 'wiki':
                    switch(urlParams[2]){
                        case 'press':
                            this.page = 'wiki-press';
                        break;
                        case 'video':
                            if (urlParams[3] == null || urlParams[3] == '')
                                this.page = 'wiki-video';
                            else
                            {
                                this.page = 'wiki-video-detail';
                                this.page_id = urlParams[3];
                            }
                        break;
                        default:
                            this.page = 'wiki';
                        break;
                    }
                    /*if(urlParams[2] == 'templates'){
                        this.page = 'wiki-templates';
                    }else if(urlParams[2] == 'manuals'){
                        this.page = 'wiki-manuals';
                    }*/
                break;
                case 'about':
                    switch(urlParams[2]){
                        case 'education':
                            this.page = 'about-education';
                        break;
                        default:
                            window.location.href = '/';
                        break;
                    }
                break;
                case 'useful-links':
                    this.page = 'useful-links';
                break;
                case 'registry':
                    this.page = 'registry-contract';
                break;
                case 'docs':
                    this.page = 'docs';
                break;
                case 'accruals':
                    this.page = 'accruals';
                break;
                case 'accessories':
                    this.page = 'accessories';
                break;
                case 'restore':
                    let url_string = window.location.href;
                    let url = new URL(url_string);
                    let token = url.searchParams.get("token");
                    if(token != ''){
                        let params = {
                            method: 'checkToken',
                            token: token,
                        };
                        this.sendCustomRequest('http://localhost/api/restore/', JSON.stringify(params));
                    }else{
                        this.page = 'auth';
                    }
                break;
                default:
                    this.selectPage();
                break;
            }
        },
        methods:{
            checkToken: function(params){
                if(params.status == 'ok'){
                    this.restoreData = params;
                    this.page = 'auth';
                }else{
                    this.notification(params.status, params.message);
                    window.location.href = '/#auth';
                    this.page = 'auth';
                }
            }
        }
    }
</script>

<style scoped>
    #loader{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(255,255,255, .7);
    }
</style>