<template>
	<div id="auth_form">
		<div class="modal_wrap center" v-if="restoreData == null">
			<form action="/" class="modal_form modal_large_pad modal_auth" v-on:submit.prevent="authorize" v-bind:class="forgot ? 'active' : ''">
				<div class="modal_img center img">
					<img src="/src/assets/img/auth_logo.png">
				</div>
				<h2 class="modal_title center">{{ title }}</h2>
				<div class="modal_body">
					<input type="email" class="input" name="AUTH[EMAIL]" v-model="email" placeholder="Email">
					<input type="password" class="input" name="AUTH[PASS]" v-model="pass" placeholder="Пароль">
					<div class="row j_space ai_center">
						<label for="remember" class="row">
							<input type="checkbox" id="remember" class="hide" name="AUTH[REMEMBER]" value="Y">
							<span class="check">
								<span></span>
							</span>
							<span>Запомнить меня</span>
						</label>
						<a href="javascript:void(0)" class="link base_color_text no_decoration" @click="forgotBtn">Забыли пароль?</a>
					</div>
				</div>
				<div class="g-recaptcha" data-sitekey="6LcLXcYZAAAAAF4zKnBPYn9AlxTle6LbOakedc60"></div>
				<button type="submit" class="btn btn_color-purple btn_border btn_focus-none">{{ authBtnText }}</button>
				<!-- <button type="button" class="btn btn_color-white btn_border btn_focus-none">{{ getAccessBtnText }}</button> -->
			</form>
			<form action="/" class="modal_form modal_large_pad modal_forgot" v-bind:class="!forgot ? 'active' : ''">
				<div class="modal_img center img">
					<img src="/src/assets/img/auth_logo.png">
				</div>
				<h2 class="modal_title center">{{ restoreAccess }}</h2>
				<div class="modal_body" v-if="!restoreCheck">
					<input type="email" v-model="restoreEmail" class="input" name="RESTORE[EMAIL]" placeholder="Email">
				</div>
				<div class="modal_body" v-else>
					<p>На указанную почту было отправлено письмо с инструкцией по восстановлению доступа</p>
				</div>
				<button type="button" class="btn btn_color-purple btn_border btn_focus-none" v-if="!restoreCheck" v-on:click="sendRestore">{{ restore }}</button>
				<button type="button" class="btn btn_color-white btn_border btn_focus-none" v-on:click="forgotBtn">{{ returnHome }}</button>
			</form>
		</div>
		<div class="modal_wrap center" v-else>
			<form action="/" class="modal_form modal_large_pad modal_auth" v-bind:class="restoreCheck ? 'active' : ''">
				<div class="modal_img center img">
					<img src="/src/assets/img/auth_logo.png">
				</div>
				<h2 class="modal_title center">Восстановление пароля</h2>
				<div class="modal_subtitle">
					<p>Задайте новый пароль для входа в личный кабинет</p>
				</div>
				<div class="modal_body">
					<input type="password" class="input" name="AUTH[PASS]" v-model="pass" placeholder="Пароль">
					<input type="password" class="input" name="AUTH[PASS_CONFIRM]" v-model="pass_confirm" placeholder="Повторите пароль">
				</div>
				<button type="button" class="btn btn_color-purple btn_border btn_focus-none" v-on:click="sendNewPassword">Сохранить</button>
				<!-- <button type="button" class="btn btn_color-white btn_border btn_focus-none">{{ getAccessBtnText }}</button> -->
			</form>
			<form action="/" class="modal_form modal_large_pad modal_auth" v-bind:class="!restoreCheck ? 'active' : ''">
				<div class="modal_img center img">
					<img src="/src/assets/img/auth_logo.png">
				</div>
				<h2 class="modal_title center">{{ title }}</h2>
				<div class="modal_body">
					<input type="email" class="input" name="AUTH[EMAIL]" v-model="email" placeholder="Email">
					<input type="password" class="input" name="AUTH[PASS]" v-model="pass" placeholder="Пароль">
					<div class="row j_space ai_center">
						<label for="remember" class="row">
							<input type="checkbox" id="remember" class="hide" name="AUTH[REMEMBER]" value="Y">
							<span class="check">
								<span></span>
							</span>
							<span>Запомнить меня</span>
						</label>
						<a href="javascript:void(0)" class="link base_color_text no_decoration" @click="forgotBtn">Забыли пароль?</a>
					</div>
				</div>
				<button type="button" class="btn btn_color-purple btn_border btn_focus-none" v-on:click="authorize">{{ authBtnText }}</button>
				<!-- <button type="button" class="btn btn_color-white btn_border btn_focus-none">{{ getAccessBtnText }}</button> -->
			</form>
		</div>
	</div>
</template>

<script>
	import { library } from './library.js'
	export default{
        name: 'auth',
  		mixins: [library],
		data() {
			return{
				title: this.admin ? 'Войти в админку' : 'Войти в систему',
				authBtnText: 'Войти',
				getAccessBtnText: 'Получить доступ',
				forgot: false,
				restoreAccess: 'Восстановление доступа',
				returnHome: 'Вернуться ко входу',
				restore: 'Восстановить',
				restoreEmail: '',
				restoreCheck: false,

				restored: false,

				email: '',
				pass: '',
				pass_confirm: '',
			}
		},
		props: {
			restoreData: Object,
			admin: Boolean,
		},
		created(){
			this.setPageTitle('Авторизация');
			this.sendCustomRequest('http://localhost/api/check/', null);
			//this.notification('error', 'Заявки могли исчезнуть, прошу не серчать. ^_^');
		},
		methods:{
			authorize: function(e){
				let params = {};
				if(this.email != '' && this.pass != ''){
					if(this.admin){
						params = {
							method: 'authorize_by_admin',
							data: {
								email: this.email,
								pass: this.pass,
							}
						}
					}else{
						/*var iframe = document.querySelector('.g-recaptcha iframe');
						var innerDoc = (iframe.contentDocument) ? iframe.contentDocument : iframe.contentWindow.document;*/
						params = {
							method: 'authorize',
							data: {
								email: this.email,
								pass: this.pass,
							}
						}
					}
					
					if(grecaptcha.getResponse()){
						this.sendAjaxRequest(params);
					}else{
						this.notification('error', 'Подтвердите, что вы не робот');
					}
				}else{
					this.notification('error', 'Заполните логин и пароль');
				}
			},
			sendRestore: function(){
				let params = {
					method: 'sendRestoreToken',
					email: this.restoreEmail,
				};
				this.sendCustomRequest('https://sezinno.ru/api/restore/', JSON.stringify(params));
			},
			sendNewPassword: function(){
				if(this.pass != this.pass_confirm){
					this.notification('error', 'Пароли не совпадают!');
				}else{
					let params = {
						method: 'sendNewPassword',
						data: {pass: this.pass, confirm_pass: this.pass_confirm},
						token: this.restoreData.token,
					}
					this.sendCustomRequest('https://sezinno.ru/api/restore/', JSON.stringify(params));
				}
			},
			successRestore: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					this.restoreCheck = true;
                	window.location.href = '/#auth';
				}
			},
			answerRestore: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'notice'){
					this.restoreCheck = true;
				}
			},
			forgotBtn: function(){
				if(this.forgot){
					this.forgot = false;
				}else{
					this.forgot = true;
				}
			},
			successAuth: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'success'){
					this.page = 'profile';
					location.reload();
				}
			},
			authByAdmin: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'success'){
					window.location.href = '/admin/profile/';
				}
			}
		}
	}
</script>

<style scoped>
	#auth_form{
	    background-color: #fff;
	    position: absolute;
	    /* display: flex;
	    flex-wrap: wrap; */
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    perspective: 1000;
	}
	.modal_form{
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 12px;
		transition: 0.6s;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		position: absolute;
	    -webkit-perspective: 0;
	    -webkit-backface-visibility: hidden;
	    -webkit-transform: translate3d(0,0,0);
	    visibility:visible;
	    backface-visibility: hidden;
		top: 15%;
		left: 30%;
	}
	.modal_form.active{
		transform: rotateY(180deg);
	}
	.center{
		text-align: center;
		margin: auto;
	}
	.modal_large_pad{
		padding: 36px 158px;
	}
	.modal_img{
		width: 140px;
		height: 70px;
		margin-bottom: 24px;
	}
	.img img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.modal_title{
		margin: 24px 0;
	}
	h2{
		font-weight: 500;
		font-size: 24px;
		line-height: 31px;
		color: #000000;
	}
	.modal_subtitle{
		max-width: 300px;
	}
	.modal_subtitle p{
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #828282;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}
	.j_space{
		justify-content: space-between;
	}
	.modal_body{
		width: 300px;
		margin-bottom: 24px;
	}
	.hide{
		display: none;
	}
	.input{
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		font-size: 14px;
		line-height: 18px;
		color: #828282;
		width: 100%;
		margin-bottom: 8px;
		padding: 14px 16px;
	}
	.input:focus{
		outline: #633BB2 auto 1px;;
	}
	.check{
		display: block;
		width: 13.5px;
		height: 13.5px;
		border: 1px solid #BDBDBD;
		border-radius: 2px;
		padding: 2px;
	}
	#remember:checked + .check span{
		display: block;
		transition: .4s;
		width: 100%;
		height: 100%;
		background-color: #633BB2;
	    border-radius: 2px;
	}
	.check + span{
		font-size: 11px;
		line-height: 139.45%;
		color: #4F4F4F;
		margin-left: 10px;
	}
	.btn{
		padding: 12px 0;
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
		margin-bottom: 8px;
		width: 100%;
		cursor: pointer;
	}
	.btn_color-purple{
		background-color: #633BB2;
		color: #fff;
	}
	.btn_color-white{
		color: #633BB2;
		background-color: #fff;
	}
	.btn_color-purple.btn_border{
		border: 1px solid rgba(255, 255, 255, 0.16);
		border-radius: 5px;
	}
	.btn_color-white.btn_border{
		border: 1px solid #F4F2FC;
		border-radius: 5px;
	}
	.btn_focus-none:focus{
		outline: none;
	}
	.link{
		font-size: 11px;
		line-height: 139.45%;
	}
	.no_decoration{
		text-transform: none;
		text-decoration: none;
	}
	.base_color_text{
		color: #633BB2;
	}
	.ai_center{
		align-items: center;
	}
	.modal_body p{
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #828282;
	}

	@media screen and (max-width: 576px){
		.modal_large_pad{
			padding: 36px 25px;
		}
		.modal_form{
			left: 10%;
		}
	}
</style>