<template>
	<div id="birthdays">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Дни рождения</h1>

					<!--верхний бар поиск-->
					<div class="form-inline top-poisk">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"/>
									</svg>
								</span>
							</div>
							<input type="text" v-model="byName" @change="(event) => { setFilter(event, 'getUsersBirthday') }" class="top-poisk-control" placeholder="Поиск по имени" aria-label="Username" aria-describedby="basic-addon1">
						</div>
						<select class="top-poisk-control top-poisk_arr ml-0" @change="(event) => { setFilter(event, 'getUsersBirthday', {'name': byName, 'division_id': division}); reRenderPositions({'division_id': division}); }" v-model="division">
							<option v-bind:value="''">Отдел</option>
							<option v-for="divis in userDivisions" v-bind:value="divis.id">{{divis.name}}</option>
						</select>
						<select class="top-poisk-control top-poisk_arr" @change="(event) => { setFilter(event, 'getUsersBirthday', {'name': byName, 'division_id': division, 'position_id': position}) }" v-model="position">
							<option v-bind:value="''">Должность</option>
							<option v-for="posit in userPositions" v-bind:value="posit.id">{{posit.name}}</option>
						</select>
					</div>
					<!--конец верхний бар поиск-->  
					<!-- недавние дни рождения-->
					<div class="left_zag mt24">недавние дни рождения</div>
					<div class="dr_block" v-if="users != null && users.recent != null">
						<a :href="'/user/' + user.id + '/'" class="user_logo recent_img" v-for="(user,index) in users.recent">
							<img :src="user.logo" alt="" class="dr_block_img" v-bind:class="'dr_block_img' + (index + 1)" v-bind:style="!show_all ? set_position : ''">
						</a>
						<a href="javascript:void(0)" @click="set_show" v-if="users.recent != null && users.recent.length > 5"><div class="dr_block_all">{{ show_all ? 'Скрыть' : 'Показать все' }}</div></a>
					</div>
					<!-- конец недавние дни рождения-->
					<div class="dr" v-if="users != null && users.near != null">
						<div class="row">
							<div class="col-12">
								<div class="dr_zag gray">Ближайшие дни рождения</div>
							</div>
						</div>
						<div class="profile-work_doc_box" v-if="users.near != null" v-for="(user,index) in users.near" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (users.near != null && users.near.length == index + 1 ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
							<div class="row align-items-center">
								<div class="col-xl-6 ">
									<div class="float-left mr16">
										<img :src="user.logo" class="" alt="">
									</div>
									<div class="">
										<a :href="'/user/' + user.id + '/'">
											<div class="black14-18 pt3">{{ user.name }}</div>
											<div class="gray12-15 pt3" v-if="user.position != null && user.division != null">{{ user.division }}  •  {{ user.position }}</div>
										</a>
									</div>
								</div>
								<div class="col-xl-6 text-left text-xl-right">
									<span class="profile_name profile_name_date gray">
										{{ renderDate(user.birthday) }}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div v-if="users != null && users.next != null">
						<div class="dr" v-for="(month, name) in users.next" >
							<div class="row">
								<div class="col-12">
									<div class="dr_zag gray mt24">{{ name }}</div>
								</div>
							</div>
							<div class="profile-work_doc_box" v-if="month != null" v-for="(user,index) in month" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (users.next != null && users.next.length == index + 1 ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
								<div class="row align-items-center">
									<div class="col-xl-6 ">
										<div class="float-left mr16">
											<img :src="user.logo" class="" alt="">
										</div>
										<div class="">
											<a :href="'/user/' + user.id + '/'">
												<div class="black14-18 pt3">{{ user.name }}</div>
												<div class="gray12-15 pt3">{{ user.division }}  •  {{ user.position }}</div>
											</a>
										</div>
									</div>

									<div class="col-xl-6 text-left text-xl-right">
										<span class="profile_name profile_name_date  gray">
											{{ renderDate(user.birthday) }}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'birthdays',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				users: {},
				user: {},
				email: '',
				pass: '',
				show_all: false,
				set_position: {
					position: 'absolute'
				},
				byName: '',
				selectedDivision: null,
			}
		},
		created(){
			this.setPageTitle('Дни рождения');
            let params = {
                method: 'getUsersBirthday',
                limit: 500
            };
            this.sendAjaxRequest(params);
        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserDivisions',
        	}

        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserPositions',
        	}

        	this.ajaxSimpleRequest(params);
		},
		methods:{
			renderUsersBirthday: function(params){
				this.users = params;
			},
			renderUser: function(params){
				this.user = params;
			},
			set_show: function(event){
				if(this.show_all)
					this.show_all = false;
				else
					this.show_all = true;
			}
		}
	}
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>