<template>
	<div class="burger" v-bind:class="showBurger ? 'active' : ''">
		<div class="burger_wrap">
	  		<ul class="navbar-nav mr-auto flex-column">
					<li class="nav-item">
	      			<span class="left_zag">Заявки и запросы</span>
	    		</li>
	    		<li class="nav-item">
	      			<button v-on:click="(event) => { createPage(event) }" type="button" class="btn btn-primary btn-block mb-20">
	      				<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.24212 0.714844C10.3611 0.726662 10.9305 0.847245 11.521 1.16302C12.0862 1.46529 12.5331 1.91227 12.8354 2.47746C13.1512 3.06791 13.2718 3.63735 13.2836 4.75631V9.24285C13.2718 10.3618 13.1512 10.9313 12.8354 11.5217C12.5331 12.0869 12.0862 12.5339 11.521 12.8361C10.9305 13.1519 10.3611 13.2725 9.24212 13.2843H4.75558C3.63662 13.2725 3.06717 13.1519 2.47673 12.8361C1.91154 12.5339 1.46455 12.0869 1.16229 11.5217C0.846513 10.9313 0.72593 10.3618 0.714111 9.24285V4.75631C0.72593 3.63735 0.846513 3.06791 1.16229 2.47746C1.46455 1.91227 1.91154 1.46529 2.47673 1.16302C3.06717 0.847245 3.63662 0.726662 4.75558 0.714844H9.24212ZM9.05044 1.85672H4.94726L4.62875 1.85951C3.78345 1.87554 3.40495 1.96263 3.0157 2.17081C2.64967 2.36656 2.36583 2.6504 2.17007 3.01643C1.9619 3.40568 1.87481 3.78418 1.85878 4.62948L1.85599 4.94799V9.05117L1.85878 9.36968C1.87481 10.215 1.9619 10.5935 2.17007 10.9827C2.36583 11.3488 2.64967 11.6326 3.0157 11.8284C3.40495 12.0365 3.78345 12.1236 4.62875 12.1397L4.94726 12.1424H9.05044L9.36894 12.1397C10.2142 12.1236 10.5927 12.0365 10.982 11.8284C11.348 11.6326 11.6319 11.3488 11.8276 10.9827C12.0358 10.5935 12.1229 10.215 12.1389 9.36968L12.1417 9.05117V4.94799L12.1389 4.62948C12.1229 3.78418 12.0358 3.40568 11.8276 3.01643C11.6319 2.6504 11.348 2.36656 10.982 2.17081C10.5927 1.96263 10.2142 1.87554 9.36894 1.85951L9.05044 1.85672ZM6.99983 4.14342C7.31542 4.14342 7.57125 4.39925 7.57125 4.71484V6.42913H9.28554C9.60113 6.42913 9.85697 6.68497 9.85697 7.00056C9.85697 7.31615 9.60113 7.57199 9.28554 7.57199H7.57125V9.28627C7.57125 9.60186 7.31542 9.8577 6.99983 9.8577C6.68423 9.8577 6.4284 9.60186 6.4284 9.28627V7.57199H4.71411C4.39852 7.57199 4.14268 7.31615 4.14268 7.00056C4.14268 6.68497 4.39852 6.42913 4.71411 6.42913H6.4284V4.71484C6.4284 4.39925 6.68423 4.14342 6.99983 4.14342Z" fill="white"/>
						</svg>
						Создать заявку
					</button>
				</li>
				<li class="nav-item">
					<a href="/#inbox" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isInbox}">
						<span class="left_icon">
							<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8 3.33268C8 1.85935 6.80667 0.666016 5.33333 0.666016C3.86 0.666016 2.66667 1.85935 2.66667 3.33268C2.66667 4.80602 3.86 5.99935 5.33333 5.99935C6.80667 5.99935 8 4.80602 8 3.33268ZM5.33333 6.99935C7.11333 6.99935 10.6667 7.66602 10.6667 9.99935V10.666C10.6667 11.0342 10.3682 11.3327 10 11.3327H0.666667C0.298477 11.3327 0 11.0342 0 10.666V9.99935C0 7.66602 3.55333 6.99935 5.33333 6.99935ZM13.1381 0.861278C13.3984 1.12163 13.3984 1.54374 13.1381 1.80409L11.6093 3.33268H15.3333C15.6752 3.33268 15.957 3.59004 15.9955 3.9216L16 3.99935C16 4.36754 15.7015 4.66602 15.3333 4.66602H11.6093L13.1381 6.19461C13.3984 6.45496 13.3984 6.87707 13.1381 7.13742C12.8777 7.39777 12.4556 7.39777 12.1953 7.13742L9.5286 4.47075C9.26825 4.2104 9.26825 3.78829 9.5286 3.52794L12.1953 0.861278C12.4556 0.600928 12.8777 0.600928 13.1381 0.861278Z"/>
							</svg>
						</span> 
						<span class="left_label">Входящие</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/#my_requests" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isMyRequests}">
						<span class="left_icon">
							<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8 3.33268C8 1.85935 6.80667 0.666016 5.33333 0.666016C3.86 0.666016 2.66667 1.85935 2.66667 3.33268C2.66667 4.80602 3.86 5.99935 5.33333 5.99935C6.80667 5.99935 8 4.80602 8 3.33268ZM5.33333 6.99935C7.11333 6.99935 10.6667 7.66602 10.6667 9.99935V10.666C10.6667 11.0342 10.3682 11.3327 10 11.3327H0.666667C0.298477 11.3327 0 11.0342 0 10.666V9.99935C0 7.66602 3.55333 6.99935 5.33333 6.99935ZM12.1953 0.861278C12.4556 0.600928 12.8777 0.600928 13.1381 0.861278L15.8047 3.52794C16.0651 3.78829 16.0651 4.2104 15.8047 4.47075L13.1381 7.13742C12.8777 7.39777 12.4556 7.39777 12.1953 7.13742C11.9349 6.87707 11.9349 6.45496 12.1953 6.19461L13.7233 4.66602H10.3333C9.99144 4.66602 9.70966 4.40866 9.67115 4.0771L9.66667 3.99935C9.66667 3.63116 9.96514 3.33268 10.3333 3.33268H13.7233L12.1953 1.80409C11.9549 1.56376 11.9365 1.18561 12.1398 0.924083L12.1953 0.861278Z"/>
							</svg>
						</span> 
						<span class="left_label">Мои заявки</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/#watching" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isWatching}">
						<span class="left_icon">
							<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.6667 9.99935V10.666C10.6667 11.0342 10.3683 11.3327 10.0001 11.3327H0.666748C0.298558 11.3327 8.2016e-05 11.0342 8.2016e-05 10.666V9.99935C8.2016e-05 7.66602 3.55341 6.99935 5.33341 6.99935C7.11341 6.99935 10.6667 7.66602 10.6667 9.99935ZM5.33341 0.666016C3.86008 0.666016 2.66675 1.85935 2.66675 3.33268C2.66675 4.80602 3.86008 5.99935 5.33341 5.99935C6.80675 5.99935 8.00008 4.80602 8.00008 3.33268C8.00008 1.85935 6.80675 0.666016 5.33341 0.666016Z"/>
								<path d="M15.8007 3.6912C15.5381 3.43311 15.116 3.43677 14.8579 3.69936L12.0561 6.55018L10.8077 5.28655C10.5489 5.02463 10.1268 5.02207 9.86487 5.28084C9.60295 5.53961 9.6004 5.96171 9.85916 6.22363L11.5831 7.96854C11.8445 8.23319 12.272 8.23264 12.5328 7.9673L15.8089 4.63397C16.067 4.37138 16.0633 3.94928 15.8007 3.6912Z" fill="#8B80A0"/>
							</svg>
						</span> 
						<span class="left_label">Наблюдаю</span>
					</a>
				</li>
				<li class="nav-item active">
					<span class="left_zag">Команда</span>
				</li>	
				<li class="nav-item">
					<a href="/#dictionary" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isDictionary}">
						<span class="left_icon">
							<svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.3333 5.33398C11.8627 5.33398 14.6667 5.90541 14.6667 8.19113C14.6667 9.19113 14.4118 9.33398 13.902 9.33398L9.84183 9.33451C9.94718 9.00846 10 8.62604 10 8.19113C10 7.04258 9.57908 6.1466 8.88547 5.48324C9.40751 5.37622 9.91753 5.33398 10.3333 5.33398ZM4.33333 5.33398C5.86275 5.33398 8.66667 5.90541 8.66667 8.19113C8.66667 9.19113 8.41177 9.33398 7.90196 9.33398H0.764706C0.254902 9.33398 0 9.19113 0 8.19113C0 5.90541 2.80392 5.33398 4.33333 5.33398ZM4.33333 0.333984C5.43833 0.333984 6.33333 1.22898 6.33333 2.33398C6.33333 3.43898 5.43833 4.33398 4.33333 4.33398C3.22833 4.33398 2.33333 3.43898 2.33333 2.33398C2.33333 1.22898 3.22833 0.333984 4.33333 0.333984ZM10.3333 0.333984C11.4383 0.333984 12.3333 1.22898 12.3333 2.33398C12.3333 3.43898 11.4383 4.33398 10.3333 4.33398C9.22833 4.33398 8.33333 3.43898 8.33333 2.33398C8.33333 1.22898 9.22833 0.333984 10.3333 0.333984Z"/>
							</svg>
						</span> 
						<span class="left_label ">Справочник</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/#structure" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isStructure}">
						<span class="left_icon">
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14.7506 11.4348H14.2849V10.8467C14.2849 9.45432 13.1521 8.32159 11.7598 8.32159H8.57345V6.14681H9.97033C10.6592 6.14681 11.2197 5.58634 11.2197 4.8974V1.86464C11.2197 1.17574 10.6592 0.615234 9.97033 0.615234H6.23823C5.54932 0.615234 4.98885 1.1757 4.98885 1.86464V4.89737C4.98885 5.58628 5.54932 6.14678 6.23823 6.14678H7.63511V8.32156H4.26107C2.86869 8.32156 1.73597 9.45432 1.73597 10.8467V11.4347H1.24941C0.56047 11.4348 0 11.9952 0 12.6842V14.1369C0 14.8258 0.56047 15.3862 1.24941 15.3862H3.16085C3.84976 15.3862 4.41023 14.8258 4.41023 14.1369V12.6842C4.41023 11.9952 3.84976 11.4348 3.16085 11.4348H2.67432V10.8467C2.67432 9.97178 3.38613 9.25997 4.26104 9.25997H7.63508V11.4348H7.14855C6.45961 11.4348 5.89914 11.9952 5.89914 12.6842V14.1369C5.89914 14.8258 6.45961 15.3862 7.14855 15.3862H9.05999C9.74889 15.3862 10.3094 14.8258 10.3094 14.1369V12.6842C10.3094 11.9952 9.74889 11.4348 9.05999 11.4348H8.57345V9.25997H11.7598C12.6347 9.25997 13.3466 9.97178 13.3466 10.8467V11.4348H12.8392C12.1502 11.4348 11.5898 11.9952 11.5898 12.6842V14.1369C11.5898 14.8258 12.1502 15.3862 12.8392 15.3862H14.7506C15.4395 15.3862 16 14.8258 16 14.1369V12.6842C16 11.9952 15.4396 11.4348 14.7506 11.4348Z"/>
							</svg>
						</span> 
						<span class="left_label">Структура</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/#birthdays" v-on:click="sendAjaxRequest" class="nav-link left-link" v-bind:class="{ active: isBirthdays}">
						<span class="left_icon">
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.5 8.00085V12.0009H3.42291C2.75427 12.0009 2.51181 11.9312 2.26737 11.8005C2.02292 11.6698 1.83108 11.4779 1.70035 11.2335C1.56962 10.989 1.5 10.7466 1.5 10.0779V8.00085H5.5ZM10.5 8.00085V10.0779C10.5 10.7466 10.4304 10.989 10.2997 11.2335C10.1689 11.4779 9.97708 11.6698 9.73263 11.8005C9.51041 11.9193 9.28983 11.9877 8.7492 11.9991L8.57709 12.0009H6.5V8.00085H10.5ZM5.5 4.00085V7.00085H1.46146C1.12714 7.00085 1.00591 6.96604 0.883683 6.90068C0.761461 6.83531 0.66554 6.73939 0.600175 6.61717C0.53481 6.49495 0.5 6.37371 0.5 6.03939V5.42416C0.5 5.0819 0.558016 4.84403 0.666958 4.64032C0.7759 4.43662 0.935768 4.27675 1.13947 4.16781C1.34318 4.05887 1.58105 4.00085 1.92331 4.00085H5.5ZM10.0767 4.00085C10.4189 4.00085 10.6568 4.05887 10.8605 4.16781C11.0642 4.27675 11.2241 4.43662 11.333 4.64032C11.4238 4.81008 11.4792 5.00356 11.4952 5.26141L11.5 5.42416V6.03939C11.5 6.37371 11.4652 6.49495 11.3998 6.61717C11.3345 6.73939 11.2385 6.83531 11.1163 6.90068C11.0116 6.9567 10.9075 6.99028 10.6694 6.99873L10.5385 7.00085H6.5V4.00085H10.0767ZM6.00133 3.63267L6.0021 3.51359C6.12438 0.223165 8.45 -0.549149 9.5 0.500851C10.6 1.60085 9.7 4.10085 6 4.00085C2.3 4.10085 1.4 1.60085 2.5 0.500851C3.56255 -0.561701 5.93141 0.241891 6.00133 3.63267Z"/>
							</svg>
						</span> 
						<span class="left_label dr">Дни рождения</span>
					</a>
				</li>
		 		<hr color="#F2F2F2" width="100%">
				<li class="nav-item">
					<div class="left_kart left_kart_dr d-block" v-if="users">
						<span class="left_zag ">ДНИ РОЖДЕНИЯ</span>

						<div v-for="(date, name) in users.sidebar">
							<div class="left_date mt-3 mb-2">{{ renderDate(name) == renderDate(Date.now()) ? 'Сегодня, ' + renderDate(name) : (nextDayCheck(name) ? 'Завтра, ' + renderDate(name) : renderDate(name))}}</div>
							<div class="left_dr_karta" v-for="user in date">
								<a href="javascript:void(0)">
									<div class="container pr-0">
										<div class="row align-items-center">
											<div class="col-2 pl-0 pr-0 left_dr_img">
												<img :src="user.logo" alt="Анастасия Александрова">
											</div>
											<div class="col-10 pr-0 pl-1">
												<div class="left_dr_name">{{ user.name }}</div>
												<div class="left_dr_prof">Инженер-библиотекарь</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<a href="/#birthdays" v-on:click="sendAjaxRequest" class="a_all">Показать все</a>
					</div>
				</li>
	  		</ul>
		</div>
	</div>
</template>

<script>
	import { library } from './library.js'
	export default{
        name: 'leftSideBar',
  		mixins: [library],
		data() {
			return{
				isDictionary: false,
				isStructure: false,
				isBirthdays: false,
				isMyRequests: false,
				isInbox: false,
				isWatching: false,
			}
		},
		props:{
			users: Object,
			user: Object,
			showBurger: false,
		},
		mounted(){
			let hash = window.location.hash.substr(1);
			this.menuActive(hash);
		},
		methods:{
			nextDayCheck: function(date){
				var curTime = Date.now();
				let day = new Date();
				day = day.setTime(curTime);
				day = new Date(day);
				let nextDay = new Date();
				nextDay.setDate(day.getDate() + 1);
				if(this.renderDate(date) == this.renderDate(nextDay)){
					return true;
				}else{
					return false;
				}
			},
			createPage: function(event){
				window.history.pushState({}, document.title, '#create');
				this.sendAjaxRequest();
            	//this.selectPage();
			}
		}
	}
</script>
<style scoped>
	.burger{
		height: 0;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transition: .4s;
	}
	.burger.active{
		height: 100%;
		opacity: 1;
		visibility: visible;
	}
</style>