<template>
    <div class="col-xl-9" id="admin">
        <div class="text-center">
            <h1 class="mt24 mb36">Создание компании</h1>
        </div>
        <div class="text-center">
            <input type="file" v-on:change="handleFileUploads()" name="logo" id="set_logo" ref="logo" accept="jpeg,jpg,image/png">
            <label for="set_logo" class="set_logo">
                <img :src="logoSrc != '' ? logoSrc : '/src/assets/img/photo_сompany.svg'" id="logo" alt="Создание компании">
                <div class="admin_dobavka mt16">Добавить логотип компании</div>
            </label>
        </div>
        <!--Создание компанииу -->
        <div action="" method="" class="form528 admin_form528" >
            <div class="form-group">
                <label for="company_name" class="gray14-18 mb4 mt22">Название *</label>
                <input type="text" class="form-control" id="company_name" v-model="companyName" placeholder="">
            </div>
            <div class="form-group mt24">
                <label for="company_address" class="gray14-18 mb4">Адрес сайта *</label>
                <input type="text" class="form-control" id="company_address" placeholder="Введите адрес" v-model="companyAddress">
            </div>
            <div class="form-group mt24">
                <label for="company_desc" class="gray14-18 mb4">Описание компании</label>
                <textarea class="form-control" id="company_desc" rows="3" v-model="companyDesc"></textarea>
            </div>  
            <div class="form-group mt24">
                <label for="company_type">Тип организации *</label>
                <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" id="company_type" v-model="companyType">
                    <option :value="''">Выберите организацию</option>
                    <option v-for="(type, index) in orgTypes" :value="type.id">{{ type.name }}</option>
                </select>
            </div>
            <div class="form-group mt24">
                <label for="company_admin" v-bind:style="userForm ? disabledStyle : ''">Администратор *</label>
                <select class="top-poisk-control top-poisk_arr admin_select ml-0" :disabled="userForm" id="company_admin" v-model="companyAdmin">
                    <option :value="''">Выберите администратора</option>
                    <option v-for="(userAdmin, index) in userAdmins" :value="userAdmin.id">{{ userAdmin.name }}</option>
                </select>
            </div>
            <div>
                <a href="javascript:void(0)" @click="showUserForm" class="admin_dobavit" v-if="!userForm">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.24224 0.714355C10.3612 0.726174 10.9306 0.846757 11.5211 1.16253C12.0863 1.4648 12.5333 1.91178 12.8355 2.47697C13.1513 3.06742 13.2719 3.63686 13.2837 4.75582V9.24236C13.2719 10.3613 13.1513 10.9308 12.8355 11.5212C12.5333 12.0864 12.0863 12.5334 11.5211 12.8357C10.9306 13.1514 10.3612 13.272 9.24224 13.2838H4.7557C3.63674 13.272 3.0673 13.1514 2.47685 12.8357C1.91166 12.5334 1.46468 12.0864 1.16241 11.5212C0.846635 10.9308 0.726052 10.3613 0.714233 9.24236V4.75582C0.726052 3.63686 0.846635 3.06742 1.16241 2.47697C1.46468 1.91178 1.91166 1.4648 2.47685 1.16253C3.0673 0.846757 3.63674 0.726174 4.7557 0.714355H9.24224ZM9.05056 1.85624H4.94738L4.62887 1.85902C3.78357 1.87505 3.40507 1.96214 3.01582 2.17032C2.64979 2.36607 2.36595 2.64991 2.1702 3.01594C1.96202 3.40519 1.87493 3.78369 1.8589 4.629L1.85611 4.9475V9.05069L1.8589 9.36919C1.87493 10.2145 1.96202 10.593 2.1702 10.9822C2.36595 11.3483 2.64979 11.6321 3.01582 11.8279C3.40507 12.036 3.78357 12.1231 4.62887 12.1392L4.94738 12.1419H9.05056L9.36907 12.1392C10.2144 12.1231 10.5929 12.036 10.9821 11.8279C11.3481 11.6321 11.632 11.3483 11.8277 10.9822C12.0359 10.593 12.123 10.2145 12.139 9.36919L12.1418 9.05069V4.9475L12.139 4.629C12.123 3.78369 12.0359 3.40519 11.8277 3.01594C11.632 2.64991 11.3481 2.36607 10.9821 2.17032C10.5929 1.96214 10.2144 1.87505 9.36907 1.85902L9.05056 1.85624ZM6.99995 4.14293C7.31554 4.14293 7.57138 4.39876 7.57138 4.71436V6.42864H9.28566C9.60125 6.42864 9.85709 6.68448 9.85709 7.00007C9.85709 7.31566 9.60125 7.5715 9.28566 7.5715H7.57138V9.28578C7.57138 9.60138 7.31554 9.85721 6.99995 9.85721C6.68436 9.85721 6.42852 9.60138 6.42852 9.28578V7.5715H4.71423C4.39864 7.5715 4.1428 7.31566 4.1428 7.00007C4.1428 6.68448 4.39864 6.42864 4.71423 6.42864H6.42852V4.71436C6.42852 4.39876 6.68436 4.14293 6.99995 4.14293Z" fill="#633BB2"></path>
                    </svg>
                    <span class="pl13">Создать нового пользователя</span>
                </a>
                <a href="javascript:void(0)" @click="showUserForm" v-else>Выбрать существующего</a>
            </div>
            <div v-if="userForm">
                <div class="profile-work_zag gray mt24">Создание нового пользователя</div>
                <div class="form-group">
                    <label for="last_name" class="gray14-18 mb4">Фамилия *</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Иванова" v-model="newUserLastName">
                </div>
                <div class="form-group">
                    <label for="first_name" class="gray14-18 mb4 mt22">Имя *</label>
                    <input type="text" class="form-control" id="first_name" placeholder="" v-model="newUserFirstName">
                </div>
                <div class="form-group">
                    <label for="second_name" class="gray14-18 mb4 mt22">Отчество *</label>
                    <input type="text" class="form-control" id="second_name" placeholder="" v-model="newUserSecondName">
                </div>  
                <hr>
                <div class="form-group mt24">
                    <label for="exampleFormControlSelect1">Отдел *</label>
                        <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" id="exampleFormControlSelect1" v-model="newUserDivision">
                        <option :value="''">Выберите отдел</option>
                        <option v-for="(division, index) in divisions" :key="division.id" :value="division.id">{{ division.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="user_email" class="gray14-18 mb4 mt22">Email *</label>
                    <input type="text" class="form-control" id="user_email" placeholder="" v-model="newUserEmail">
                </div>
                <div class="form-group">
                    <label for="user_mobile" class="gray14-18 mb4 mt22">Сотовый телефон</label>
                    <input type="text" class="form-control" id="user_mobile" placeholder="Не указано" v-model="newUserMobile">
                </div>
                <div class="form-group">
                    <label for="phone_inner" class="gray14-18 mb4 mt22">Внутренний номер</label>
                    <input type="text" class="form-control" id="phone_inner" placeholder="Не указано" v-model="newUserPhoneInner">
                </div>
                <div class="form-group">
                    <label for="phone_outer" class="gray14-18 mb4 mt22">Городской номер</label>
                    <input type="text" class="form-control" id="phone_outer" placeholder="Не указано" v-model="newUserPhoneOuter">
                </div>
            </div>
            <div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary mr-3 p12-24" @click="createCompanyRequest">Создать компанию</button>
                <button type="button" class="btn btn-light btn-white p12-24">Отмена</button>
            </div> 
        </div>
    </div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
    import CompanyEditForm from './CompanyEditForm.vue';
    import CompanyCreateForm from './CompanyCreateForm.vue';
	export default{
        name: 'edit-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar,
  			CompanyEditForm,
  			CompanyCreateForm,
  		},
  		data(){
  			return {
  				user: {},
  				user_style: {},
                disabledStyle: {
                    opacity: '.5',
                },
                logo: null,
                logoSrc: '',
  				userForm: false,
                orgTypes: [],
                userAdmins: [],
                divisions: [],

                companyName: '',
                companyAddress: '',
                companyDesc: '',
                companyType: '',
                companyAdmin: '',

                newUserFirstName: '',
                newUserLastName: '',
                newUserSecondName: '',
                newUserDivision: '',
                newUserEmail: '',
                newUserMobile: null,
                newUserPhoneInner: null,
                newUserPhoneOuter: null,

  			}
  		},
  		props: {
  			type: String,
  		},
  		created: function(){
            let params;
            params = {
                method: 'get_org_types',
            };
            this.ajaxSimpleRequest(params);
            params = {
                method: 'get_users_admin',
            };
            this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserDivisions',
            }
            this.ajaxSimpleRequest(params);

  		},
  		methods:{
            createCompanyRequest: function(){
                let formData = new FormData();
                let checkForm = false;
                if(this.companyName != ''){
                    formData.append('company[name]', this.companyName);
                    if(this.companyAddress != ''){
                        formData.append('company[address]', this.companyAddress);
                        if(this.companyType != ''){
                            formData.append('company[type]', this.companyType);
                            checkForm = true;
                            if(!this.userForm){
                                if(this.companyAdmin != ''){
                                    formData.append('company[admin]', this.companyAdmin);
                                    checkForm = true;
                                }else{
                                    this.notification('error', 'Выберите администратора!');
                                }
                            }
                        }else{
                            this.notification('error', 'Выберите тип организации!');
                        }
                    }else{
                        this.notification('error', 'Введите адрес сайта компании!');
                    }
                }else{
                    this.notification('error', 'Введите название компании!');
                }
                formData.append('company[description]', this.companyDesc);
                if(this.logo != null){
                    formData.append('logo', this.logo[0]);
                }
                if(this.userForm){
                    if(this.newUserFirstName != ''){
                        if(this.newUserLastName != ''){
                            if(this.newUserSecondName != ''){
                                if(this.newUserDivision != ''){
                                    let name = this.newUserLastName + ' ' + this.newUserFirstName + ' ' + this.newUserSecondName;
                                    formData.append('user[name]', name);
                                    formData.append('user[division_id]', this.newUserDivision);
                                    if(this.newUserEmail != ''){
                                        checkForm = true;
                                        formData.append('user[email]', this.newUserEmail);
                                        formData.append('user[login]', this.newUserEmail);
                                        if(this.newUserMobile != null){
                                            formData.append('user[mobile]', this.newUserMobile);
                                        }
                                        if(this.newUserPhoneInner != null){
                                            formData.append('user[phone_inner]', this.newUserPhoneInner);
                                        }
                                        if(this.newUserPhoneOuter != null){
                                            formData.append('user[phone_outer]', this.newUserPhoneOuter);
                                        }
                                        formData.append('user[role_id]', 2);
                                    }else{
                                        this.notification('error', 'Введите email пользователя!');
                                    }
                                }else{
                                    this.notification('error', 'Выберите отдел пользователя!');
                                }
                            }else{
                                this.notification('error', 'Введите отчество пользователя!');
                            }
                        }else{
                            this.notification('error', 'Введите фамилию пользователя!');
                        }
                    }else{
                        this.notification('error', 'Введите имя пользователя!');
                    }
                }
                formData.append('type', 'create_company');
                if(checkForm){
                    this.sendCustomRequest('http://localhost/api/submit/', formData);
                }
            },
            answerCreateCompany: function(params){
                console.log(params);
                this.notification(params.status, params.message);
            },
  			showUserForm: function(){
                if(this.userForm){
                    this.userForm = false;
                }
                else{
                    this.userForm = true;
                }
  			},
            handleFileUploads: function(){
                this.logo = this.$refs.logo.files;
                if (this.logo != null && this.logo.length > 0) {
                    var reader = new FileReader();
                    let curTarget = this;
                    reader.onload = function (e) {
                        curTarget.logoSrc = e.target.result;
                    };

                    reader.readAsDataURL(this.logo[0]);
                }
            },
            renderOrgTypes: function(params){
                this.orgTypes = params;
            },
            renderUserAdmins: function(params){
                this.userAdmins = params;
            },
            renderUserDivisions: function(params){
                this.divisions = params;
            }
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
    .admin_select{
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding:16px;}
    #admin option {
        font-size: 14px;
        line-height: 18px;
    }
    .admin_form528 .top-poisk_arr {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .admin_form528 .form-control {
        min-height: 50px;
        padding: 16px;
    }
    .set_logo{
        cursor: pointer;
    }
    .set_logo #logo{
        width: 74px;
        height: 74px;
        object-fit: cover;
        border-radius: 50%;
    }
    #set_logo{
        display: none;
    }
</style>