<template>
	<div id="admin-all">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<div class="col-xl-9">
					<div class="row">
						<div class="col">	
							<h1 class="mt24 mb36">Все компании</h1>
						</div>
					</div>
					<div class="form-inline top-poisk">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"></path>
									</svg>
								</span>
							</div>
							<input type="text" class="top-poisk-control" placeholder="Поиск по имени" aria-label="Username" aria-describedby="basic-addon1" v-model="byName" @change="(event) => { setFilter(event, 'get_companies', {'name': byName}) }">
						</div>
					</div>
					<div class="profile-work_doc_box sotrudniki-table" v-for="(company, index) in companies" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == companies.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="row align-items-center">
							<div class="col-12 ">
								<div class="float-left">
									<img :src="company.logo" class="" alt="">
								</div>
								<a :href="'/admin/company/profile/' + company.id + '/'">
									<div class="black14-18 pt3">{{ company.name }}</div>
								</a>
								<div class="gray12-15 pt3">{{ company.description }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
	export default{
        name: 'admin-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar
  		},
  		data(){
  			return {
  				byName: '',
  				user: [],
  				user_style: {},
  				edit: false,
  				companies: [],
  			}
  		},
  		created: function(){
  			let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
  			params = {
  				method: 'get_companies',
  			};

  			this.ajaxSimpleRequest(params);
  		},
  		methods:{
  			renderCompanies: function(params){
  				this.companies = params;
  			},
  			edit_profile: function(){
  				window.location.href = '/admin/user/edit/' + this.user.id + '/';
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
	.top-poisk{
		margin-bottom: 20px;
	}
</style>