<template>
	<div id="categories">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9"  v-if="!create && editingRequestID == null">
					<div class="container772 ml-auto mr-auto">
						<div class="text-center">
							<h1 class="mt24 mb36">Выберите категорию заявки</h1>
						</div>
						<!--верхний бар поиск категории-->
				 	 	<input class="form-control" v-model="byName" @change="(event) => { setFilter(event, 'getBidCategories', {name: event.target.value}) }" type="text" placeholder="Поиск категорий">
						<!--конец верхний бар поиск категории-->  
						<!--список категорий -->
						<div class=" mt45" v-if="categories != null">
							<div class="row mb14 pl-xl-3" v-for="category in categories" :key="category.id">
								<div class="col-1 pl-xl-0 mw40">
									<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.0826 1.11573C10.4307 0.312852 11.5693 0.312853 11.9175 1.11573L13.9247 5.74463C14.2145 6.41294 14.8448 6.87083 15.5699 6.93993L20.5925 7.41853C21.4637 7.50155 21.8156 8.58442 21.1596 9.16364L17.3775 12.5031C16.8314 12.9852 16.5907 13.7261 16.7491 14.4371L17.846 19.3618C18.0362 20.216 17.1151 20.8852 16.3615 20.4403L12.0168 17.8753C11.3895 17.505 10.6105 17.505 9.98324 17.8753L5.63854 20.4403C4.88495 20.8852 3.96381 20.216 4.15407 19.3618L5.25097 14.4371C5.40933 13.7261 5.1686 12.9852 4.62256 12.5031L0.840487 9.16363C0.184489 8.58441 0.536336 7.50155 1.40751 7.41853L6.43013 6.93993C7.15528 6.87083 7.78552 6.41294 8.07532 5.74463L10.0826 1.11573Z" fill="#633BB2"/>
									</svg>
								</div>
								<div class="col-11 pl-xl-0">
									<div class="zag_18_23">{{ category.name }}</div>
									<div class="gray_text" v-if="category.children != null">
										<a href="javascript:void(0)" @click="createForm" class="gray_text" :data-parent="category.id" :data-executor="child.executor_id" :data-name="child.name" :id="child.id" v-for="(child, index) in category.children" :key="child.key" v-if="child.active == null || child.active == 'Y'">
											{{ child.name }}
											<span class="inline-block ml8 mr8" v-if="index + 1 != category.children.length">•</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	            <div class="col-xl-9" v-else-if="vacancy">
	            	<create-vacancy @changeCatgeroy="changeCatgeroy" :user="user" :selected="selected" :categories="categories" :parent="parent" :curID="curID" :curName="curName"></create-vacancy>
	            </div>
				<div class="col-xl-9" v-else>
					<div class="text-center">
						<h1 class="mt24" v-if="editingRequestID == null">Создать заявку или запрос</h1>
						<h1 class="mt24" v-else>Создание новой версии заявки</h1>
					</div>
					<!--форма создать заявку -->
					<form action="" method="" class="form528" >
						<div class="form-group" v-if="editingRequestID == null">
							<label for="vibrat_kat" class="mt69 fs14-18 mb7 purple select_show change_category" style="color:#633BB2;" @click="changeCatgeroy">Выбрать другую категорию</label>
								<select name="category_id" class="zag_18_23" id="vibrat_kat" v-model="selected">
									<option selected v-bind:value="{ id: curID }">{{ categories[parent].name }}  /  {{ curName }} </option>
									<option v-for="category in categories[parent].children" v-if="curName != category.name" :key="category.id" v-bind:value="{ id: category.id }">{{ categories[parent].name }}  /  {{ category.name }}</option>
								</select>
						</div>
						<div class="edit_request_category" v-else>
							<div class="btn-light btn p12-24 mb8 mt48">Версия {{ request.request_edit == null || request.request_edit == 1 ? 2 : parseInt(request.request_edit) + 1 }}</div>
							<div class="form-group">
								<label for="vibrat_kat" class="fs14-18 mb7" v-if="request.request_type != null">{{ request.request_type.parent }} / {{ request.request_type.name }}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput" class="gray14-18 mb4 mt22">Название *</label>
							<input type="text" v-model="request_name" name="request_name" class="form-control" id="formGroupExampleInput" placeholder="">
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1" class="gray14-18 mb4 mt22">Описание</label>
							<textarea class="form-control text_decoration_dotted" v-model="request_text" name="request_text" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>  
						<div class="zayavka-file_stroka mt24 mb24">
							<label for="upload_card" class="form-group row align-items-center ">
								<div class="col-xl-6">
									<div class="file-upload">
										<span class="btn btn-block zayavka-down-file">
											<span class="">
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M8.10769 6.22652C8.33085 6.00336 8.69266 6.00336 8.91581 6.22652C9.13897 6.44967 9.13897 6.81148 8.91581 7.03464L6.53185 9.4186C6.20787 9.74259 6.18906 10.288 6.53185 10.6308C6.87465 10.9736 7.42005 10.9548 7.74404 10.6308L12.1887 6.18611C13.1039 5.2709 13.0539 3.81876 12.1887 2.95362C11.3236 2.08848 9.87144 2.03841 8.95622 2.95362L4.51155 7.39829C3.05399 8.85585 3.08117 11.2207 4.51155 12.6511C5.94193 14.0815 8.30678 14.1086 9.76434 12.6511L12.1483 10.2671C12.3715 10.044 12.7333 10.044 12.9564 10.2671C13.1796 10.4903 13.1796 10.8521 12.9564 11.0752L10.5725 13.4592C8.66438 15.3673 5.57601 15.3318 3.70343 13.4592C1.83084 11.5866 1.79534 8.49826 3.70343 6.59017L8.1481 2.1455C9.52256 0.771037 11.6974 0.84603 12.9968 2.1455C14.2963 3.44497 14.3713 5.61977 12.9968 6.99423L8.55216 11.4389C7.79384 12.1972 6.52578 12.2409 5.72373 11.4389C4.92169 10.6369 4.96541 9.3688 5.72373 8.61048L8.10769 6.22652Z" fill="#8B80A0"/>
												</svg>
											</span>
											<span>Прикрепить файлы</span>
										</span>
									</div>
								</div>
								<div class="col-xl-6 ">
									<div class="form-poyasnenie">Поддерживаемые форматы и размеры тут укажем обязательно</div>
								</div>
							</label>
							<input type="file" name="upload_file" multiple="" ref="files" accept="application/pdf,application/msword,jpg,application/vnd.ms-excel,image/png" id="upload_card" v-on:change="handleFileUploads()" style="visibility: hidden;">
							<div class="files_wrap" v-if="filesStub != null && filesStub.length > 0">
								<div class="file" v-for="(file, index) in filesStub" :key="file.name">
									<div class="file_desc">
										<div class="file_img">
											<img src="/src/assets/img/file_img.png">
										</div>
										<div class="file_name">
											{{ file.name }}
										</div>
									</div>
									<div class="file_desc">
										<div class="file_size">
											{{ file.size / 1000 }} Kb
										</div>
										<div class="file_del" :id="index" @click="deleteFile">
											<img src="/src/assets/img/close.png">
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="form-group">
							<div class="gray14-18 mb4 mt16">Согласующие</div>
							<div class="tipa_input1" id="">
								<div class="tipa_input  row  ml-0">
									<div class="tipa_input_item tipa_input1 mb4 mr8" v-if="matchers.length > 0" v-for="(matcher, index) in matchers" :key="matcher.id">
										<img :src="matcher.logo" class="img18_18" alt="">
										{{ matcher.name }}
										<a href="javascript:void(0)" @click="delMatchers" :id="index">
											<span class="tipa_input2">
												<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.33301 0.833496L3.99969 3.50016M3.99969 3.50016L6.66634 0.833496M3.99969 3.50016L1.33301 6.16683M3.99969 3.50016L6.66634 6.16683" stroke="#633BB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</span>
										</a>
									</div>
									<input type="text" name="" @focus="watching = false; performing = false" id="input_matchers" class="search_input" v-on:keypress="autocompleteMatchers">
									<a href="javascript:void(0)" class="tipa_input_item_last d-none" >
										<div class="">
											<svg width="2" height="23" viewBox="0 0 2 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<line x1="1" y1="1.5" x2="0.999999" y2="21.5" stroke="#633BB2" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-up" @click="matching == true ? matching =  false : matching = true" v-bind:class="matching ? 'd-block' : 'd-none'"></span>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-down" @click="matching == true ? matching =  false : matching = true" v-bind:class="!matching ? 'd-block' : 'd-none'"></span>
									</a>
								</div>
								<div class="tipa_input_options" v-if="searchMatchers != null && searchMatchers.length > 0" v-bind:class="matching ? 'd-block' : 'd-none'">
									<a href="javascript:void(0)" v-for="(user, index) in searchMatchers" :key="user.id" :id="index" @click="chooseMatchers">
										<div class="d-flex tipa_input_option mb16">
											<div class="float-left mr8">
												<img :src="user.logo" class="img36_36" alt="">
											</div>
											<div class="">
												<div class="gray14-18">{{ user.name }}</div>
												<div class="tipa_input_option_dolgnost">{{ user.division }}  •  {{ user.position }}</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="gray14-18 mb4 mt16">Исполнители</div>
							<div class="tipa_input1" id="">
								<div class="tipa_input  row  ml-0">
									<div class="tipa_input_item tipa_input1 mb4 mr8" v-if="performers.length > 0" v-for="(performer, index) in performers" :key="performer.id">
										<img :src="performer.logo" class="img18_18" alt="">
										{{ performer.name }}
										<a href="javascript:void(0)" @click="delPerformers" :id="index">
											<span class="tipa_input2">
												<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.33301 0.833496L3.99969 3.50016M3.99969 3.50016L6.66634 0.833496M3.99969 3.50016L1.33301 6.16683M3.99969 3.50016L6.66634 6.16683" stroke="#633BB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</span>
										</a>
									</div>
									<input type="text" name="" @focus="matching = false; watching = false" id="input_performers" class="search_input" v-on:keypress="autocompletePerformers">
									<a href="javascript:void(0)" class="tipa_input_item_last d-none" >
										<div class="">
											<svg width="2" height="23" viewBox="0 0 2 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<line x1="1" y1="1.5" x2="0.999999" y2="21.5" stroke="#633BB2" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-up" @click="performing == true ? performing =  false : performing = true" v-bind:class="performing ? 'd-block' : 'd-none'"></span>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-down" @click="performing == true ? performing =  false : performing = true" v-bind:class="!performing ? 'd-block' : 'd-none'"></span>
									</a>
								</div>
								<div class="tipa_input_options" v-if="searchPerformers != null && searchPerformers.length > 0" v-bind:class="performing ? 'd-block' : 'd-none'">
									<a href="javascript:void(0)" v-for="(user, index) in searchPerformers" :key="user.id" :id="index" @click="choosePerformers">
										<div class="d-flex tipa_input_option mb16">
											<div class="float-left mr8">
												<img :src="user.logo" class="img36_36" alt="">
											</div>
											<div class="">
												<div class="gray14-18">{{ user.name }}</div>
												<div class="tipa_input_option_dolgnost">{{ user.division }}  •  {{ user.position }}</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="gray14-18 mb4 mt16">Наблюдатели</div>
							<div class="tipa_input1" id="">
								<div class="tipa_input  row  ml-0">
									<div class="tipa_input_item tipa_input1 mb4 mr8" v-if="watchers.length > 0" v-for="(watcher, index) in watchers" :key="watcher.id">
										<img :src="watcher.logo" class="img18_18" alt="">
										{{ watcher.name }}
										<a href="javascript:void(0)" @click="delWatchers" :id="index">
											<span class="tipa_input2">
												<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.33301 0.833496L3.99969 3.50016M3.99969 3.50016L6.66634 0.833496M3.99969 3.50016L1.33301 6.16683M3.99969 3.50016L6.66634 6.16683" stroke="#633BB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</span>
										</a>
									</div>
									<input type="text" name="" @focus="matching = false; performing = false" id="input_watchers" class="search_input" v-on:keypress="autocompleteWatchers">
									<a href="javascript:void(0)" class="tipa_input_item_last d-none" >
										<div class="">
											<svg width="2" height="23" viewBox="0 0 2 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<line x1="1" y1="1.5" x2="0.999999" y2="21.5" stroke="#633BB2" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-up" @click="watching == true ? watching =  false : watching = true" v-bind:class="watching ? 'd-block' : 'd-none'"></span>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-down" @click="watching == true ? watching =  false : watching = true" v-bind:class="!watching ? 'd-block' : 'd-none'"></span>
									</a>
								</div>
								<div class="tipa_input_options" v-if="searchWatchers != null && searchWatchers.length > 0" v-bind:class="watching ? 'd-block' : 'd-none'">
									<a href="javascript:void(0)" v-for="(user, index) in searchWatchers" :key="user.id" :id="index" @click="chooseWatchers">
										<div class="d-flex tipa_input_option mb16">
											<div class="float-left mr8">
												<img :src="user.logo" class="img36_36" alt="">
											</div>
											<div class="">
												<div class="gray14-18">{{ user.name }}</div>
												<div class="tipa_input_option_dolgnost">{{ user.division }}  •  {{ user.position }}</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-primary mr-3 p12-24" @click="submitForm()" v-if="editingRequestID == null">Создать</button>
							<button type="button" class="btn btn-primary mr-3 p12-24" @click="updateRequest()" v-else>Создать</button>
							<button type="button" class="btn btn-light p12-24" @click="refreshForm">Отмена</button>
						</div> 
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	import CreateVacancy from './CreateVacancy.vue';
	export default{
        name: 'createRequest',
  		mixins: [library],
        components:{
            LeftSideBar,
            CreateVacancy,
        },
		data() {
			return{
				users: {},
				user: {},
				categories: {},
				request_name: '',
				request_text: '',
				byName: '',
				create: false,
				curID: '',
				curName: '',
				parent: '',
				vacancy: false,
				files: '',
				filesStub: [],
				searchUsers: {},
				searchMatchers: [],
				searchWatchers: [],
				searchPerformers: [],
				matching: false,
				watching: false,
				performing: false,
				matchers: [],
				watchers: [],
				performers: [],
				selected: {},
				request: {},
				default_executor: '',
			}
		},
		props: {
			editingRequestID: String,
		},
		created(){
			this.setPageTitle('Создание заявки');
			let params;
			if(this.editingRequestID == null){
				params = {
					method: 'getBidCategories',
				};
				this.sendAjaxRequest(params);
			}else{
				params = {
					method: 'getEditRequest',
					request_id: this.editingRequestID,
				}
				this.ajaxSimpleRequest(params);
			}

			this.getUsers();
			
        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);
		},
		methods:{
			renderRequest: function(params){
				this.request = params;
				this.request_name = this.request.request_name;
				this.request_text = this.request.request_text;
				if(this.request.request_watchers != null && this.request.request_watchers.length > 0){
					for(let i = 0; i < this.request.request_watchers.length; i++){
						this.watchers.push(this.request.request_watchers[i]);
					}
				}
				if(this.request.request_matchers != null && this.request.request_matchers.length > 0){
					for(let i = 0; i < this.request.request_matchers.length; i++){
						this.matchers.push(this.request.request_matchers[i]);
					}
				}
				if(this.request.request_performers != null && this.request.request_performers.length > 0){
					for(let i = 0; i < this.request.request_performers.length; i++){
						this.performers.push(this.request.request_performers[i]);
					}
				}
				if(this.request.request_files != null && this.request.request_files.length > 0){
					for(let i = 0; i < this.request.request_files.length; i++){
						this.filesStub.push(this.request.request_files[i]);
					}
				}
			},
			autocompleteMatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getMatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			autocompleteWatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getWatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			autocompletePerformers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getPerformers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			renderMatchers: function(params){
				this.matching = true;
				this.searchMatchers = params;
			},
			renderWatchers: function(params){
				this.watching = true;
				this.searchWatchers = params;
			},
			renderPerformers: function(params){
				this.performing = true;
				this.searchPerformers = params;
			},
			getUsers: function(){
				let params = {
					method: 'getUsers',
					limit: 10,
				};
				this.ajaxSimpleRequest(params);
			},
			renderUser: function(params){
				this.user = params;
			},
			renderExecutor: function(params){
				this.performers.push(params);
			},
			renderUsers: function(params){
				this.searchUsers = params;
			},
			renderBidCategories: function(params){
				console.log(params);
				if(params.status == null)
					this.categories = params;
				else
					this.notification(params.status, params.message);
			},
			createForm: function(event){
				this.curID = event.currentTarget.getAttribute('id');
				this.parent = event.currentTarget.getAttribute('data-parent');
				this.selected = {id: this.curID};
				if(this.curID == 7){
					this.vacancy = true;
				}else{
					this.vacancy = false;
				}
				this.curName = event.currentTarget.getAttribute('data-name');
				this.parent = event.currentTarget.getAttribute('data-parent');
				this.default_executor = event.currentTarget.getAttribute('data-executor');
				this.create = true;
	        	let params = {
        			method: 'getUser',
        			callback: 'renderExecutor',
        			id: this.default_executor,
        		};
        		this.ajaxSimpleRequest(params);
			},
			changeCatgeroy: function(event){
				this.create = false;
				this.vacancy = false;
			},
			handleFileUploads: function(){
				this.files = this.$refs.files.files;
				for(let i = 0; i < this.files.length; i++){
					this.filesStub.push(this.files[i]);
				}
			},
			deleteFile: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				if (id >=  0) {
				  this.filesStub.splice(id, 1);
				}
			},
			chooseMatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.matchers.push(this.searchMatchers[id]);
				this.searchMatchers.splice(id, 1);
				document.querySelector('#input\_matchers').value = '';
			},
			chooseWatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.watchers.push(this.searchWatchers[id]);
				this.searchWatchers.splice(id, 1);
				document.querySelector('#input\_watchers').value = '';
			},
			choosePerformers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.performers.push(this.searchPerformers[id]);
				this.searchPerformers.splice(id, 1);
				document.querySelector('#input\_performers').value = '';
			},
			delMatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.searchMatchers.push(this.matchers[id]);
				this.matchers.splice(id, 1);
			},
			delWatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.searchWatchers.push(this.watchers[id]);
				this.watchers.splice(id, 1);
			},
			delPerformers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.searchPerformers.push(this.performers[id]);
				this.performers.splice(id, 1);
			},
			submitForm: function(){
				let formData = new FormData();
				if(this.request_name == ''){
					this.notification('error', 'Введите название заявки');
				}else{
					formData.append('request_name', this.request_name);
					if(this.request_text == ''){
						this.notification('error', 'Введите описание заявки');
					}else{
						formData.append('request_text', this.request_text);
						for (var i = 0; i < this.filesStub.length; i++) {
							for(var j = 0; j < this.files.length; j++){
								if(this.filesStub[i].name == this.files[j].name){
									formData.append('files[' + i + ']', this.files[j]);
								}
							}
						}
						for(let i = 0; i < this.matchers.length; i++){
							formData.append('matchers[' + i + ']', this.matchers[i].id);
						}
						for(let i = 0; i < this.watchers.length; i++){
							formData.append('watchers[' + i + ']', this.watchers[i].id);
						}
						for(let i = 0; i < this.performers.length; i++){
							formData.append('performers[' + i + ']', this.performers[i].id);
						}
						formData.append('request_type', this.selected.id);
						formData.append('type', 'createRequest');
						fetch('http://localhost/api/submit/', {
						    mode: 'cors',
						    cache: 'no-cache',
						    credentials: 'include',
							method: 'POST',
						    body: formData,
						}).then((response) => {
							return response.json();
						})
						.then((data) => {
							this.getCreateAnswer(data);
						});	
					}
				}
			},
			updateRequest: function(){
				let formData = new FormData();
				if(this.request_name == ''){
					this.notification('error', 'Введите название заявки');
				}else{
					formData.append('request_name', this.request_name);
					if(this.request_text == ''){
						this.notification('error', 'Введите описание заявки');
					}else{
						formData.append('request_text', this.request_text);
						for (var i = 0; i < this.filesStub.length; i++) {
							if(this.files != null && this.files.length > 0){
								for(var j = 0; j < this.files.length; j++){
									if(this.filesStub[i].name == this.files[j].name){
										formData.append('files[' + i + ']', this.files[j]);
									}else{
										formData.append('existFiles[' + i + ']', this.filesStub[i].id);
									}
								}
							}else{
								formData.append('existFiles[' + i + ']', this.filesStub[i].id);
							}
						}
						for(let i = 0; i < this.matchers.length; i++){
							formData.append('matchers[' + i + ']', this.matchers[i].id);
						}
						for(let i = 0; i < this.watchers.length; i++){
							formData.append('watchers[' + i + ']', this.watchers[i].id);
						}
						for(let i = 0; i < this.performers.length; i++){
							formData.append('performers[' + i + ']', this.performers[i].id);
						}
						formData.append('request_type', this.request.request_type.id);
						formData.append('request_id', this.editingRequestID);
						formData.append('type', 'updateRequest');
						fetch('http://localhost/api/submit/', {
						    mode: 'cors',
						    cache: 'no-cache',
						    credentials: 'include',
							method: 'POST',
						    body: formData,
						}).then((response) => {
							return response.json();
						})
						.then((data) => {
							this.getCreateAnswer(data);
						});	
					}
				}
			},
			refreshForm: function(){
				this.create = true;
				this.files = '';
				this.filesStub = [];
				this.matching = false;
				this.watching = false;
				this.matchers = [];
				this.watchers = [];
				this.performers = [];
				this.request_name = '';
				this.request_text = '';
				this.searchUsers = {};
				this.searchMatchers = [];
				this.searchWatchers = [];
				this.searchPerformers = [];
				this.getUsers();
				this.create = false;
			},
			getCreateAnswer: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					this.page = 'my_requests';
					location.href = '/#my_requests';
					location.reload();
				}
			}
		}
	}
</script>

<style scoped="">
	.search_input{
		border: none;
	}
	.change_category{
		cursor: pointer;
	}
	.files_wrap{
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 5px;
	}
	.files_wrap .file{
		border-bottom: 1px solid #E0E0E0;
		padding: 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.files_wrap .file_desc{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.files_wrap .file_img{
		width: 16px;
		height: 16px;
		margin-right: 18px;
	}
	.files_wrap .file_img img, .files_wrap .file_del img{
		width: 100%;
		height: 100%;
		vertical-align: super;
	}
	.files_wrap .file:last-child{
		border: none;
	}
	.files_wrap .file_name{
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #000000;
	}
	.files_wrap .file_size{
		margin-right: 18px;
		font-size: 12px;
		line-height: 15px;
		color: #828282;
	}
	.files_wrap .file_del{
		cursor: pointer;
		width: 16px;
		height: 16px;
	}
	#vibrat_kat{
		width: 100%;
	}
	.search_input{
		width: 100%;
	}
</style>