<template>
	<form action="#" class="zayavka_form">
		<div class="text-center">
			<h1 class="mt24">Создать заявку или запрос</h1>
		</div>
	    <div>
			<div class="form-group">
				<label for="vibrat_kat" class="mt69 fs14-18 mb7 purple select_show change_category" style="color:#633BB2;" @click="changeCatgeroy">Выбрать другую категорию</label>
					<select name="category_id" class="zag_18_23" id="vibrat_kat" v-model="selected">
						<option selected v-bind:value="{ id: curID }">{{ categories[parent].name }}  /  {{ curName }} </option>
						<option v-for="category in categories[parent].children" v-if="curName != category.name" :key="category.id" v-bind:value="{ id: category.id }">{{ categories[parent].name }}  /  {{ category.name }}</option>
					</select>
			</div>
	    </div>
	    <div class="zayavka_form__item select_main_box">
	        <label for="division">Департамент</label>
	        <select name="division" id="division" v-model="formFields.division">
	            <option value="">Департамент</option>
				<option v-for="divis in userDivisions" v-bind:value="divis.id">{{divis.name}}</option>
	        </select>
	        <div class="zayavka_form_select zayavka_form__item-form">
	            <div class="zayavka_form_select__title">
	                <span>Не выбрано</span>
	            </div>
	            <ul>
	                <li v-for="divis in userDivisions" :data-val-select="divis.id" @click="(event) => { selectBox(event, divis.id, divis.name, 'division'); getPositions(divis.id); }">{{divis.name}}</li>
	            </ul>
	        </div>
	    </div>
	    <div class="zayavka_form__item select_main_box">
	        <label for="position">Наименование должности</label>
	        <select name="position" id="position" v-model="formFields.position">
	            <option value="">Наименование должности</option>
	        	<option v-for="posit in userPositions" v-bind:value="posit.id">{{posit.name}}</option>
	            <option value="0">Новая должность</option>
	        </select>
	        <div class="zayavka_form_select zayavka_form__item-form">
	            <div class="zayavka_form_select__title">
	                <span id="position_title">Не выбрано</span>
	            </div>
	            <ul>
	                <li v-for="posit in userPositions" @click="(event) => { selectBox(event, posit.id, posit.name, 'position') }" :data-val-select="posit.id">{{posit.name}}</li>
	                <li data-val-select="0" @click="(event) => { selectBox(event, '0', 'Новая должность', 'position') }">Новая должность</li>
	            </ul>
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Требования к кандидату</label>
	        <div class="zayavka_form__row-item-form">
	            <label for="education" v-if="fields.education != null">{{ fields.education.name }}</label>
	            <div class="select_main_box" v-if="fields.education != null">
	                <select name="education" id="education" v-model="formFields.education">
	        			<option v-for="educ in fields['education'].values" v-bind:value="educ.id">{{educ.name}}</option>
	                </select>
	                <div class="zayavka_form_select zayavka_form__item-form">
	                    <div class="zayavka_form_select__title">
	                        <span>Не выбрано</span>
	                    </div>
	                    <ul>
	                		<li v-for="educ in fields['education'].values" @click="(event) => { selectBox(event, educ.id, educ.name, 'education') }" :data-val-select="educ.id">{{educ.name}}</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="experience">Опыт работы</label>
	            <input type="text" id="experience" v-model="formFields.experience" class="zayavka_form__item-form" placeholder="Например, 6 мес.">
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="position_name">Должностные обязанности</label>
	        <input type="text" class="zayavka_form__item-form" id="duties" v-model="formFields.duties" placeholder="Например, Просматривать документы на наличие ошибок">
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Наличие должностной инструкции</label>
	        <div class="zayavka_form__radio-box">
	            <input type="radio" name="instruction" id="wot" v-bind:value="'Да'" v-model="formFields.instruction">
	            <label for="wot">Да</label>
	            <input type="radio" name="instruction" id="wot2" v-bind:value="'Нет'" v-model="formFields.instruction">
	            <label for="wot2">Нет</label>
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Предполагаемая заработная плата</label>
	        <div class="zayavka_form__between-input">
	            <input type="text" class="zayavka_form__item-form" placeholder="от 555 555р." v-on:keyup="checkPriceFormat" v-model="formFields.priceFrom">
	            <input type="text" class="zayavka_form__item-form" placeholder="до 555 555р." v-on:keyup="checkPriceFormat" v-model="formFields.priceTo">
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">График работы</label>
	        <div class="zayavka_form__radio-box">
	            <input type="radio" name="schedule" id="schedule1" v-bind:value="'Полный рабочий день'" v-model="formFields.schedule">
	            <label for="schedule1">Полный рабочий день</label>
	            <input type="radio" name="schedule" id="schedule2" v-bind:value="'Удаленная работа'" v-model="formFields.schedule">
	            <label for="schedule2">Удаленная работа</label>
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Предусматриваются ли командировки</label>
	        <div class="zayavka_form__radio-box">
	            <input type="radio" name="trip" id="trip1" v-bind:value="'Да'" v-model="formFields.trip">
	            <label for="trip1">Да</label>
	            <input type="radio" name="trip" id="trip2" v-bind:value="'Нет'" v-model="formFields.trip">
	            <label for="trip2">Нет</label>
	        </div>
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Причина появления вакансии</label>
	        <input type="text" class="zayavka_form__item-form" v-model="formFields.vacancy_reason" placeholder="Например, Увольнение сотрудника, Возникновение новой штатной единицы и т. д.">
	    </div>
	    <div class="zayavka_form__item select_main_box">
	        <label for="receipt_date">Дата планируемого приема</label>
	        <input type="text" id="receipt_date" v-model="formFields.receipt_date_input" v-on:keypress="receiptDateMask" class="zayavka_form__item-form" placeholder="__.__.____">
	    </div>
	    <div class="zayavka_form__item">
	        <label for="">Информация об интервью</label>
	        <div class="zayavka_form__row-item-form">
	            <label for="decision">Кто принимает окончательное <br>решение</label>
	            <div class="select_main_box">
	                <select name="decision" id="decision" v-model="formFields.decision_user">
        				<option v-for="user in searchMatchers" v-bind:value="user.id">{{user.name}}</option>
	                </select>
	                <div class="zayavka_form_select zayavka_form__item-form">
	                    <div class="zayavka_form_select__title">
	                    	<input type="text" placeholder="Не выбрано" class="select_input" v-on:keyup="getMatchers" v-model="matcherSearch">
	                    </div>
	                    <ul>
	                        <li v-for="user in searchMatchers" @click="(event) => { selectBox(event, user.id, user.name, 'decision') }" :data-val-select="user.id">{{user.name}}</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Конфиденциальная информация <br>о найме</label>
	            <div>
	                <div class="zayavka_form__radio-box">
	                    <input type="radio" name="secret" id="secret1" v-bind:value="'Да'" v-model="formFields.secret">
	                    <label for="secret1">Да</label>
	                    <input type="radio" name="secret" id="secret2" v-bind:value="'Нет'" v-model="formFields.secret">
	                    <label for="secret2">Нет</label>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="zayavka_form__item" style="margin-top: 70px">
	        <label for="">Дополнительная информация</label>
	        <div class="zayavka_form__row-item-form">
	            <label for="specialty">Специальность</label>
	            <input type="text" class="zayavka_form__item-form" v-model="formFields.specialty" placeholder="Не выбрано">
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Владение ПК</label>
	            <div class="assort_main_box">
	                <div class="zayavka_form_select zayavka_form__item-form">
	                    <div class="assort_main_box__title">
	                    	<div class="assort_main_box__group" v-if="choosenPC.length > 0">
	                    		<div v-for="(skill, index) in choosenPC" @click="(event) => { removePCFields(index) }">
	                    			{{ skill.name }}
	                    		</div>
	                    	</div>
	                    	<input type="text" :placeholder="choosenPC.length == 0 ? 'Не выбрано' : ''" v-on:keypress="autocompletePC" v-model="PC_input">
	                    </div>
	                    <ul>
	                        <li v-for="(skill, index) in searchPCFields" :data-val-assort="skill.id" @click="(event) => { choosePC(skill.id, skill.name, index) }">{{ skill.name }}</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Владение иностранными языками</label>
	            <div class="zayavka_form__row-three-items" v-if="fields.lang_levels != null">
	                <input type="text" class="zayavka_form__item-form lang_value" placeholder="Язык" >
	                <div class="select_main_box">
	                    <select name="lang_level" class="lang_select" id="lang_level">
        					<option v-for="field in fields.lang_levels.values" v-bind:value="field.id">{{field.name}}</option>
	                    </select>
	                    <div class="zayavka_form_select zayavka_form__item-form">
	                        <div class="zayavka_form_select__title">
	                            <span>Уровень</span>
	                        </div>
	                        <ul>
	                        	<li v-for="field in fields.lang_levels.values" :data-val-select="field.id">{{field.name}}</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="zayavka_form__add-item-click" @click="incrementLangs">
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form" v-for="i in langs">
	            <label for=""></label>
	            <div class="zayavka_form__row-three-items">
	                <input type="text" class="zayavka_form__item-form lang_value" placeholder="Язык" >
	                <div class="select_main_box">
	                    <select :name="'lang_level_' + i" :id="'lang_level_' + i" class="lang_select">
        					<option v-for="field in fields.lang_levels.values" v-bind:value="field.id">{{field.name}}</option>
	                    </select>
	                    <div class="zayavka_form_select zayavka_form__item-form">
	                        <div class="zayavka_form_select__title">
	                            <span>Уровень</span>
	                        </div>
	                        <ul>
	                        	<li v-for="field in fields.lang_levels.values" :data-val-select="field.id">{{field.name}}</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="zayavka_form__add-item-click" @click="decrementLangs">
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Наличие водительских прав</label>
	            <div class="zayavka_form__row-two-items">
	                <div class="zayavka_form__radio-box">
	                    <input type="radio" name="drive_licence" id="drive_licence1" v-bind:value="'Да'" @click="handlerDriverCategories" v-model="formFields.driverLicence">
	                    <label for="drive_licence1">Да</label>
	                    <input type="radio" name="drive_licence" id="drive_licence2" v-bind:value="'Нет'" @click="hideDriverCategories" v-model="formFields.driverLicence">
	                    <label for="drive_licence2">Нет</label>
	                </div>
	                <div class="zayavka_form__line-input" v-if="showDriverCategories && fields.driver_licence_categories != null">
	                    <label for="">Категория</label>
	                    <div class="select_main_box">
	                        <select name="driverCategory" v-model="formFields.driveCategory">
        						<option v-for="field in fields.driver_licence_categories.values" v-bind:value="field.id">{{field.name}}</option>
	                        </select>
	                        <div class="zayavka_form_select zayavka_form__item-form">
	                            <div class="zayavka_form_select__title">
	                                <span>Не выбрано</span>
	                            </div>
	                            <ul>
	                        		<li v-for="field in fields.driver_licence_categories.values"  @click="(event) => { selectBox(event, field.id, field.name, 'driveCategory') }"  :data-val-select="field.id">{{field.name}}</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Наличие автомобиля</label>
	            <div class="zayavka_form__radio-box">
	                <input type="radio" name="auto" id="auto1" v-bind:value="'Да'" v-model="formFields.auto">
	                <label for="auto1">Да</label>
	                <input type="radio" name="auto" id="auto2" v-bind:value="'Нет'" v-model="formFields.auto">
	                <label for="auto2">Нет</label>
	            </div>
	        </div>
	        <div class="zayavka_form__row-item-form">
	            <label for="">Личные качества кандидата</label>
	            <div class="assort_main_box">
	                <div class="zayavka_form_select zayavka_form__item-form">
	                    <div class="assort_main_box__title">
	                    	<div class="assort_main_box__group" v-if="choosenQualities.length > 0">
	                    		<div v-for="(skill, index) in choosenQualities" @click="(event) => { removeQualitiesField(index) }">
	                    			{{ skill.name }}
	                    		</div>
	                    	</div>
	                    	<input type="text" :placeholder="choosenQualities.length == 0 ? 'Не выбрано' : ''" v-on:keypress="autocompleteQualities" v-model="qualities_input">
	                    </div>
	                    <ul>
	                        <li v-for="(skill, index) in searchQualitiesFields" :data-val-assort="skill.id" @click="(event) => { chooseQualities(skill.id, skill.name, index) }">{{ skill.name }}</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="zayavka_form_users">
	        <p class="zayavka_form_users__title">Инициатор</p>
	        <div class="zayavka_form_users__user-fio">
	            <div :style="'background: center / contain url(' + user.logo + ') no-repeat'"></div>
	            <div>
	                {{ user.name }}
	            </div>
	        </div>
	    </div>
	    <div class="zayavka_form_users">
	        <p class="zayavka_form_users__title">Согласующий</p>
	        <div class="zayavka_form_users__user-fio">
	            <div :style="'background: center / contain url(' + matcher.logo + ') no-repeat'"></div>
	            <div>
	                {{ matcher.name }}
	            </div>
	        </div>
	    </div>
	    <div class="zayavka_form__button-box">
	        <input type="submit" value="Создать" @click="submitForm">
	        <input type="reset" value="Отмена" @click="cancelForm">
	    </div>
	</form>
	
</template>
<script>
	import { library } from './library.js'
	import Inputmask from 'inputmask';
	export default{
        name: 'create-vacancy',
  		mixins: [library],
        components:{
        	Inputmask,
        },
  		data(){
  			return {
  				formFields: {
  					division: '',
  					position: '',
  					education: '',
  					experience: '',
  					duties: '',
  					instruction: '',
	  				priceFrom: '',
	  				priceTo: '',
  					schedule: '',
  					trip: '',
  					vacancy_reason: '',
  					receipt_date_input: '',
  					decision_user: '',
  					secret: '',
  					specialty: '',
  					auto: '',
  					driverLicence: '',
  					driveCategory: '',
  				},
  				qualities_input: '',
  				PC_input: '',
  				matcherSearch: '',
  				matcher: '',
  				performer: '',
  				fields: {},
  				langs: [],
  				langsCount: 1,
  				choosenQualities: [],
  				choosenPC: [],
  				searchQualitiesFields: [],
  				searchPCFields: [],
  				showDriverCategories: false,
  				searchMatchers: [],
  				person_matcher: '',
				mask: '99.99.9999',
  			}
  		},
		props:{
			user: Object,
			categories: Object,
			selected: Object,
			parent: String,
			curID: String,
			curName: String,
		},
  		created: function(){
  			let params;

  			params = {
  				method: 'getVacancyUsers',
  			};

  			this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserDivisions',
        	}

        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getFields',
        	}

        	this.ajaxSimpleRequest(params);

			/*params = {
				method: 'getUsers',
			}

			this.ajaxSimpleRequest(params);*/
  		},
  		methods:{
  			getMatchers: function(){
  				if(this.matcherSearch != '' && this.matcherSearch.length > 2){
  					let params = {
						method: 'getUsers',
						filter: {
							name: this.matcherSearch,
						}
					}

					this.ajaxSimpleRequest(params);
  				}
  			},
  			getPositions: function(id){
	    		let params = {
	        		method: 'getUserPositions',
	        		division_id: id,
	        	}

	        	this.ajaxSimpleRequest(params);
	        	this.formFields.position = '';
	        	$('#position_title').text('Не выбрано');
  			},
  			incrementLangs: function(){
  				this.langs.push(this.langsCount);
  				this.langsCount++;
  			},
  			decrementLangs: function(){
  				this.langs.pop();
  				this.langsCount--;
  			},
			renderUsers: function(params){
				this.searchMatchers = params;
			},
			handlerDriverCategories: function(){
				if(!this.showDriverCategories)
					this.showDriverCategories = true;
			},
			hideDriverCategories: function(){
				if(this.showDriverCategories)
					this.showDriverCategories = false;
			},
			autocompletePC: function(event){
				let value = event.target.value;
				if(value.length > 1){
					let params = {
						method: 'searchField',
						search: value,
						callback: 'pcFields',
					}

					this.ajaxSimpleRequest(params);
				}
			},
			pcFields: function(params){
				if(this.choosenPC.length > 0){
					for (var i = 0; i < this.choosenPC.length; i++) {
						for(let j = 0; j < params.length; j++){
							if(this.choosenPC[i].id == params[j].id){
								params.splice(j, 1);
							}
						}
					}
				}
				this.searchPCFields = params;
			},
			choosePC: function(id, name, index){
				this.choosenPC.push(this.searchPCFields[index]);
				this.searchPCFields.splice(index, 1);
				this.PC_input = '';
			},
			removePCFields: function(index){
				this.searchPCFields.push(this.choosenPC[index]);
				this.choosenPC.splice(index, 1);
			},
			autocompleteQualities: function(event){
				let value = event.target.value;
				if(value.length > 1){
					let params = {
						method: 'searchField',
						search: value,
						callback: 'qualitiesFields',
					}

					this.ajaxSimpleRequest(params);
				}
			},
			qualitiesFields: function(params){
				if(this.choosenQualities.length > 0){
					for (var i = 0; i < this.choosenQualities.length; i++) {
						for(let j = 0; j < params.length; j++){
							if(this.choosenQualities[i].id == params[j].id){
								params.splice(j, 1);
							}
						}
					}
				}
				this.searchQualitiesFields = params;
			},
			chooseQualities: function(id, name, index){
				this.choosenQualities.push(this.searchQualitiesFields[index]);
				this.searchQualitiesFields.splice(index, 1);
				this.qualities_input = '';
			},
			removeQualitiesField: function(index){
				this.searchQualitiesFields.push(this.choosenQualities[index]);
				this.choosenQualities.splice(index, 1);
			},
  			vacancyUsers: function(params){
  				if(params.matcher !== undefined){
  					this.matcher = params.matcher;
  				}
  				if(params.performer !== undefined){
  					this.performer = params.performer;
  				}
  			},
  			changeCatgeroy: function(){
				this.$emit('changeCatgeroy', {
					create: false,
					vacancy: false,
				})
  			},
			receiptDateMask: function(event){
				let value = event.target.value;
				if(value[0] != '' && value.length == 1){
					var im = new Inputmask(this.mask);
					im.mask(document.getElementById('receipt_date'));
				}
			},
			requestFields: function(params){
				this.fields = params;
			},
			checkPriceFormat: function(e){
				if(this.formFields.priceFrom != ''){
					this.formFields.priceFrom = this.formFields.priceFrom.replace(/\D/g, '');
					this.formFields.priceFrom = this.formFields.priceFrom.replace(/(?:!\D)\s(?=\d)/g, '');
					this.formFields.priceFrom = this.formFields.priceFrom.replace(/\B(?=(\d{3})+(?!\d))/g, " ");
				}
				if(this.formFields.priceTo != ''){
					this.formFields.priceTo = this.formFields.priceTo.replace(/\D/g, '');
					this.formFields.priceTo = this.formFields.priceTo.replace(/(?:!\D)\s(?=\d)/g, '');
					this.formFields.priceTo = this.formFields.priceTo.replace(/\B(?=(\d{3})+(?!\d))/g, " ");
				}

			},
			submitForm: function(e){
				e.preventDefault();
				let check = true;
				if(this.formFields.division == ""){
					check = false;
					this.notification('error', 'Выберите департамент');
				}
				if(check && this.formFields.position == ""){
					check = false;
					this.notification('error', 'Выберите наименование должности');
				}
				if(check && this.formFields.education == ""){
					check = false;
					this.notification('error', 'Выберите образование');
				}
				if(check && this.formFields.experience == ""){
					check = false;
					this.notification('error', 'Укажите опыт работы');
				}
				if(check && this.formFields.duties == ""){
					check = false;
					this.notification('error', 'Введите должностные обязанности');
				}
				if(check && this.formFields.instruction == ""){
					check = false;
					this.notification('error', 'Есть ли у вас должностная инструкция?');
				}
				if(check && (this.formFields.priceFrom == "" || this.formFields.priceTo == "")){
					check = false;
					this.notification('error', 'Введите желаемую заработную плату');
				}
				if(check && this.formFields.schedule == ""){
					check = false;
					this.notification('error', 'Выберите график работы');
				}
				if(check && this.formFields.trip == ""){
					check = false;
					this.notification('error', 'Предусматривается ли командировка');
				}
				if(check && this.formFields.receipt_date_input == ""){
					check = false;
					this.notification('error', 'Введите дату планируемого приема');
				}
				if(check && this.formFields.decision_user == ""){
					check = false;
					this.notification('error', 'Выберите пользователя, принимающего окончательное решение');
				}
				if(check && this.formFields.secret == ""){
					check = false;
					this.notification('error', 'Является ли информация о найме конфиденциальной?');
				}
				let langs = [];
				if(check){
					$.each($('.lang_value'), function(k, v){
						let lang_value = $(v).val();
						if(lang_value != ""){
							let lang_level = $(v).next().find('.lang_select').val();
							if(lang_level == ""){
								check = false;
								this.notification('Не указан уровень владения языка');
								return false;
							}else{
								let data = {
									'lang': lang_value,
									'level': lang_level
								};

								langs.push(data);
							}
						}
					});
					if(this.qualities_input != ''){
						 this.choosenQualities.push({'name': this.qualities_input});
					}
					this.formFields.qualities = this.choosenQualities;
					if(this.PC_input != ''){
						 this.choosenPC.push({'name': this.PC_input});
					}
					this.formFields.PC = this.choosenPC;
					if(langs.length > 0)
						this.formFields.langs = langs;
					this.formFields.type = 'vacancy';
					this.formFields.matcher = this.matcher;
					this.formFields.performer = this.performer;
					this.sendCustomRequest('http://localhost/api/submit/', JSON.stringify(this.formFields));
				}
			},
			vacancyRequestCallback: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					location.href = "/#my_requests";
					location.reload();
				}
			},
			cancelForm: function(){
				this.$emit('changeCatgeroy', {
					create: false,
					vacancy: false,
				})
			},
			selectBox: function(event, value, textEl, type){
				switch(type){
					case 'division':
						this.formFields.division = value;
					break;
					case 'education':
						this.formFields.education = value;
					break;
					case 'position':
						this.formFields.position = value;
					break;
					case 'decision':
						this.matcherSearch = textEl;
						this.formFields.decision_user = value;
					break;
					case 'driveCategory':
						this.formFields.driveCategory = value;
					break;
				}
			}
  		}
  	}
  	$(function(){
		$(document).on('click', ".zayavka_form_select__title, .assort_main_box__title", function(){
			$(this).siblings("ul").toggle("fast", "linear");
		})
		$(document).on('click', "ul [data-val-select]", function(){
			let attrVal = $(this).attr("data-val-select");
			let textEl = $(this).text();
			let option = $(this).parents(".select_main_box").find("select").find("option[value="+attrVal+"]");
			let valOption = option.val(); 
			if (valOption != "" && valOption != null) {
				$(this).parents(".select_main_box").find("select").val(valOption);
				$(this).parents("ul").hide();
				$(this).parents("ul").siblings(".zayavka_form_select__title").find("span").text(textEl).css({
					"color":"#6C6C6C",
				});
				$(this).parents("ul").siblings(".zayavka_form_select__title").css({
					"border":"1px solid #6C6C6C"
				})
			}
		});
		/*$(document).on('click', 'ul [data-val-assort]', function(){

		});*/
		$(document).on('change', $(".zayavka_form").find("input[type='text']"), function(){
			if ($(this).val() != ""){
				$(this).css({
					"border":"1px solid #6C6C6C",
				});
			} else {
				$(this).css({
					"border":"1px solid #E0E0E0",
				});
			}
		});

  	})
</script>

<style scoped>
	.change_category{
		cursor: pointer;
	}
	.zayavka_form_select ul{
		max-height: 350px;
		overflow-y: auto;
	}
	.assort_main_box__group div{
		cursor: pointer;
	}
	.select_input{
		background-color: transparent;
		border: none;
		width: 100%;
	}
	input.select_input:focus{
		box-shadow: none;
	}
</style>