<template>
	<div id="dictionary">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Справочник</h1>

					<!--верхний бар поиск-->
					<div class="form-inline top-poisk">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"/>
									</svg>
								</span>
							</div>
							<input type="text" v-model="byName" @change="(event) => { setFilter(event, 'getUsersDictionary', {'name': byName, 'division_id': division, 'position_id': position}) }" name="search_name" class="top-poisk-control" placeholder="Поиск по имени" aria-label="Username" aria-describedby="basic-addon1">
						</div>
						<select class="top-poisk-control top-poisk_arr ml-0" @change="(event) => { setFilter(event, 'getUsersDictionary', {'name': byName, 'division_id': division}); reRenderPositions({'division_id': division}); }" v-model="division">
							<option v-bind:value="''">Отдел</option>
							<option v-for="divis in userDivisions" v-bind:value="divis.id">{{divis.name}}</option>
						</select>
						<select class="top-poisk-control top-poisk_arr" @change="(event) => { setFilter(event, 'getUsersDictionary', {'name': byName, 'division_id': division, 'position_id': position}) }" v-model="position">
							<option v-bind:value="''">Должность</option>
							<option v-for="posit in userPositions" v-bind:value="posit.id">{{posit.name}}</option>
						</select>
					</div>
				<!--конец верхний бар поиск-->  
				<!--таблица сотрудников -->
					<div class="row sotrudniki-table_zag">
						<div class="col-5 pl88">Имя / Отдел / Должность</div>
						<div class="col-2">Сотовый</div>
						<div class="col-2">Email</div>
						<div class="col">Внутр.</div>
						<div class="col">Внешний</div>
					</div>
					
					<div class="profile-work_doc_box sotrudniki-table" v-for="(user, index) in users" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == users.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="row align-items-center">
							<div class="col-5 ">
								<div class="float-left">
									<img :src="user.logo" class="" alt="">
								</div>
								<a :href="'/user/' + user.id + '/'">
									<div class="black14-18 pt3">{{ user.name }}</div>
									<div class="gray12-15 pt3">{{ user.division }}  •  {{ user.position }}</div>
								</a>
							</div>
							<div class="col-2">
								<a href="javascript:void(0)">
									<div class="profile_name_phone gray">+{{ user.mobile }}</div>
								</a>
							</div>
							<div class="col-2">
								<a href="javascript:void(0)">
									<div class="profile_name_mail fiol">{{ user.email }}</div>
								</a>
							</div>
							<div class="col">
								<div class="profile_name_num gray">{{ user.phone_inner }}</div>
							</div>
							<div class="col">
								<div class="profile_name_num2 gray">{{ user.phone_outer }}</div>
							</div>
						</div>
					</div>
				<!--конец таблица сотрудников -->
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'dictionary',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				users: {},
				user: {},
				email: '',
				pass: '',
				byName: '',
			}
		},
		created(){
			this.setPageTitle('Справочник');
            let params = {
                method: 'getUsersDictionary',
            };
            this.sendAjaxRequest(params);

        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);
            
    		params = {
        		method: 'getUserDivisions',
        	}

        	this.ajaxSimpleRequest(params);

    		params = {
        		method: 'getUserPositions',
        	}

        	this.ajaxSimpleRequest(params);
		},
		methods:{
			renderUsers: function(params){
				this.users = params;
			},
			renderUser: function(params){
				this.user = params;
			},
		}
	}
</script>