<template>
	<div id="edit-profile">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<profile-edit-form v-if="type == 'edit'"></profile-edit-form>
				<profile-create-form v-else-if="type == 'create'"></profile-create-form>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
    import ProfileEditForm from './ProfileEditForm.vue';
    import ProfileCreateForm from './ProfileCreateForm.vue';
	export default{
        name: 'edit-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar,
  			ProfileEditForm,
  			ProfileCreateForm,
  		},
  		data(){
  			return {
  				user: {},
  				user_style: {},
  				edit: false,
  			}
  		},
  		props: {
  			type: String,
  		},
  		created: function(){
  		},
  		methods:{
  			edit_profile: function(){
  				this.edit_profile;
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}

</style>