<template>
	<div id="edit-company">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<company-edit-form v-if="type == 'edit'"></company-edit-form>
				<company-create-form v-else-if="type == 'create'"></company-create-form>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
    import CompanyEditForm from './CompanyEditForm.vue';
    import CompanyCreateForm from './CompanyCreateForm.vue';
	export default{
      name: 'edit-company',
		  mixins: [library],
  		components: {
  			AdminSidebar,
  			CompanyEditForm,
  			CompanyCreateForm,
  		},
  		data(){
  			return {
  				user: {},
  				user_style: {},
  				edit: false,
  			}
  		},
  		props: {
  			type: String,
  		},
  		created: function(){
  		},
  		methods:{
  			edit_profile: function(){
  				this.edit_profile;
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}

</style>