<template>
	<div id="my_requests">
		<div class="container-fluid no-mobail" v-if="page == 'inbox'">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Входящие</h1>
					<form class="form-inline top-poisk mb24">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"/>
									</svg>
								</span>
							</div>
							<input type="text" v-model="byName" @change="(event) => { setFilter(event, 'getInboxRequests', {'request_name': byName, 'request_type': category, 'request_status': status}) }" class="top-poisk-control mw62" placeholder="Поиск" aria-label="Username" aria-describedby="basic-addon1">
						</div>
						<select class="top-poisk-control top-poisk_arr ml-0" @change="(event) => { setFilter(event, 'getInboxRequests', {'request_name': byName, 'request_type': category, 'request_status': status}) }" v-model="category">
							<option v-bind:value="''">Категория</option>
							<option v-for="cat in requestCategories" v-bind:value="cat.id">{{cat.name}}</option>
						</select>
						<select class="top-poisk-control top-poisk_arr" @change="(event) => { setFilter(event, 'getInboxRequests', {'request_name': byName, 'request_type': category, 'request_status': status}) }" v-model="status" >
							<option v-bind:value="''">Статус</option>
							<option v-bind:value="'1'">В процессе</option>
							<option v-bind:value="'0'">Отказано</option>
							<option v-bind:value="'2'">Согласовано</option>
						</select>
					</form>
					<div class="zag_18_23 mb14" v-if="requests.for_match != null && page != 'inbox_perform'">Требуют согласования</div>
					<div class="profile-work_doc_box" v-if="requests.for_match != null && requests.for_match.length > 0" v-for="(request, index) in requests.for_match" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == requests.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')" >
						<div class="row align-items-center">
							<div class="col-xl-6" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
								<div class="row align-items-center">
									<div class="col-1">
										<img src="/src/assets/img/yell-status.png" alt="" v-if="request.request_status == 1">
										<img src="/src/assets/img/red-status.png" alt="" v-else-if="request.request_status == 0">
										<img src="/src/assets/img/green-status.png" alt="" v-else>
									</div>
									<div class="col-11">
										<div class="black14-18">
											{{ request.request_name }}
											<span class="ml16 nline-block" v-if="request.have_comments != null">
												<img src="/src/assets/img/subtract.svg" alt="">
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="row align-items-center">
									<div class="col-10 text-right">
										<span class="profile_name profile_name_date  gray">
											{{ renderDate(request.request_date) }}
										</span>
										<span class="status-name status-name-pink">{{ request.request_type.name }}</span>
										<span class="ml16 status-name status-name-gray" v-if="request.request_edit != null">Версия {{ request.request_edit }}</span>
									</div>
									<show-user :show_root="show_root" @setShowRoot="setShowRoot" :user="request.request_author"></show-user>
									<div class="col-1">
										<a href="javascript:void(0)" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
											<img src="/src/assets/img/troetochie.svg" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="zag_18_23 mb14 mt24" v-if="requests.for_perform != null && page != 'inbox_matching'">Назначены мне</div>
					<div class="profile-work_doc_box" v-if="requests.for_perform != null && requests.for_perform.length > 0" v-for="(request, index) in requests.for_perform" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == requests.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="row align-items-center ">
							<div class="col-xl-6" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
								<div class="row align-items-center">
									<div class="col-1">
										<img src="/src/assets/img/yell-status.png" alt="" v-if="request.request_status == 1">
										<img src="/src/assets/img/red-status.png" alt="" v-else-if="request.request_status == 0">
										<img src="/src/assets/img/green-status.png" alt="" v-else>
									</div>
									<div class="col-11">
										<div class="black14-18">
											{{ request.request_name }}
											<span class="ml16 nline-block" v-if="request.have_comments != null">
												<img src="/src/assets/img/subtract.svg" alt="">
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="row align-items-center">
									<div class="col-10 text-right">
										<span class="profile_name profile_name_date  gray">
											{{ renderDate(request.request_date) }}
										</span>
										<span class="status-name status-name-pink">{{ request.request_type.name }}</span>
										<span class="ml16 status-name status-name-gray" v-if="request.request_edit != null">Версия {{ request.request_edit }}</span>
									</div>
									<show-user :show_root="show_root" :user="request.request_author"></show-user>
									<div class="col-1">
										<a href="javascript:void(0)" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
											<img src="/src/assets/img/troetochie.svg" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p v-if="request_empty">У вас нет входящих заявок!</p>
				</div>
			</div>
		</div>
		<div class="container-fluid no-mobail" v-else-if="page == 'inbox_matching' || page == 'inbox_perform'">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Входящие</h1>
					<div class="form-inline top_tabs_row top-poisk mb24">
						<div class="tabs_left_row">
							<div class="tab active" @click="(event) => { requests = requestCount != null && requestCount.all != null ? requestCount.all.items : []; setTab(event) }">
								<div class="tab_name">Все</div>
								<div class="tab_count">{{ requestCount != null && requestCount.all != null ? requestCount.all.count : '0' }}</div>
							</div>
							<div class="tab" @click="(event) => { 
								requests = requestCount != null && requestCount.on_processed != null ? requestCount.on_processed.items : []; setTab(event) 
								}">
								<div class="tab_name">На согласовании</div>
								<div class="tab_count">{{ requestCount != null && requestCount.on_processed != null ? requestCount.on_processed.count : '0' }}</div>
							</div>
							<div class="tab" @click="(event) => { requests = requestCount != null && requestCount.processed != null && requestCount.processed.items != null ? requestCount.processed.items : []; setTab(event) }">
								<div class="tab_name">Согласовано</div>
								<div class="tab_count">{{ requestCount != null && requestCount.processed != null ? requestCount.processed.count : '0' }}</div>
							</div>
							<div class="tab" @click="(event) => { requests = requestCount != null && requestCount.rejected != null && requestCount.rejected.items != null ? requestCount.rejected.items : []; setTab(event) }">
								<div class="tab_name">Отказано</div>
								<div class="tab_count">{{ requestCount != null && requestCount.rejected != null ? requestCount.rejected.count : '0' }}</div>
							</div>
						</div>
						<div class="tabs_right_row">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">
										<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M7.21314 7.7738C6.54861 8.23183 5.74312 8.5 4.875 8.5C2.59683 8.5 0.75 6.65317 0.75 4.375C0.75 2.09683 2.59683 0.25 4.875 0.25C7.15317 0.25 9 2.09683 9 4.375C9 5.24312 8.73183 6.04861 8.2738 6.71314L11.0303 9.46967L9.96967 10.5303L7.21314 7.7738ZM4.875 7C6.32475 7 7.5 5.82475 7.5 4.375C7.5 2.92525 6.32475 1.75 4.875 1.75C3.42525 1.75 2.25 2.92525 2.25 4.375C2.25 5.82475 3.42525 7 4.875 7Z" fill="#BDBDBD"/>
										</svg>
									</span>
								</div>
								<input type="text" v-model="byName" @change="(event) => { setFilter(event, page == 'inbox_matching' ? 'getInboxMatching' : 'getInboxPerforming', {'request_name': byName, 'request_type': category}) }" name="search_name" class="top-poisk-control mw62" placeholder="Поиск" aria-label="Username" aria-describedby="basic-addon1">
							</div>
							<select class="top-poisk-control top-poisk_arr ml-0" @change="(event) => { setFilter(event, page == 'inbox_matching' ? 'getInboxMatching' : 'getInboxPerforming', {'request_name': byName, 'request_type': category, 'request_status': status}) }" v-model="category">
								<option v-bind:value="''">Категория</option>
								<option v-for="cat in requestCategories" v-bind:value="cat.id">{{cat.name}}</option>
							</select>
						</div>
					</div>
					<div class="profile-work_doc_box" v-if="requests != null && requests.length > 0" v-for="(request, index) in requests" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == requests.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')" >
						<div class="row align-items-center">
							<div class="col-xl-6" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
								<div class="row align-items-center">
									<div class="col-1">
										<img src="/src/assets/img/yell-status.png" alt="" v-if="request.request_status == 1">
										<img src="/src/assets/img/red-status.png" alt="" v-else-if="request.request_status == 0">
										<img src="/src/assets/img/green-status.png" alt="" v-else>
									</div>
									<div class="col-11">
										<div class="black14-18">
											{{ request.request_name }}
											<span class="ml16 nline-block" v-if="request.have_comments != null">
												<img src="/src/assets/img/subtract.svg" alt="">
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="row align-items-center">
									<div class="col-10 text-right">
										<span class="profile_name profile_name_date  gray">
											{{ renderDate(request.request_date) }}
										</span>
										<span class="status-name status-name-pink">{{ request.request_type.name }}</span>
										<span class="ml16 status-name status-name-gray" v-if="request.request_edit != null">Версия {{ request.request_edit }}</span>
									</div>
									<show-user :show_root="show_root" @setShowRoot="setShowRoot" :user="request.request_author"></show-user>
									<div class="col-1">
										<a href="javascript:void(0)" v-on:click="(event) => { showDetail(event, request.request_author, request) }">
											<img src="/src/assets/img/troetochie.svg" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p v-if="request_empty">У вас нет входящих заявок!</p>
				</div>
			</div>
		</div>
		<div class="overflow" v-if="show_detail">
			<request-detail :choosenRequest="detail_request" :user="request_author" @closeDetail="closeDetail"></request-detail>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	import ShowUser from './ShowUser.vue';
	import RequestDetail from './RequestDetail.vue';
	export default{
        name: 'inbox_requests',
  		mixins: [library],
        components:{
            LeftSideBar,
            ShowUser,
            RequestDetail,
        },
		data() {
			return{
				requests: {},
				user: {},
				request_empty: false,
				show_root: false,
				requestCount: null,
				detail_request: {},
				byName: '',
				show_detail: false,
				request_author: {},
				colors: ['status-name-pink', 'status-name-bluer'],
			}
		},
		created(){
            let params = {
                method: 'getInboxRequests',
                page: window.location.hash.substr(1),
            };
            this.sendAjaxRequest(params);

        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getRequestCategories',
        	}

        	this.ajaxSimpleRequest(params);

        	if(window.location.hash.substr(1) == 'inbox_matching'){
        		params = {
        			method: 'getInboxMatching',
        		}

        		this.ajaxSimpleRequest(params);
        	}else if(window.location.hash.substr(1) == 'inbox_perform'){
        		params = {
        			method: 'getInboxPerforming',
        		}

        		this.ajaxSimpleRequest(params);
        	}

        	this.setPageTitle('Входящие');
		},
		methods:{
			renderRequestCount: function(params){
				this.requestCount = params;
			},
			renderInboxMatching: function(params){
				this.requestCount = params;
				if(params.all != null){
					this.requests = params.all.items;
				}else if(params == null || params.length == 0){
					this.requests = [];
				}
			},
			renderInboxPerforming: function(params){
				this.requestCount = params;
				if(params.all != null){
					this.requests = params.all.items;
				}else if(params == null || params.length == 0){
					this.requests = [];
				}
			},
			setTab: function(event){
				let parent = event.target.parentNode;
				let tabs = document.getElementsByClassName('tab');
				for(let i = 0; i < tabs.length; i++){
					tabs[i].classList.remove('active');
				}
				parent.classList.add('active');
			},
			renderRequests: function(params){
				this.requests = params;
				if(this.page == 'inbox_matching'){
					this.requests.for_perform = null;
					if(this.requests.for_match == null)
						this.request_empty = true;
				}
				else if(this.page == 'inbox_perform'){
					this.requests.for_match = null;
					if(this.requests.for_perform == null)
						this.request_empty = true;
				}else{
					if(this.requests == null || this.requests.length == 0)
						this.request_empty = true;
					else
						this.request_empty = false;
				}
				this.preloader = false;
			},
			renderUser: function(params){
				this.user = params;
				this.preloader = false;
			},
			showDetail: function(event, author, request){
				let all_elements = document.getElementsByClassName('vhodyashie_popup_all'); //element.classList.contains("active");
				if(all_elements != null && all_elements.length > 0){
					for(let i = 0; i < all_elements.length; i++){
						if(all_elements[i].classList.contains('d-block')){
							all_elements[i].classList.remove('d-block');
							all_elements[i].classList.add('d-none');
						}
					}
				}
				this.request_author = author;
				this.detail_request = request; 
				if(this.show_detail){
					this.show_detail = false;
				}else{
					this.show_detail = true;
				}
			},
			setShowRoot: function(param){
				this.show_root = param.show_root;
			},
			closeDetail: function(param){
				this.show_detail = param.show_detail;
			}
			/*randomInt: function(){
				colors[randomInteger(0, this.colors.length)];
			}*/
		}
	}
</script>