<template>
	<div id="404">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9">
					<h1 class="mt24 mb36">Страница не найдена</h1>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'not-found',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				user: {},
			}
		},
        created(){
        	this.setPageTitle('404');
        	let params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);	
        },
		methods:{
			renderUser: function(params){
				this.user = params;
			},
		}
	}
</script>