<template>
	<div id="profile">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<div class="col-xl-9">
					<div class="row align-items-center prof-head">
						<div class="col">	
							<h1 class="">Профиль</h1>
						</div>
						<div class="col text-right d-none d-xl-block" v-if="userID == null">
							<a href="javascript:void(0)" @click="logout">
								<span class="exit red">Выйти</span>
								<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8 4V3.4C8 2.55992 8 2.13988 7.83651 1.81901C7.6927 1.53677 7.46323 1.3073 7.18099 1.16349C6.86012 1 6.44008 1 5.6 1H3.4C2.55992 1 2.13988 1 1.81901 1.16349C1.53677 1.3073 1.3073 1.53677 1.16349 1.81901C1 2.13988 1 2.55992 1 3.4V10.6C1 11.4401 1 11.8601 1.16349 12.181C1.3073 12.4632 1.53677 12.6927 1.81901 12.8365C2.13988 13 2.55992 13 3.4 13H5.6C6.44008 13 6.86012 13 7.18099 12.8365C7.46323 12.6927 7.6927 12.4632 7.83651 12.181C8 11.8601 8 11.4401 8 10.6V10M5 7H14M14 7L11 10M14 7L11 4" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
					</div>
					<div class="row align-items-center ptofile-cart">
						<div class="custom_col-xl-1_5 p-0 text-center text-xl-left">
							<div class="user_logo profile_logo" v-bind:style="user_style">
							</div>
						</div>
						<div class="col-xl-10 text-center text-xl-left">
							<div class="profile_name gray pt-3">{{ user.name }}</div>
							<div class="profile_name_work float-left">
								{{ user.division }} <span> • </span>
							</div>
							<div class="profile_name_work"> {{ user.position }}</div>
							<div class="">
								<div class="profile_name_atr_mobi">
									<a href="javascript:void(0)">
										<span class="profile_name_phone gray profile_name_atr">{{ user.mobile }}</span>
									</a>
								</div>
								<div class="profile_name_atr_mobi">
									<a href="javascript:void(0)">
										<span class="profile_name_mail gray profile_name_atr">{{ user.email }}</span>
									</a>
								</div>
								<div class="profile_name_atr_mobi">
									<a href="javascript:void(0)">
										<span class="profile_name_num gray profile_name_atr">{{ user.phone_inner }}</span>
									</a>
								</div>
								<div class="profile_name_atr_mobi">
									<a href="javascript:void(0)">
										<span class="profile_name_num2 gray profile_name_atr">{{ user.phone_outer }}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row profile-work" v-if="userID == null">
						<div class="col-xl-8 pl-xl-0 pr12 mb12mobi">
							<div class="profile-work_block">
								<div class="row">
									<div class="col">
										<div class="profile-work_zag gray">Работа в компании</div>
									</div>
									<div class="col text-right">
										<a href="/#work_in_company" v-on:click="sendAjaxRequest" class="a_all" v-if="docs.docs != null && docs.docs.length > 0">Смотреть все</a>
									</div>
								</div>
								<div class="profile-work-etap">
									<div class="profile-work-etap_box mb8" v-for="(doc, index) in docs.docs" :key="doc.id">
										<div v-bind:class="index == 0 ? 'profile-work-etap_box_line_ferst' : (index == docs.length - 1 ? 'profile-work-etap_box_line_last' : '')"></div>
										<div class="profile-work-etap_box_boll"></div>
										<div class="profile-work-etap_date gray">
											<svg width="14" height="15" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M4 0.25C4.41421 0.25 4.75 0.585786 4.75 1V2H9.25V1C9.25 0.585786 9.58579 0.25 10 0.25C10.4142 0.25 10.75 0.585786 10.75 1V2H11C12.6569 2 14 3.34315 14 5V7V12C14 13.6569 12.6569 15 11 15H3C1.34315 15 0 13.6569 0 12V7V5C0 3.34315 1.34315 2 3 2H3.25V1C3.25 0.585786 3.58579 0.25 4 0.25ZM12.5 7H1.5V12C1.5 12.8284 2.17157 13.5 3 13.5H11C11.8284 13.5 12.5 12.8284 12.5 12V7ZM4 8.50003C3.44772 8.50003 3 8.94775 3 9.50003C3 10.0523 3.44772 10.5 4 10.5H5C5.55228 10.5 6 10.0523 6 9.50003C6 8.94775 5.55228 8.50003 5 8.50003H4Z" fill="#8B80A0"/>
											</svg>
											{{ doc.date }}
										</div>
										<div class="profile-work-etap_img" v-bind:style="user_style">
											<!-- <img src="/src/assets/img/rez1.png" class=""> -->
										</div>
										<div class="profile-work-etap_zag mt11 mb8">{{ doc.docType }}</div>
										<div class="profile-work-etap_text">Приказ {{ doc.description }}</div>
									</div>
									<!-- <div class="profile-work-etap_box mb8">
										<div class="profile-work-etap_box_line_last"></div>
										<div class="profile-work-etap_box_boll"></div>
										<div class="profile-work-etap_date gray">
											<svg width="14" height="15" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M4 0.25C4.41421 0.25 4.75 0.585786 4.75 1V2H9.25V1C9.25 0.585786 9.58579 0.25 10 0.25C10.4142 0.25 10.75 0.585786 10.75 1V2H11C12.6569 2 14 3.34315 14 5V7V12C14 13.6569 12.6569 15 11 15H3C1.34315 15 0 13.6569 0 12V7V5C0 3.34315 1.34315 2 3 2H3.25V1C3.25 0.585786 3.58579 0.25 4 0.25ZM12.5 7H1.5V12C1.5 12.8284 2.17157 13.5 3 13.5H11C11.8284 13.5 12.5 12.8284 12.5 12V7ZM4 8.50003C3.44772 8.50003 3 8.94775 3 9.50003C3 10.0523 3.44772 10.5 4 10.5H5C5.55228 10.5 6 10.0523 6 9.50003C6 8.94775 5.55228 8.50003 5 8.50003H4Z" fill="#8B80A0"/>
											</svg>
											26 Июня 2020
										</div>
										<div class="profile-work-etap_img">
											<img src="/src/assets/img/rez2.png" class="">
										</div>
										<div class="profile-work-etap_zag mt11">Прием на работу</div>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-xl-4 pl12">
							<div class="profile-work_block profile-work_block2">
								<div class="row">
									<div class="col">
										<div class="profile-work_zag gray">Рабочее время</div>
										<div class="profile-work-etap_zag mb16">
											<div class="row align-items-center">
												<div class="col-10 pr-0">
													<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM6.78238 1.86C6.63571 1.69133 6.44504 1.607 6.21038 1.607C5.98304 1.607 5.77771 1.70233 5.59438 1.893C5.41838 2.08367 5.33038 2.30733 5.33038 2.564C5.33038 2.806 5.40371 3.00767 5.55037 3.169C5.70438 3.33033 5.90238 3.411 6.14437 3.411C6.38637 3.411 6.58804 3.323 6.74938 3.147C6.91804 2.96367 7.00238 2.74 7.00238 2.476C7.00238 2.22667 6.92904 2.02133 6.78238 1.86ZM6.60638 4.709C6.45237 4.489 6.19204 4.379 5.82538 4.379C5.51737 4.379 5.24237 4.47433 5.00037 4.665C4.76571 4.84833 4.57137 5.07567 4.41738 5.347C4.27071 5.611 4.17537 5.86033 4.13137 6.095L4.72538 6.271C4.88671 5.69167 5.06271 5.402 5.25338 5.402C5.37071 5.402 5.42938 5.49733 5.42938 5.688C5.42938 5.93 5.37437 6.41033 5.26438 7.129C5.13238 7.965 5.06638 8.548 5.06638 8.878C5.06638 9.296 5.14337 9.60767 5.29738 9.813C5.45871 10.0183 5.73371 10.121 6.12238 10.121C6.43038 10.121 6.70171 10.0293 6.93638 9.846C7.17104 9.65533 7.36171 9.428 7.50838 9.164C7.65504 8.9 7.75038 8.647 7.79437 8.405L7.20038 8.229C7.03904 8.80833 6.85938 9.098 6.66138 9.098C6.55137 9.098 6.49638 9.00267 6.49638 8.812C6.49638 8.68733 6.51837 8.46367 6.56238 8.141C6.60638 7.811 6.63571 7.59833 6.65037 7.503C6.66504 7.37833 6.70171 7.096 6.76038 6.656C6.81904 6.20867 6.84838 5.875 6.84838 5.655C6.84838 5.24433 6.76771 4.929 6.60638 4.709Z" fill="#BDBDBD"/>
													</svg>
													Остаток дней отпуска
												</div>
												<div class="col-2 text-right pl-0">{{ parseInt(visit.holiday_days) }}</div>
											</div>
										</div>
										<div class="profile-work-etap_zag mb16">
											<div class="row align-items-center">
												<div class="col-10 pr-0">
													<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM6.78238 1.86C6.63571 1.69133 6.44504 1.607 6.21038 1.607C5.98304 1.607 5.77771 1.70233 5.59438 1.893C5.41838 2.08367 5.33038 2.30733 5.33038 2.564C5.33038 2.806 5.40371 3.00767 5.55037 3.169C5.70438 3.33033 5.90238 3.411 6.14437 3.411C6.38637 3.411 6.58804 3.323 6.74938 3.147C6.91804 2.96367 7.00238 2.74 7.00238 2.476C7.00238 2.22667 6.92904 2.02133 6.78238 1.86ZM6.60638 4.709C6.45237 4.489 6.19204 4.379 5.82538 4.379C5.51737 4.379 5.24237 4.47433 5.00037 4.665C4.76571 4.84833 4.57137 5.07567 4.41738 5.347C4.27071 5.611 4.17537 5.86033 4.13137 6.095L4.72538 6.271C4.88671 5.69167 5.06271 5.402 5.25338 5.402C5.37071 5.402 5.42938 5.49733 5.42938 5.688C5.42938 5.93 5.37437 6.41033 5.26438 7.129C5.13238 7.965 5.06638 8.548 5.06638 8.878C5.06638 9.296 5.14337 9.60767 5.29738 9.813C5.45871 10.0183 5.73371 10.121 6.12238 10.121C6.43038 10.121 6.70171 10.0293 6.93638 9.846C7.17104 9.65533 7.36171 9.428 7.50838 9.164C7.65504 8.9 7.75038 8.647 7.79437 8.405L7.20038 8.229C7.03904 8.80833 6.85938 9.098 6.66138 9.098C6.55137 9.098 6.49638 9.00267 6.49638 8.812C6.49638 8.68733 6.51837 8.46367 6.56238 8.141C6.60638 7.811 6.63571 7.59833 6.65037 7.503C6.66504 7.37833 6.70171 7.096 6.76038 6.656C6.81904 6.20867 6.84838 5.875 6.84838 5.655C6.84838 5.24433 6.76771 4.929 6.60638 4.709Z" fill="#BDBDBD"/>
													</svg>
													Дней до отпуска
												</div>
												<div class="col-2 text-right pl-0">{{ visit.days_before_holidays != null && visit.days_before_holidays != '' ? parseInt(visit.days_before_holidays) : '' }}</div>
											</div>
										</div>
										<div class="gray12-15 mt16 mb16 pt25" v-if="visit != null">{{ visit.date }}</div>
										<div class="black14-18 mb16" v-if="visit != null">
											<div class="row align-items-center">
												<div class="col-10 pr-0">Пришел</div>
												<div class="col-2 text-right pl-0">{{ visit.came_time }}</div>
											</div>
										</div>
										<div class="black14-18" v-if="visit != null">
											<div class="row align-items-center">
												<div class="col-10 pr-0">Ушел</div>
												<div class="col-2 text-right pl-0">{{ visit.gone_time }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-7 pl12 mt24">
							<div class="profile-work_block profile-work_block2" v-if="accessories.accessories != null">
								<div class="row">
									<div class="col-8">
										<div class="profile-work_zag gray">Товарно-материальные ценности</div>
									</div>
									<div class="col-4 text-right">
										<a href="/#accessories" v-on:click="sendAjaxRequest" class="a_all" v-if="userID == null">Смотреть все</a>
										<a :href="'/accessories/' + userID + '/'" class="a_all" v-else>Смотреть все</a>
									</div>
								</div>
								<div class="profile-work_doc_box" v-for="(accessory, index) in accessories.accessories" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == accessories.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
									<div class="row align-items-center">
										<div class="col-10">
											<div class="black14-18">{{ accessory.name }}</div>
											<div class="gray12-15 mt3">{{ accessory.article }}</div>
										</div>
										<div class="col-2 text-right">
											<div class="black14-18 ">{{ accessory.count }} шт.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="profile-work_block profile-work_block2" v-else>
								<div class="row">
									<div class="col-8">
										<div class="profile-work_zag gray">Товарно-материальные ценности</div>
									</div>
								</div>
								<div class="profile-work_doc_box">
									<div class="row align-items-center">
										<div class="col-10">
											<div class="black14-18">{{ accessories.message }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 pl-xl-0 pr24 mt24" v-if="accruals.accruals != null">
							<div class="profile-work_block profile-work_block3" v-if="accruals.accruals != null">
								<div class="row">
									<div class="col-7">
										<div class="profile-work_zag gray">Начисления</div>
									</div>
									<div class="col-5 text-right">
										<a href="/#accruals" v-on:click="sendAjaxRequest" class="a_all" v-if="userID == null">Смотреть все</a>
										<a :href="'/accruals/' + userID + '/'" v-on:click="sendAjaxRequest" class="a_all" v-else>Смотреть все</a>
									</div>
								</div>
								<div class="profile-work_doc_box" v-for="(file, index) in accruals.accruals" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == accruals.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
									<a href="javascript:void(0)">
										<div class="icon-doc">
											<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M7.65392 0.398315C7.85191 0.443947 8.0271 0.516513 8.19937 0.624248C8.37163 0.731982 8.51117 0.845076 8.87633 1.21024L11.1238 3.45773C11.489 3.82289 11.6021 3.96243 11.7098 4.1347C11.8176 4.30697 11.8901 4.48216 11.9358 4.68015C11.9814 4.87814 12.0001 5.05678 12.0001 5.57319V10.4368C12.0001 11.3283 11.9073 11.6516 11.7329 11.9775C11.5586 12.3034 11.3029 12.5592 10.9769 12.7335C10.651 12.9078 10.3277 13.0007 9.4362 13.0007H3.23063C2.33911 13.0007 2.01583 12.9078 1.6899 12.7335C1.36398 12.5592 1.10819 12.3034 0.933881 11.9775C0.759574 11.6516 0.666748 11.3283 0.666748 10.4368V2.89787C0.666748 2.00635 0.759574 1.68306 0.933881 1.35714C1.10819 1.03121 1.36398 0.775424 1.6899 0.601117C2.01583 0.42681 2.33911 0.333984 3.23063 0.333984H6.76087C7.27729 0.333984 7.45593 0.352683 7.65392 0.398315ZM7.20008 1.61683C7.08962 1.61683 7.00008 1.70637 7.00008 1.81683V4.334C7.00008 4.51809 7.14932 4.66733 7.33341 4.66733H9.85057C9.90362 4.66733 9.95449 4.64626 9.99199 4.60875C10.0701 4.53065 10.0701 4.40402 9.99199 4.32591L7.3415 1.67541C7.304 1.6379 7.25312 1.61683 7.20008 1.61683Z" fill="#8B80A0"/>
											</svg>
										</div>
										<div class="pl23">
											<div class="black14-18">{{ file.filename }}</div>
											<div class="gray12-15 mt3">{{ file.filesize }} Kb</div>
										</div>
									</a>
								</div>
							</div>
							<div class="profile-work_block profile-work_block3" v-else>
								<div class="row">
									<div class="col-7">
										<div class="profile-work_zag gray">Начисления</div>
									</div>
								</div>
								<div class="profile-work_doc_box">
									<div class="pl23">
										<div class="black14-18">{{ accruals.message }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'profile',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				user: {},
				docs: {},
				accessories: {},
				accruals: {},
				visit: {},
				user_style: {}
			}
		},
		props:{
			userID: String,
		},
        created(){
        	let params = {
        		method: 'getUser',
        		id: this.userID,
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserDocs',
        		limit: '3',
        		id: this.userID,
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserAccessories',
        		limit: '3',
        		id: this.userID,

        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserAccruals',
        		limit: '3',
        		id: this.userID,
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserVisit',
        		id: this.userID,
        	}

        	this.ajaxSimpleRequest(params);

        	this.setPageTitle('Профиль');
        },
		methods:{
			renderUser: function(params){
				this.user = params;
				this.user_style = {
					'border-radius': '50%',
					'background': 'url(' + this.user.logo + ') center / cover no-repeat', 
				}
			},
			renderDocuments: function(params){
				this.docs = params;
				console.log(this.docs);
			},
			renderAccessories: function(params){
				this.accessories = params;
			},
			renderAccruals: function(params){
				this.accruals = params;
			},
			renderUserVisit: function(params){
				console.log(params);
				this.visit = params;
			},
			logout: function(){
				let params = {
					method: 'logout',
				}

				this.ajaxSimpleRequest(params);
			}
		}
	}
</script>

<style scoped="">
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
	@media screen and (min-width: 1200px){
		.custom_col-xl-1_5{
			flex: 0 0 12%;
			max-width: 12%;
		}
	}
</style>