<template>
    <div class="col-xl-9">
        <div class="text-center">
            <h1 class="mt24 mb36">Создание пользователя</h1>
        </div>
        <!--Добавление пользователя -->
        <div action="" method="" class="form528 admin_form528" >
            <div class="form-group">
                <label for="last_name" class="gray14-18 mb4">Фамилия *</label>
                <input type="text" class="form-control" v-model="lastName" id="last_name">
            </div>
            <div class="form-group">
                <label for="first_name" class="gray14-18 mb4 mt22">Имя *</label>
                <input type="text" class="form-control" v-model="firstName" id="first_name">
            </div>
            <div class="form-group">
                <label for="second_name" class="gray14-18 mb4 mt22">Отчество *</label>
                <input type="text" class="form-control" v-model="secondName" id="second_name">
            </div>
            <div class="form-group">
                <label for="second_email" class="gray14-18 mb4 mt22">Email *</label>
                <input type="text" class="form-control" v-model="email" id="second_email">
            </div>  
            <hr>
            <div class="form-group mt24">
                <label for="division_select">Отдел *</label>
                <select id="division_select" v-model="division" class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0">
                    <option v-for="(division, index) in divisions" :key="index" :value="division.id">{{ division.name }}</option>
                </select>
            </div>
            <div class="form-group mt24">
                <label for="access_group_select">Права доступа *</label>
                <select id="access_group_select" v-model="access_group_select" class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0">
                    <option v-for="(access, index) in access_group" :key="index" :value="access.id">{{ access.name }}</option>
                </select>
            </div>
            <div class="form-group mt24" v-if="access_group_select == 2">
                <label for="admin_company">Компания *</label>
                <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" v-model="curCompany" id="admin_company" placeholder="Выберите компанию (поддомен)">
                    <option :value="''">Выберите компанию (поддомен)</option>
                    <option v-for="(company, index) in companies" :value="company.id">{{ company.name }}</option>
                </select>
            </div>
            <div class="form-group mt24" v-else-if="access_group_select == 3">
                <label for="admin_service">Сервис *</label>
                <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" v-model="curService" id="admin_service" placeholder="Выберите сервис">
                    <option :value="''">Выберите сервис</option>
                    <option v-for="(service, index) in services" :value="service.id">{{ service.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="phone" class="gray14-18 mb4 mt22">Сотовый телефон</label>
                <input type="text" class="form-control" v-model="phone" id="phone" placeholder="Не указано" :placehold="user.mobile">
            </div>
            <div class="form-group">
                <label for="phone_inner" class="gray14-18 mb4 mt22">Внутренний номер</label>
                <input type="text" class="form-control" v-model="phone_inner" id="phone_inner" placeholder="Не указано" :placehold="user.phone_inner">
            </div>
            <div class="form-group">
                <label for="phone_outer" class="gray14-18 mb4 mt22">Городской номер</label>
                <input type="text" class="form-control" v-model="phone_outer" id="phone_outer" placeholder="Не указано" :placehold="phone_outer">
            </div>
            <div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary mr-3 p12-24" @click="save_user">Сохранить</button>
                <button type="button" class="btn btn-light btn-white p12-24" @click="cancel_btn">Отмена</button>
            </div> 
        </div>
    </div>
</template>
<script>
	import { library } from './library.js'
	export default{
      name: 'edit-form',
  		mixins: [library],
  		components: {
  		},
  		data(){
  			return {
                user: {},
                user_style: {},
                edit: false,
                fullName: [],
                firstName: '',
                secondName: '',
                lastName: '',
                email: '',
                division: '',
                access_group_select: '',
                phone: '',
                phone_inner: '',
                phone_outer: '',
                companies: [],
                curCompany: '',
                services: [],
                curService: '',

                divisions: [],
                access_group: [],
            }
  		},
  		created: function(){
            let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');

            params = {
                method: 'getUser',
            };
            if(urlParams[4] != null && urlParams[4] > 0){
                params['id'] = urlParams[4]
            }

            this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserDivisions',
            }

            this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserRoles',
            }

            this.ajaxSimpleRequest(params);
            params = {
                method: 'get_companies',
            };

            this.ajaxSimpleRequest(params);
            params = {
                method: 'get_services',
            };

            this.ajaxSimpleRequest(params);
  		},
  		methods:{
            /*renderUser: function(params){
                this.user = params;
                if(Object.entries(this.user).length != 0 && this.fullName.length == 0){
                    this.fullName = this.user.name.split(' ');
                    this.firstName = this.fullName[1];
                    this.lastName = this.fullName[0];
                    this.secondName = this.fullName[2];
                }
                this.division = this.user.division_id;
                this.access_group_select = this.user.role_id;
                this.phone = this.user.mobile;
                this.phone_inner = this.user.phone_inner;
                this.phone_outer = this.user.phone_outer;
                this.user_style = {
                    'border-radius': '50%',
                    'background': 'url(' + this.user.logo + ') center / cover no-repeat', 
                }
            },*/
            renderServices: function(params){
                this.services = params;
            },
            renderCompanies: function(params){
                this.companies = params;
            },
            renderUserDivisions: function(params){
                this.divisions = params;
            },
            renderUserRoles: function(params){
                this.access_group = params;
            },
            getSplitName: function(index){
                if(Object.entries(this.user).length != 0 && this.fullName.length == 0){
                    this.fullName = this.user.name.split(' ');
                }
                return this.fullName[index];
            },
            save_user: function(){
                let formData = new FormData();
                let checkForm = false;
                if(this.lastName != ''){
                    if(this.firstName != ''){
                        if(this.secondName != ''){
                            let name = this.lastName + ' ' + this.firstName + ' ' + this.secondName;
                            formData.append('name', name);
                            if(this.email != ''){
                                formData.append('email', this.email);
                                if(this.division != ''){
                                    formData.append('division_id', this.division);
                                    if(this.access_group_select != ''){
                                        formData.append('role_id', this.access_group_select);
                                        if(this.access_group_select == 2){
                                            if(this.curCompany != ''){
                                                formData.append('company', this.curCompany);
                                                checkForm = true;
                                            }else{
                                                this.notification('error', 'Выберите компанию');
                                            }
                                        }else if(this.access_group_select == 3){
                                            if(this.curService != ''){
                                                formData.append('service', this.curService);
                                                checkForm = true;
                                            }else{
                                                this.notification('error', 'Выберите компанию');
                                            }
                                        }
                                    }else{
                                        this.notification('error', 'Назначьте права доступа');
                                    }
                                }else{
                                    this.notification('error', 'Выберите отдел');
                                }
                            }else{
                                this.notification('error', 'Введите email')
                            }
                        }else{
                            this.notification('error', 'Введите Отчество');
                        }
                    }else{
                        this.notification('error', 'Введите Имя');
                    }
                }else{
                    this.notification('error', 'Введите Фамилию');
                }
                if(checkForm){
                    if(this.phone != '')
                        formData.append('mobile', this.phone);
                    if(this.phone_inner != '')
                        formData.append('phone_inner', this.phone_inner);
                    if(this.phone_outer != '')
                        formData.append('phone_outer', this.phone_outer);
                    formData.append('type', 'addNewUser');

                    this.sendCustomRequest('http://localhost/api/submit/', formData);
                }
            },
            saveAnswer: function(params){
                this.notification(params.status, params.message);
            },
            cancel_btn: function(){
                window.history.back();
            }
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
    .admin_select{
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding:16px;}
    #admin option {
        font-size: 14px;
        line-height: 18px;
    }
    .admin_form528 .top-poisk_arr {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .admin_form528 .form-control {
        min-height: 50px;
        padding: 16px;
    }
</style>