<template>
    <div class="col-xl-9">
        <div class="text-center">
            <h1 class="mt24 mb36">Редактирование пользователя</h1>
        </div>
        <!--Добавление пользователя -->
        <div action="" method="" class="form528 admin_form528" >
            <div class="form-group">
                <label for="last_name" class="gray14-18 mb4">Фамилия *</label>
                <input type="text" class="form-control" v-model="lastName" id="last_name">
            </div>
            <div class="form-group">
                <label for="first_name" class="gray14-18 mb4 mt22">Имя *</label>
                <input type="text" class="form-control" v-model="firstName" id="first_name">
            </div>
            <div class="form-group">
                <label for="second_name" class="gray14-18 mb4 mt22">Отчество *</label>
                <input type="text" class="form-control" v-model="secondName" id="second_name">
            </div>  
            <hr>
            <div class="form-group mt24">
                <label for="division_select">Отдел *</label>
                <select id="division_select" v-model="division" class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0">
                    <option v-for="(division, index) in divisions" :key="index" :value="division.id">{{ division.name }}</option>
                </select>
            </div>
            <div class="form-group mt24">
                <label for="access_group_select">Права доступа *</label>
                <select id="access_group_select" v-model="access_group_select" class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0">
                    <option v-for="(access, index) in access_group" :key="index" :value="access.id">{{ access.name }}</option>
                </select>
            </div>
            <!-- <div class="form-group mt24">
                <label for="exampleFormControlSelect1">Компания *</label>
                <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" id="exampleFormControlSelect1" placeholder="Выберите компанию (поддомен)">
                    <option  disabled>Выберите компанию (поддомен)</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div> -->
            <div class="form-group">
                <label for="phone" class="gray14-18 mb4 mt22">Сотовый телефон</label>
                <input type="text" class="form-control" v-model="phone" id="phone" placeholder="Не указано" :placehold="user.mobile">
            </div>
            <div class="form-group">
                <label for="phone_inner" class="gray14-18 mb4 mt22">Внутренний номер</label>
                <input type="text" class="form-control" v-model="phone_inner" id="phone_inner" placeholder="Не указано" :placehold="user.phone_inner">
            </div>
            <div class="form-group">
                <label for="phone_outer" class="gray14-18 mb4 mt22">Городской номер</label>
                <input type="text" class="form-control" v-model="phone_outer" id="phone_outer" placeholder="Не указано" :placehold="phone_outer">
            </div>
            <div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary mr-3 p12-24" @click="save_edit_user">Сохранить</button>
                <button type="button" class="btn btn-light btn-white p12-24" @click="cancel_btn">Отмена</button>
            </div> 
        </div>
    </div>
</template>
<script>
	import { library } from './library.js'
	export default{
      name: 'edit-form',
  		mixins: [library],
  		components: {
  		},
  		data(){
  			return {
                user: {},
                user_style: {},
                edit: false,
                fullName: [],
                firstName: '',
                secondName: '',
                lastName: '',
                division: '',
                access_group_select: '',
                phone: '',
                phone_inner: '',
                phone_outer: '',

                divisions: [],
                access_group: [],
            }
  		},
  		created: function(){
            let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');

            params = {
                method: 'getUser',
            };
            if(urlParams[4] != null && urlParams[4] > 0){
                params['id'] = urlParams[4]
            }

            this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserDivisions',
            }

            this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserRoles',
            }

            this.ajaxSimpleRequest(params);
  		},
  		methods:{
            renderUser: function(params){
                this.user = params;
                if(Object.entries(this.user).length != 0 && this.fullName.length == 0){
                    this.fullName = this.user.name.split(' ');
                    this.firstName = this.fullName[1];
                    this.lastName = this.fullName[0];
                    this.secondName = this.fullName[2];
                }
                this.division = this.user.division_id;
                this.access_group_select = this.user.role_id;
                this.phone = this.user.mobile;
                this.phone_inner = this.user.phone_inner;
                this.phone_outer = this.user.phone_outer;
                this.user_style = {
                    'border-radius': '50%',
                    'background': 'url(' + this.user.logo + ') center / cover no-repeat', 
                }
            },
            renderUserDivisions: function(params){
                this.divisions = params;
            },
            renderUserRoles: function(params){
                this.access_group = params;
            },
            getSplitName: function(index){
                if(Object.entries(this.user).length != 0 && this.fullName.length == 0){
                    this.fullName = this.user.name.split(' ');
                }
                return this.fullName[index];
            },
            save_edit_user: function(){
                let formData = new FormData();
                let name = this.lastName + ' ' + this.firstName + ' ' + this.secondName;
                formData.append('name', name);
                formData.append('division_id', this.division);
                formData.append('role_id', this.access_group_select);
                formData.append('mobile', this.phone);
                formData.append('phone_inner', this.phone_inner);
                formData.append('phone_outer', this.phone_outer);
                formData.append('id', this.user.id);
                formData.append('type', 'editUser');

                this.sendCustomRequest('http://localhost/api/submit/', formData);
            },
            saveAnswer: function(params){
                this.notification(params.status, params.message);
            },
            cancel_btn: function(){
                window.history.back();
            }
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
    .admin_select{
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding:16px;}
    #admin option {
        font-size: 14px;
        line-height: 18px;
    }
    .admin_form528 .top-poisk_arr {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .admin_form528 .form-control {
        min-height: 50px;
        padding: 16px;
    }
</style>