<template>
	<div id="registry-contract">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
					<!-- контент часть -->
	            <div class="col-xl-9">
	                <h1 class="mt24 mb36">Реестр договоров</h1>
	                <!--верхний бар поиск категории-->
	                <form class="reestr_top_filter mb16">
	                    <input type="text" class="profile-work_doc-singly profile-work_doc_box w300 search_input" placeholder="Поиск" v-model="filter.query" v-on:change="getPage(1)" @keyup.enter="getPage(1)" onkeydown="if (event.keyCode == 13) {return false}">
	                    <div class="d-flex align-items-center view_change" v-if="false">
	                        <p class="ml8 fs14-18">Вид:</p>
	                        <a href="" class="ml8" v-on:click="change_view('block')" onclick="return false;" style="z-index: 1;">
	                            <svg id="data_view_block" class="" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 2V18C20 19.1046 19.1046 20 18 20H14H6H2C0.89543 20 0 19.1046 0 18V2C0 0.89543 0.89543 0 2 0H6H14H18C19.1046 0 20 0.89543 20 2ZM14 2H18V9H14V2ZM12 11H8V18H12V11ZM8 9H12V2H8V9ZM6 9H2V2H6V9ZM6 11H2V18H6V11ZM14 18V11H18V18H14Z" />
	                            </svg>
	                        </a>
	                        <a href="" class="ml8" v-on:click="change_view('list')" onclick="return false;" style="z-index: 1;">
	                            <svg id="data_view_list" class="active_view" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0H2C0.89543 0 0 0.89543 0 2V6V14V18C0 19.1046 0.89543 20 2 20H18C19.1046 20 20 19.1046 20 18V14V6V2C20 0.89543 19.1046 0 18 0ZM2 18V14H18V18H2ZM2 6H18V2H2V6ZM2 12V8H18V12H2Z" />
	                            </svg>
	                        </a>
	                    </div>
	                    <div class="filter_block">
	                        <div class="left__block">
	                            <div class="row">
	                                <div class="filter filter_sort">
	                                    <ul class="sort">
	                                        <li>
	                                            <div class="filtr_arrow2">
	                                                <p class="filter_title">Сортировка:</p>
	                                                <div class="arrow"></div>
	                                            </div>
	                                            <ul class="subsort2">
	                                                <li v-on:click="change_sort('summ')">по сумме</li>
	                                                <li v-on:click="change_sort('date')">по дате</li>
	                                            </ul>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="filter filter_filter">
	                                    <ul class="sort">
	                                        <li>
	                                            <div class="filtr_arrow">
	                                                <p class="filter_title">Фильтры:</p>
	                                                <div class="arrow"></div>
	                                            </div>
	                                            <ul class="subsort">
	                                                <li class="subsort__fil-date">по дате</li>
	                                                <li>по статусу</li>
	                                                <li>по инициатору</li>
	                                                <li>по исполнителю</li>
	                                                <li>по сумме договора</li>
													<li>по типу договора</li>
	                                            </ul>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </div>
	                            <div class="reestr_table__cur-filter-items">
	                                <div class="reestr_table__cur-filter-item" v-if="filter.initiator.length > 0" v-on:click="(event) => {filter.choosed.initiator = null; filter.initiator = []; getPage(page);}">
	                                    по инициатору
	                                </div>
	                                <div class="reestr_table__cur-filter-item" v-if="filter.status_clos || filter.status_proc || filter.status_soon || filter.status_outd" v-on:click="clearFields('status')">
	                                    по статусу
	                                </div>
	                                <div class="reestr_table__cur-filter-item" v-if="filter.date_from.length > 0 || filter.date_to.length > 0" v-on:click="clearFields('date')">
	                                    по дате
	                                </div>
	                                <div class="reestr_table__cur-filter-item" v-if="filter.summ_from.length > 0 || filter.summ_to.length > 0" v-on:click="clearFields('summ')">
	                                    по сумме договора
	                                </div>
	                                <div class="reestr_table__cur-filter-item" v-if="filter.performer.length > 0" v-on:click="(event) => {filter.choosed.performer = null; filter.performer = []; getPage(page);}">
	                                    по исполнителю
	                                </div>
	                            </div>
	                        </div>
	                        <div class="right__block">
	                            <div class="right__block-search right__block-item-filter right__block-search_initiator">
	                                <div class="right__block_icons flex">
	                                    <div  v-for="(el, index) in filter.initiator" class="icons" style="background: center / cover url('/img/Ellipse102.png') no-repeat" :style="{backgroundImage:`url(${el.logo})`}" v-on:click="filter.choosed.initiator = index"></div>
	                                    <div class="right__block_icons-plus flex add_new_user_filter">
	                                        <img src="/img/plus_add_user.png" alt="">
	                                    </div>
	                                </div>
	                                <div class="right__block_input">
	                                    <form>
	                                        <input type="text" name="user_autocomplete_initiator" v-on:keyup="user_autocomplete('initiator')">
	                                    </form>
	                                    <ul class="rigth__block_input__list">
	                                        <li v-for="(el, index) in finded.initiator">
	                                            <div class="right__block_input__icon" style="background: center / cover url('/img/Ellipse102.png') no-repeat" :style="{backgroundImage:`url(${el.logo})`}"></div>
	                                            <div class="">
	                                                {{ el.initials }}
	                                            </div>
	                                            <div class="add_plus__add_user" v-on:click="(event) => {filter.initiator.push(el); getPage(page);}">
	                                                <img src="/img/add_plus__add_user.png" alt="">
	                                            </div>
	                                        </li>
	                                    </ul>
	                                </div>
	                                <div class="right__block_card" v-if="filter.choosed.initiator !== null">
	                                    <div class="right__block_card-info flex">
	                                        <div class="right__block_card-info_img" :style="{backgroundImage:`url(${filter.initiator[filter.choosed.initiator].logo})`}"></div>
	                                        <div class="right__block_card-info_fio">
	                                            <h6>{{ filter.initiator[filter.choosed.initiator].initials }}</h6>
	                                            <p>{{ filter.initiator[filter.choosed.initiator].position }}</p>
	                                        </div>
	                                        <div class="close"></div>
	                                    </div>
	                                    <div class="right__block_card-delete" v-on:click="delFrom('initiator', filter.choosed.initiator)">
	                                        <h6>Удалить из выбранного</h6>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="right__block-search right__block-item-filter right__block-search_performer" >
	                                <div class="right__block_icons flex">
	                                	<div  v-for="(el, index) in filter.performer" class="icons" style="background: center / cover url('/img/Ellipse102.png') no-repeat" :style="{backgroundImage:`url(${el.logo})`}" v-on:click="filter.choosed.performer = index"></div>
	                                    <div class="right__block_icons-plus flex add_new_user_filter">
	                                        <img src="/img/plus_add_user.png" alt="">
	                                    </div>
	                                </div>
	                                <div class="right__block_input">
	                                    <form>
	                                        <input type="text" name="user_autocomplete_performer" v-on:keyup="user_autocomplete('performer')">
	                                    </form>
	                                    <ul class="rigth__block_input__list">
	                                        <li v-for="(el, index) in finded.performer">
	                                            <div class="right__block_input__icon" style="background: center / cover url('/img/Ellipse102.png') no-repeat" :style="{backgroundImage:`url(${el.logo})`}"></div>
	                                            <div class="">
	                                                {{ el.initials }}
	                                            </div>
	                                            <div class="add_plus__add_user" v-on:click="(event) => {filter.performer.push(el); getPage(page);}">
	                                                <img src="/img/add_plus__add_user.png" alt="">
	                                            </div>
	                                        </li>
	                                    </ul>
	                                </div>
	                                <div class="right__block_card" v-if="filter.choosed.performer !== null">
	                                    <div class="right__block_card-info flex">
	                                        <div class="right__block_card-info_img" :style="{backgroundImage:`url(${filter.performer[filter.choosed.performer].logo})`}"></div>
	                                        <div class="right__block_card-info_fio">
	                                            <h6>{{ filter.performer[filter.choosed.performer].initials }}</h6>
	                                            <p>{{ filter.performer[filter.choosed.performer].position }}</p>
	                                        </div>
	                                        <div class="close"></div>
	                                    </div>
	                                    <div class="right__block_card-delete" v-on:click="delFrom('performer', filter.choosed.performer)">
	                                        <h6>Удалить из выбранного</h6>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="right__block-calendar right__block-item-filter">
	                                <form>
	                                    <label>с</label>
	                                    <input type="date" v-on:change="getPage(page)" name="date_from">
	                                    <label>по</label>
	                                    <input type="date" v-on:change="getPage(page)" name="date_to">
	                                </form>
	                            </div>
	                            <div class="right__block-status right__block-item-filter">
	                                <p>Выберите:</p>
	                                <div class="right__block-status_buttons ">
	                                    <div class="right__block-status_button" v-on:click="toggleBool('status_proc')">действующий</div>
	                                    <div class="right__block-status_button" v-on:click="toggleBool('status_soon')">истекает</div>
	                                    <div class="right__block-status_button" v-on:click="toggleBool('status_outd')">просрочен</div>
	                                    <div class="right__block-status_button" v-on:click="toggleBool('status_clos')">закрыт</div>
	                                </div>
	                            </div>
	                            <div class="right__block-sum right__block-item-filter">
	                                <form>
	                                    <label for="sum">от</label>
	                                    <input type="text" id="sum" placeholder="0 руб" v-on:change="getPage(page)" name="summ_from" onkeydown="this.style.width = ((this.value.length + 1) * 7.5) + 'px';">
	                                    <label for="sum2">до</label>
	                                    <input type="text" id="sum2" placeholder="10 000 руб" v-on:change="getPage(page)" name="summ_to" onkeydown="this.style.width = ((this.value.length + 1) * 6.3) + 'px';">
	                                </form>
	                            </div>
								 <div class="right__block-contract_type right__block-item-filter">
									<input name="choose_contracts_type" type="radio" id="all_contracts" checked><label for="all_contracts" v-on:click="(event) => {filter.contracts_type = null; getPage(page);}">Все</label>
									<input name="choose_contracts_type" type="radio" id="profit_contracts"><label for="profit_contracts" v-on:click="(event) => {filter.contracts_type = 'Доходный'; getPage(page);}">Доходный</label>
									<input name="choose_contracts_type" type="radio" id="unprofit_contracts"><label for="unprofit_contracts" v-on:click="(event) => {filter.contracts_type = 'Расходный'; getPage(page);}">Расходный</label>
								</div>
	                        </div>
	                    </div>
	                </form>
	                <!--конец верхний бар поиск категории-->
	                <!--таблица  -->
	                <div class="row" v-if="view == 'list'">
	                    <div class="col-lg-12">
	                        <div class="reestr_table">
	                            <div class="reestr_table__main-title">
	                                <div class="row">
	                                    <div class="col-lg-2">
	                                        Контрагент
	                                    </div>
	                                    <div class="col-lg-3">
	                                        Предмет
	                                    </div>
	                                    <div class="col-lg-2">
	                                        Номер договора
	                                    </div>
	                                    <div class="col-lg-1">
	                                        Дата договора
	                                    </div>
	                                    <div class="col-lg-1">
	                                        Срок действия
	                                    </div>
	                                    <div class="col-lg-2">
	                                        Cумма
	                                    </div>
	                                    <div class="col-lg-1">
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="reestr_table__item">
	                                <div class="col-lg-12" v-for="(doc, index) in docs">
	                                    <div class="row reestr_table__item-top-info">
	                                        <div class="col-lg-2">
	                                            <div class="reestr_table__height_lim">
	                                                <div class="height_lim__container">
	                                                    {{ doc.contractor }}
	                                                </div>
	                                                <!-- <p class="expand_info">Развернуть</p> -->
	                                            </div>
	                                        </div>
	                                        <div class="col-lg-3">
	                                            <div class="reestr_table__height_lim">
	                                                <div class="height_lim__container">
	                                                    {{ doc.object_desc }}
	                                                </div>
	                                                <!-- <p class="expand_info">Развернуть</p> -->
	                                            </div>
	                                        </div>
	                                        <div class="col-lg-2">
	                                            {{ doc.name }}
	                                        </div>
	                                        <div class="col-lg-1">
	                                            {{ doc.date }}
	                                        </div>
	                                        <div class="col-lg-1">
	                                            <div class="reestr_table__validity" :style="{color:`${doc.status_color}`}">
	                                                {{ doc.date_validity }}
	                                            </div>
	                                        </div>
	                                        <div class="col-lg-2">
	                                            <div class="reestr_table__between-price">
	                                                <div class="reestr_table__cur-price" >
	                                                    {{ doc.summ_closed }}
	                                                </div>
	                                                <div class="reestr_table__to-price">
	                                                    {{ doc.summ }}
	                                                </div>
	                                                <progress max="100" v-bind:value="doc.progress" class="reest_tablica__progress-bar">
	                                                </progress>
	                                            </div>
	                                        </div>
	                                        <div class="col-lg-1">
	                                            <a href="#" class="reestr_table__open-add-info" onclick="return false;">
	                                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11ZM22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11ZM4.85379 8.67832C4.64365 8.49918 4.32806 8.5243 4.14891 8.73445C3.96976 8.94459 3.99489 9.26017 4.20503 9.43932L10.6566 14.9393C10.8467 15.1014 11.1273 15.0983 11.3138 14.932L17.4799 9.43196C17.686 9.24814 17.704 8.93207 17.5202 8.726C17.3364 8.51992 17.0203 8.50188 16.8142 8.68569L10.9735 13.8955L4.85379 8.67832Z" fill="#633BB2" />
	                                                </svg>
	                                            </a>
	                                        </div>
	                                    </div>
	                                    <div class="reestr_table__item-bottom-info">
	                                        <div class="row">
	                                            <div class="col-lg-3">
	                                                <div class="reestr_table_add-items">
	                                                    <div class="reestr_table_add-items__item">
	                                                        <p>Примечание</p>
	                                                        <div>
	                                                            {{ doc.comment }}
	                                                        </div>
	                                                    </div>
	                                                    <div class="reestr_table_add-items__item">
	                                                        <p>Тип</p>
	                                                        <div>
	                                                            {{ doc.contract_type }}
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="col-lg-3">
	                                                <div class="reestr_table_add-items">
	                                                    <div class="reestr_table_add-items__item">
	                                                        <p>Инициатор</p>
	                                                        <div class="reestr_table_add-items__fio-user">
	                                                            <div style="background: center / cover url('img/Ellipse102.png') no-repeat" class="reestr_table_add-items__user-img" :style="{backgroundImage:`url(${doc.initiator_logo})`}"></div>
	                                                            <div>
																	<a v-bind:href="'/user/'+ doc.initiator_id">{{ doc.initiator }}</a>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="reestr_table_add-items__item">
	                                                        <p>Исполнитель</p>
	                                                        <div class="reestr_table_add-items__fio-user">
	                                                            <div style="background: center / cover url('img/Ellipse102.png') no-repeat" class="reestr_table_add-items__user-img" :style="{backgroundImage:`url(${doc.performer_logo})`}"></div>
	                                                            <div>
	                                                                <a v-bind:href="'/user/'+ doc.performer_id">{{ doc.performer }}</a>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="col-lg-6">
	                                                <div class="reestr_table_files">
	                                                    <p>Дополнительные файлы</p>
	                                                    <div class="reestr_table_files_items">
	                                                        <div class="reestr_table_files_items__item" v-for="(file, key) in doc.files">
	                                                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                                                <rect x="0.5" y="0.5" width="15" height="15.8421" rx="4.5" stroke="#633BB2" />
	                                                                <path d="M10.7963 4.50993V8.34861H12.7157C12.7916 8.34863 12.8658 8.37115 12.9289 8.41333C12.992 8.45551 13.0412 8.51546 13.0702 8.58559C13.0993 8.65573 13.1069 8.7329 13.0921 8.80735C13.0773 8.8818 13.0407 8.95019 12.9871 9.00388L8.38059 13.6103C8.30861 13.6823 8.21098 13.7227 8.1092 13.7227C8.00741 13.7227 7.90978 13.6823 7.8378 13.6103L3.23133 9.00388C3.17767 8.95019 3.14112 8.8818 3.12631 8.80735C3.11151 8.7329 3.11911 8.65573 3.14816 8.58559C3.17721 8.51546 3.2264 8.45551 3.28951 8.41333C3.35262 8.37115 3.42682 8.34863 3.50273 8.34861H5.42209V4.50993C5.4223 4.30637 5.50325 4.11121 5.64718 3.96728C5.79112 3.82334 5.98628 3.74239 6.18984 3.74219H10.0286C10.2321 3.74249 10.4272 3.82348 10.5711 3.96739C10.715 4.1113 10.796 4.3064 10.7963 4.50993ZM8.1092 12.7961L11.789 9.11635H10.0286V4.50993H6.18984V9.11635H4.4294L8.1092 12.7961Z" fill="#633BB2" />
	                                                            </svg>
	                                                            <div>
	                                                                {{ file.name }}
	                                                            </div>
	                                                            <a :href="file.file_id" target="_blank" class="absolute_a"></a>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row" id="old_view" style="display: none;">
	                    <div class="col-lg-12">
	                        <div class="row view_row" id="view_change_item">
	                            <div :class="needClass" v-for="(doc, index) in docs">
	                                <div class="profile-work_doc_box profile-work_doc-singly">
	                                    <div class="d-flex align-items-center">
	                                        <p class="company_title">{{ doc.contractor }}</p>
	                                        <p class="profile-work-etap_text ml8">{{ doc.name }}</p>
	                                    </div>
	                                    <div class="registry_contracts">
	                                        <div class="registry_contracts__item">
	                                            <p class="profile-work-etap_text">Дата договора</p>
	                                            <p class="black14-18">{{ doc.date }}</p>
	                                        </div>
	                                        <div class="registry_contracts__item">
	                                            <p class="profile-work-etap_text">Срок действия</p>
	                                            <p class="black14-18">{{ doc.date_validity }}</p>
	                                        </div>
	                                        <div class="registry_contracts__item">
	                                            <p class="profile-work-etap_text">Сумма договора</p>
	                                            <p class="black14-18">{{ doc.summ }}</p>
	                                        </div>
	                                        <div class="registry_contracts__item">
	                                            <p class="profile-work-etap_text">Сумма оплаченных</p>
	                                            <p class="black14-18">{{ doc.summ_closed }}</p>
	                                        </div>
	                                        <div class="registry_contracts__item">
	                                            <p class="profile-work-etap_text">Предмет</p>
	                                            <p class="black14-18">{{ doc.object_desc }}</p>
	                                        </div>
	                                        <div class="registry_contracts__item registry_contracts__type">
	                                            <p class="profile-work-etap_text">Тип</p>
	                                            <p class="black14-18">{{ doc.contract_type }}</p>
	                                        </div>
	                                    </div>
	                                    <div class="registry_group-info">
	                                        <div class="registry_group-personal">
	                                            <div class="registry_contracts__item">
	                                                <p class="profile-work-etap_text">Инициатор</p>
	                                                <p class="black14-18">{{ doc.initiator }}</p>
	                                            </div>
	                                            <div class="registry_contracts__item">
	                                                <p class="profile-work-etap_text">Исполнитель</p>
	                                                <p class="black14-18">{{ doc.performer }}</p>
	                                            </div>
	                                            <div class="registry_contracts__item">
	                                                <p class="profile-work-etap_text">Статус</p>
	                                                <p class="black14-18">{{ doc.status_name }}</p>
	                                            </div>
	                                            <div class="registry_contracts__item">
	                                                <p class="profile-work-etap_text">Примечание</p>
	                                                <p class="black14-18">{{ doc.comment }}</p>
	                                            </div>
	                                        </div>
	                                        <p class="registry_contracts__file-title profile-work-etap_text mb8">Файлы</p>
	                                        <div class="profile-work_doc_box-wrapper">
		                                        <div class="profile-work_doc_box profile-work_doc_box_last profile-work_doc-singly" v-for="(file, key) in doc.files">
		                                            <div class="row align-items-center">
		                                                <div class="col-12">
		                                                    <a :href="file.file_id" target="_blank" class="d-flex align-items-center">
		                                                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		                                                            <path d="M7.65392 0.398315C7.85191 0.443947 8.0271 0.516513 8.19937 0.624248C8.37163 0.731982 8.51117 0.845076 8.87633 1.21024L11.1238 3.45773C11.489 3.82289 11.6021 3.96243 11.7098 4.1347C11.8176 4.30697 11.8901 4.48216 11.9358 4.68015C11.9814 4.87814 12.0001 5.05678 12.0001 5.57319V10.4368C12.0001 11.3283 11.9073 11.6516 11.7329 11.9775C11.5586 12.3034 11.3029 12.5592 10.9769 12.7335C10.651 12.9078 10.3277 13.0007 9.4362 13.0007H3.23063C2.33911 13.0007 2.01583 12.9078 1.6899 12.7335C1.36398 12.5592 1.10819 12.3034 0.933881 11.9775C0.759574 11.6516 0.666748 11.3283 0.666748 10.4368V2.89787C0.666748 2.00635 0.759574 1.68306 0.933881 1.35714C1.10819 1.03121 1.36398 0.775424 1.6899 0.601117C2.01583 0.42681 2.33911 0.333984 3.23063 0.333984H6.76087C7.27729 0.333984 7.45593 0.352683 7.65392 0.398315ZM7.20008 1.61683C7.08962 1.61683 7.00008 1.70637 7.00008 1.81683V4.334C7.00008 4.51809 7.14932 4.66733 7.33341 4.66733H9.85057C9.90362 4.66733 9.95449 4.64626 9.99199 4.60875C10.0701 4.53065 10.0701 4.40402 9.99199 4.32591L7.3415 1.67541C7.304 1.6379 7.25312 1.61683 7.20008 1.61683Z" fill="#8B80A0" />
		                                                        </svg>
		                                                        <div class="pl23">
		                                                            <div class="black14-18">{{ file.name }}</div>
		                                                        </div>
		                                                        <div v-if="0" class="gray12-15 mt3 d-block mlauto">371.2 Kb</div>
		                                                    </a>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
	                                    </div>
	                                    <p class="view_plit__show-detail mt16">Подробнее</p>   
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="inno_pagination" v-if="maxpage > 1">
	                    <ul class="inno_pagination__list">

	                        <li v-on:click="getPage(page - 1)" class="inno_pagination__item inno_pagination__left" v-bind:class="{ block: page <= 1 }">
                                <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.04553 9.23486L5.98487 10.2955L0.954542 5.26519L5.98487 0.234863L7.04553 1.29552L3.07586 5.26519L7.04553 9.23486Z" />
                                </svg>
                            </li>

	                        <li v-for="(cp, index) in pagination" v-on:click="getPage(cp)" class="inno_pagination__item" v-bind:class="{ active: page == cp }">{{ cp }}</li>

	                        <li v-on:click="getPage(page + 1)" class="inno_pagination__item inno_pagination__right" v-bind:class="{ block: page >= maxpage }">
                                <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.954468 9.23486L2.01513 10.2955L7.04546 5.26519L2.01513 0.234863L0.954468 1.29552L4.92414 5.26519L0.954468 9.23486Z" />
                                </svg>
                            </li>
	                    </ul>
	                </div>
	                <!--конец таблица  -->
	            </div>
            <!-- конец контент части -->
			</div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'registry-contract',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				docs: {},
				limit: 20,
				view: 'list',
				page: 1,
				needClass: 'col-lg-12',
				pagination: [],
				maxpage: 1,
				sortBy: 'date',
				sortOrder: 'DESC',
				finded: {
					initiator: [],
					performer: [],
				},
				filter: {
					query: '',
					initiator: [],
					performer: [],
					choosed: {
						initiator: null,
						performer: null,
					},
					summ_from: '',
					summ_to: '',
					date_from: '',
					date_to: '',
					status_proc: false,
					status_clos: false,
					status_soon: false,
					status_outd: false,
				}
			}
		},
		created(){
			this.setPageTitle('Реестр договоров');

            let params = {
                method: 'getDocsRegistry',
                limit: this.limit,
            };
            this.ajaxSimpleRequest(params);
		},
		methods:{
			renderDocs: function(params)
			{
				this.docs = params.docs;
				console.log(this.docs);
				this.pagination = this.pagination_render(params.pagination);
				this.maxpage = params.pagination.max;

				this.page = params.pagination.cur;
				window.scrollTo(0,0);
				$('.reestr_table__item-bottom-info').hide();
			},
			getPage: function(page)
			{
				let filter = $('.filter_block');

				this.filter.summ_from = filter.find('[name="summ_from"]').val();
				this.filter.summ_to = filter.find('[name="summ_to"]').val();
				this.filter.date_from = filter.find('[name="date_from"]').val();
				this.filter.date_to = filter.find('[name="date_to"]').val();

				let sort = {};
				sort[this.sortBy] = this.sortOrder;
	            let params = {
	        		method: 'getDocsRegistry',
	        		filter: this.filter,
	        		limit: this.limit,
	        		sort: sort,
	        		page: page,
				};
	            this.ajaxSimpleRequest(params);
			},
			toggleBool: function(field)
			{
				this.filter[field] = !this.filter[field];
				this.getPage(this.page);
			},
			change_view: function(view){
				this.view = view;
				if (view == 'block')
				{
					let el = document.getElementById('data_view_block');
					el.classList.add('active_view');
					let el2 = document.getElementById('data_view_list');
					el2.classList.remove('active_view');

					let list = document.getElementById('view_change_item');
					list.classList.add('view_plit');

					let old_view = document.getElementById('old_view');
					old_view.style.display = 'block';

					let children = list.childNodes;

					for(let i = 0; i < children.length; i++){
						children[i].classList.add('col-lg-5');
						children[i].classList.remove('col-lg-12');
					}

					this.needClass = 'col-lg-5';
				}
				else
				{
					let el = document.getElementById('data_view_block');
					el.classList.remove('active_view');
					let el2 = document.getElementById('data_view_list');
					el2.classList.add('active_view');

					let list = document.getElementById('view_change_item');
					list.classList.remove('view_plit');

					let old_view = document.getElementById('old_view');
					old_view.style.display = 'none';

					let children = list.childNodes;

					for(let i = 0; i < children.length; i++){
						children[i].classList.add('col-lg-12');
						children[i].classList.remove('col-lg-5');
					}

					this.needClass = 'col-lg-12';
				}
			},
			change_sort: function (sort)
			{
				if (this.sortBy == sort && this.sortOrder == 'DESC')
					this.sortOrder = 'ASC';
				else
					this.sortOrder = 'DESC';

				this.sortBy = sort;
				this.getPage(this.page);
			},
			user_autocomplete: function (filterBy)
			{
				let val = $('[name="user_autocomplete_' + filterBy + '"]').val();

				if (val.length > 1)
				{
		            let params = {
		                method: 'usersAutocomplete',
		                filterBy: filterBy,
		                filter: {
		                	name: val
		                },
		                limit: 5
		            };

		            this.ajaxSimpleRequest(params);
				}
			},
			renderFindUsers: function (params)
			{
				this.finded[params.filterBy] = params.data;
			},
			delFrom: function (filterBy, index)
			{
				this.filter.choosed[filterBy] = null;
				this.filter[filterBy].splice(index, 1);

				this.getPage(this.page);
			},
			clearFields: function (field)
			{
				if (field == 'summ')
				{
					this.filter.summ_from = this.filter.summ_to = '';
					$('[name="summ_from"]').val('');
					$('[name="summ_to"]').val('');
				}
				else if (field == 'date')
				{
					this.filter.date_from = this.filter.date_to = '';
					$('[name="date_from"]').val('');
					$('[name="date_to"]').val('');
				}
				else if (field == 'status')
				{
					this.filter.status_clos = this.filter.status_proc = this.filter.status_soon = this.filter.status_outd = false;
					$('.right__block-status_button').removeClass('bluebutton greenbutton yelloybutton redbutton');
				}

				this.getPage(this.page);
			}
		}
	}

	$(document).on('click', ".view_plit__show-detail", function(){
		if ($(this).siblings(".registry_group-info").css("display") == "none"){
			$(this).siblings(".registry_group-info").show();
			$(this).text("Скрыть");
		} else {
			$(this).siblings(".registry_group-info").hide();
			$(this).text("Подробнее");
		}
	});

	$(function(){
		$(document).on("click",".reestr_table__open-add-info",function(){
			let add_info = $(this).parents(".reestr_table__item-top-info").siblings(".reestr_table__item-bottom-info");
			if (add_info.css("display") == "none") {
				add_info.show();
			} else {
				add_info.hide();
			}
		});
		function close_sib_fil_items(event){
			if (event.hasClass("active")) {
				event.siblings(".right__block-item-filter").each(function(i,el){
					$(el).removeClass("active");
				});
			}
		}
		$('.filtr_arrow').click(function(event) {
			$('.subsort').toggleClass('active');
			$(".filter_block .right__block").find(".right__block-item-filter").each(function(i,el){
				$(el).removeClass("active");
			});
			if ($('.subsort').hasClass("active")) {
				$('.subsort').parents(".filter").css({
					"border-bottom-right-radius" : "0",
	    			"border-bottom-left-radius": "0",
				});
			} else {
				$('.subsort').parents(".filter").css({
					"border-bottom-right-radius" : "10px",
	    			"border-bottom-left-radius": "10px",
				});
			}
		});
		$('.filtr_arrow2').click(function(event) {
			$('.subsort2').toggleClass('active');
			if ($('.subsort2').hasClass("active")) {
				$('.subsort2').parents(".filter").css({
					"border-bottom-right-radius" : "0",
	    			"border-bottom-left-radius": "0",
				});
			} else {
				$('.subsort2').parents(".filter").css({
					"border-bottom-right-radius" : "10px",
	    			"border-bottom-left-radius": "10px",
				});
			}
		});
		$('.add_new_user_filter').click(function(event) {
			let closest = $(this).closest('.right__block-item-filter');
			closest.find('.right__block_input').toggleClass('active');
			closest.find('.right__block_card').removeClass('active');
		});
		$('.subsort>li:nth-child(2)').click(function(event) {
			$('.right__block-status').toggleClass('active');
			close_sib_fil_items($('.right__block-status'));
		});
		$('.subsort>li:nth-child(5)').click(function(event) {
			$('.right__block-sum').toggleClass('active');
			close_sib_fil_items($('.right__block-sum'));
		});
		$('.subsort>li:nth-child(3)').click(function(event) {
			$('.right__block-search_initiator').toggleClass('active');
			close_sib_fil_items($('.right__block-search_initiator'));
		});
		
		$('.subsort>li:nth-child(6)').click(function(event) {
			$('.right__block-contract_type').toggleClass('active');
			close_sib_fil_items($('.right__block-contract_type'));
		});
		
		$('.subsort>li:nth-child(4)').click(function(event) {
			$('.right__block-search_performer').toggleClass('active');
			close_sib_fil_items($('.right__block-search_performer'));
		});
		$('.subsort .subsort__fil-date').click(function(event) {
			$('.right__block-calendar').toggleClass('active');
			close_sib_fil_items($('.right__block-calendar'));
		});
		$(document).on('click', '.icons, .close', function(event) {
			let closest = $(this).closest('.right__block-item-filter');
			closest.find('.right__block_card').toggleClass('active');
			closest.find('.right__block_input').removeClass('active');
		});


		$('.right__block-status_button:nth-child(1)').click(function(event) {
			$('.right__block-status_button:nth-child(1)').toggleClass('greenbutton');
		});
		$('.right__block-status_button:nth-child(2)').click(function(event) {
			$('.right__block-status_button:nth-child(2)').toggleClass('yelloybutton');
		});
		$('.right__block-status_button:nth-child(3)').click(function(event) {
			$('.right__block-status_button:nth-child(3)').toggleClass('redbutton');
		});
		$('.right__block-status_button:nth-child(4)').click(function(event) {
			$('.right__block-status_button:nth-child(4)').toggleClass('bluebutton');
		});

		
		
		$(".expand_info").click(function(){
			if ($(this).siblings(".height_lim__container").css("overflow") == "visible") {
				$(this).text("Развернуть");
				console.log($(this).siblings(".height_lim__container"));
				$(this).siblings(".height_lim__container").css({
					"max-height": "60px",
		    		"overflow": "hidden",
				});
			} else {
				$(this).text("Скрыть");
				console.log($(this).siblings(".height_lim__container").css("overflow"));
				$(this).siblings(".height_lim__container").css({
					"max-height": "none",
		    		"overflow": "visible",
				});
			}
		});

		$(document).mouseup(function(e) {
	        var $target = $(e.target);
	        if ($target.closest(".filter_filter").length == 0 && $target.closest(".right__block").length == 0) {
	            $('.subsort').removeClass('active');

				$(".filter_block .right__block").find(".right__block-item-filter").each(function(i,el){
					$(el).removeClass("active");
				});

				$('.subsort').parents(".filter").css({
					"border-bottom-right-radius" : "10px",
	    			"border-bottom-left-radius": "10px",
				});
	        }
	        else if ($target.closest(".filter_sort").length == 0) {
	            $('.subsort2').removeClass('active');

				$('.subsort2').parents(".filter").css({
					"border-bottom-right-radius" : "10px",
	    			"border-bottom-left-radius": "10px",
				});
	        }
	    });
	});
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>