<template>
	<div class="container-fluid zayavka1">
		<div class="row align-items-center zayavka1-header ml-0 mr-0 pr112">
			<div class="status mr16" v-bind:style="request.request_status == 1 ? proccess : (request.request_status == 0 ? reject : success)">
				{{ inExecution && !isExecuted ? 'В работе' : ( isExecuted ? 'Выполнено' : (request.request_status == 1 ? 'В процессе согласования' : (request.request_status == 0 ? 'Отказано' : 'Согласовано'))) }}
			</div>
			<div class="status-name status-name-pink">{{ request.request_type.name }}</div>
			<div class="ml-auto relative" v-if="request.request_edit != null || requestVersions != null && requestVersions.length > 0">
				<div class="row status_select-wrap status-name status-name-gray ml-0" @click="hadleShowVersions">
					Версия {{ request.request_edit == null  ? '1' : request.request_edit }}
					<div class="select_galka">
						<img src="/src/assets/img/select_galka.png">
					</div>
				</div>
				<div class="versions_control-wrap" v-show="showVersions">
					<div class="version" v-for="(version, index) in requestVersions" :id="index" @click="chooseVersion">Версия {{ index + 1 }}</div>
				</div>
			</div>
			<a href="javascript:void(0)" @click="editWindow" class="tochki-open" v-if="can_edit != null && can_edit ">
				<div class="zayavka1-tochki ">
					<svg width="28" height="6" viewBox="0 0 28 6" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 6C1.84315 6 0.5 4.65685 0.5 3C0.5 1.34315 1.84315 0 3.5 0C5.15685 0 6.5 1.34315 6.5 3C6.5 4.65685 5.15685 6 3.5 6ZM14 6C12.3431 6 11 4.65685 11 3C11 1.34315 12.3431 0 14 0C15.6569 0 17 1.34315 17 3C17 4.65685 15.6569 6 14 6ZM21.5 3C21.5 4.65685 22.8431 6 24.5 6C26.1569 6 27.5 4.65685 27.5 3C27.5 1.34315 26.1569 0 24.5 0C22.8431 0 21.5 1.34315 21.5 3Z" fill="#BDBDBD"/>
					</svg>
				</div>
			</a>
			<button type="button" @click="closeDetail" class="close zayavka1-krest" data-dismiss="modal" aria-label="Close">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.4502 0.549914C18.8703 -0.0299845 17.9301 -0.0299845 17.3502 0.549914L10.0002 7.89992L2.65016 0.549914C2.07026 -0.0299845 1.13006 -0.0299845 0.550159 0.549914C-0.0297404 1.12981 -0.0297404 2.07002 0.550159 2.64991L7.90016 9.99991L0.550159 17.3499C-0.0297404 17.9298 -0.0297404 18.87 0.550159 19.4499C1.13006 20.0298 2.07026 20.0298 2.65016 19.4499L10.0002 12.0999L17.3502 19.4499C17.9301 20.0298 18.8703 20.0298 19.4502 19.4499C20.0301 18.87 20.0301 17.9298 19.4502 17.3499L12.1002 9.99991L19.4502 2.64991C20.0301 2.07002 20.0301 1.12981 19.4502 0.549914Z" fill="#BDBDBD"/>
				</svg>
			</button>
			<div class="zayavka1-vspliv" v-show="showEditWindow">
				<a href="javascript:void(0)">
					<div class="zayavka1-vspliv_pen gray14-18 mb24" @click="(event) => { toEditRequest(event) }">Редактировать</div>
				</a>
				<a href="javascript:void(0)" @click="deleteRequest">
					<div class="zayavka1-vspliv_basket ">Удалить</div>
				</a>
			</div>
		</div>
		<div class="row" v-bind:class="rejected || request.rejected != null || request.rejection ? 'mt36' : ''">
			<div class="col-xl-8">
				<div class="prichina_otkaza personal_reject" v-if="request.rejection != null && request.rejection.length > 0">
					<div class="rejection_reason" v-for="rejection in request.rejection" :key="rejection.id">
						<img :src="rejection.user.logo" class="prichina_otkaza_img img24" alt="">
						<div class="zag_18_23 reason_title">Причина отказа</div>
						<div class="prichina_otkaza_text mb10">
							{{ rejection.reason }}
						</div>
					</div>
					<button type="button" class="btn btn-primary p12-24" v-if="can_correction" @click="(event) => { toEditRequest(event) }">Исправить и создать новую версию заявки</button>
					<!-- <button class="btn btn-light p12-24  ml12">Отменить</button> -->
				</div>
				<div class="prichina_otkaza" v-if="request.rejected != null && request.rejected > 0 && rejected">
					<div class="rejection_reason" v-for="matcherUser in request.request_matchers" :key="matcherUser.id" v-if="matcherUser.rejected != null">
						<img :src="matcherUser.logo" class="prichina_otkaza_img img24" alt="">
						<div class="zag_18_23 reason_title">Причина отказа</div>
						<div class="prichina_otkaza_text mb10">
							{{ matcherUser.rejection_reason }}
						</div>
					</div>
					<button class="btn btn-white p12-24" @click="submitRejectRejected">Отменить отказ</button>
				</div>
				<h1 class="mt36 mb16">{{ request.request_name }}</h1>
				<div class="zayavka1-text mb36">
					{{ request.request_text }}
				</div>
				<div class="row vacancy_wrap" v-html="vacancy">
				</div>
				<div class="zayavka1-zag mb9">Вложения</div> 
				<div class="profile-work_doc_box" v-for="(file, index) in investments" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == request.request_files ? 'profile-work_doc_box_last bt-none mb11' : 'bt-none')">
					<div class="row align-items-center">
						<div class="col-7">
							<a :href="file.src" download>
								<div class="icon-doc">
									<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.65392 0.398315C7.85191 0.443947 8.0271 0.516513 8.19937 0.624248C8.37163 0.731982 8.51117 0.845076 8.87633 1.21024L11.1238 3.45773C11.489 3.82289 11.6021 3.96243 11.7098 4.1347C11.8176 4.30697 11.8901 4.48216 11.9358 4.68015C11.9814 4.87814 12.0001 5.05678 12.0001 5.57319V10.4368C12.0001 11.3283 11.9073 11.6516 11.7329 11.9775C11.5586 12.3034 11.3029 12.5592 10.9769 12.7335C10.651 12.9078 10.3277 13.0007 9.4362 13.0007H3.23063C2.33911 13.0007 2.01583 12.9078 1.6899 12.7335C1.36398 12.5592 1.10819 12.3034 0.933881 11.9775C0.759574 11.6516 0.666748 11.3283 0.666748 10.4368V2.89787C0.666748 2.00635 0.759574 1.68306 0.933881 1.35714C1.10819 1.03121 1.36398 0.775424 1.6899 0.601117C2.01583 0.42681 2.33911 0.333984 3.23063 0.333984H6.76087C7.27729 0.333984 7.45593 0.352683 7.65392 0.398315ZM7.20008 1.61683C7.08962 1.61683 7.00008 1.70637 7.00008 1.81683V4.334C7.00008 4.51809 7.14932 4.66733 7.33341 4.66733H9.85057C9.90362 4.66733 9.95449 4.64626 9.99199 4.60875C10.0701 4.53065 10.0701 4.40402 9.99199 4.32591L7.3415 1.67541C7.304 1.6379 7.25312 1.61683 7.20008 1.61683Z" fill="#8B80A0"/>
									</svg>
								</div>
								<div class="pl23">
									<div class="black14-18">{{ file.filename }}</div>
								</div>
							</a>
						</div>
						<div class="col-5">
							<div class="row align-items-center">
								<div class="col-4">
									<div class="gray12-15 mt3">{{ file.filesize }} Kb</div>
								</div>
								<div class="col-4">
									<div class="gray12-15 mt3">{{ file.filetime }}</div>
								</div>
								<div class="col-2">
									<div class="user_file_logo">
										<img :src="user.logo" alt="" class="">
									</div>
								</div>
								<div class="col-2">
									<a href="javascript:void(0)" v-if="can_edit != null && can_edit" :id="index" :file-id="file.id" :request-id="request.id" @click="deleteFile">
										<div class="">
											<img src="/src/assets/img/krestik.svg" alt="закрыть" class="">
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-work_doc_box" v-if="investments == null || investments.length == 0">
					<p>Вложения отсуствуют</p>
				</div>
				<input type="file" name="file" ref="file" :request-id="request.id" accept="application/pdf,application/msword,jpg,application/vnd.ms-excel,image/png" v-on:change="handleFileUploads" id="file" class="file-select"/>
				<label for="file" v-if="can_edit != null && can_edit">
					<span class="zayavka-select-file"></span>
					Добавить файл
				</label>
				<div class="zayavka1-zag mb16 mt16">Комментарии</div> 
				<input class="form-control" v-model="senderComment" @change="(event) => { sendComment(event) }" type="text" placeholder="Добавить комментарий">
				<div class="row align-items-center mt18 komments mb8" v-if="comments != null" v-for="comment in comments">
					<div class="col-12 mb8">
						<div class="float-left mr16">
							<img :src="comment.user.logo" class="komments_img" alt="">
						</div>
						<div class="">
							<div class="black14-18">{{ comment.user.name }}</div>
							<div class="gray12-15">{{ renderDateTime(comment.created_date) }}</div>
						</div>
					</div>
					<div class="col-12 zayavka1-text mt8">{{comment.comment}}</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="zayavka1-zag mt36 mb8" v-if="!rejected && can_match">Согласование</div>
				<div class="btn-group mb24" role="group" aria-label="Basic example" v-if="!printRejectReason && !rejected && can_match">
					<button type="button" class="btn btn-success mr-3 p12-24" v-if="!matched" @click="submitMatched">Согласовать</button>
					<button type="button" class="btn btn-success2 mr-3 p12-24" v-else>
						<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.27634 0.734835C8.42279 0.588388 8.66022 0.588388 8.80667 0.734835C8.95312 0.881282 8.95312 1.11872 8.80667 1.26517L4.015 6.05683C3.86855 6.20328 3.63112 6.20328 3.48467 6.05683L1.40134 3.9735C1.25489 3.82705 1.25489 3.58961 1.40134 3.44317C1.54779 3.29672 1.78522 3.29672 1.93167 3.44317L3.74984 5.26134L8.27634 0.734835Z" fill="#4EAF75" stroke="#4EAF75"/>
						</svg>
						Согласовано
					</button>
					<button type="button" class="btn p12-24" v-bind:class="matched ? 'btn-danger' : 'btn-link'" @click="showPrintRejectReason">Отказать</button>
				</div>
				<div class="form-group" v-if="printRejectReason && !rejected">
					<label for="exampleFormControlTextarea1" class="textarea_label">Пожалуйста, напишите причину отказа</label>
					<textarea v-model="rejection_reason" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Причина отказа"></textarea>
				</div>
				<div class="btn-group mb24 knopki_napravo" role="group" aria-label="Basic example" v-if="printRejectReason && !rejected">
					<button type="button" class="btn btn-danger p12-24 mr-3" @click="submitReject">Отказать</button>
					<button type="button" class="btn btn-link2 p12-24" @click="showPrintRejectReason">Отменить</button>
				</div>
				<div class="row mt25" role="group" aria-label="Basic example" v-if="request.request_status != 1 && request.request_status != 0 && can_execute && !can_match">
					<button type="button" class="btn btn-link2 performer_btn p12-24" v-if="(request.execution == null || request.execution == 0) && !inExecution" @click="setRequestExecute">Начать выполнение заявки</button>
					<button type="button" class="btn btn-link2 performer_btn p12-24" v-else-if="inExecution && !isExecuted" @click="executeRequest">Завершить заявку</button>
				</div>
				<div class="obvodka mt36">
					<div class="zayavka-right-block mb28">
						<div class="row mb18">
							<div class="col-10">
								<span class="left_zag_zayavka">согласующие</span>
							</div>
							<div class="col-2 text-right">
								<a href="javascript:void(0)" v-if="!add_matcher" @click="setNewMatcher">
									<img src="/src/assets/img/greyplusik.svg" alt="" class="">
								</a>
								<a href="javascript:void(0)" v-else @click="submitNewMatcher">
									<img src="/src/assets/img/add.svg" alt="" class="">
								</a>
							</div>
						</div>
						<div class="row align-items-center mb8" v-if="request.request_matchers.length > 0" v-for="matcher in request.request_matchers">
							<div class="col-1 pr-0">
								<a href="javascript:void(0)" class="user_logo">
									<img :src="matcher.logo" class="img24" alt="">
								</a>
							</div>
							<div class="col-9 pl8">
								<a href="javascript:void(0)">
									<div class="black14-18">{{ matcher.name }}</div>
								</a>
							</div>
							<div class="col-2 pr17 text-right">
								<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="matcher.matched != null">
									<path d="M8.27634 1.23483C8.42279 1.08839 8.66022 1.08839 8.80667 1.23484C8.95312 1.38128 8.95312 1.61872 8.80667 1.76517L4.015 6.55683C3.86855 6.70328 3.63112 6.70328 3.48467 6.55683L1.40134 4.4735C1.25489 4.32705 1.25489 4.08961 1.40134 3.94317C1.54779 3.79672 1.78522 3.79672 1.93167 3.94317L3.74984 5.76134L8.27634 1.23483Z" fill="#4EAF75" stroke="#4EAF75"/>
								</svg>
								<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" v-else-if="matcher.rejected != null">
									<path d="M1.0835 1.08325L4.00016 3.99992M4.00016 3.99992L6.91683 6.91659M4.00016 3.99992L6.91683 1.08325M4.00016 3.99992L1.0835 6.91659" stroke="#EB5757" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg" v-else>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0.666504 0.75C0.390362 0.75 0.166504 0.973858 0.166504 1.25C0.166504 1.52614 0.390362 1.75 0.666504 1.75H0.816931C0.935166 2.90045 1.44672 3.77978 1.94906 4.38259C2.15898 4.63449 2.36879 4.84015 2.55088 5C2.36879 5.15986 2.15898 5.36551 1.94906 5.61741C1.44672 6.22022 0.935166 7.09955 0.816931 8.25H0.666504C0.390362 8.25 0.166504 8.47386 0.166504 8.75C0.166504 9.02614 0.390362 9.25 0.666504 9.25H1.2915H6.70817H7.33317C7.60931 9.25 7.83317 9.02614 7.83317 8.75C7.83317 8.47386 7.60931 8.25 7.33317 8.25H7.18274C7.06451 7.09955 6.55295 6.22022 6.05061 5.61741C5.8407 5.36551 5.63089 5.15986 5.4488 5C5.63089 4.84015 5.8407 4.63449 6.05061 4.38259C6.55295 3.77978 7.06451 2.90045 7.18274 1.75H7.33317C7.60931 1.75 7.83317 1.52614 7.83317 1.25C7.83317 0.973858 7.60931 0.75 7.33317 0.75H6.70817H1.2915H0.666504ZM2.17764 2.91667C2.01124 2.57836 1.88125 2.18969 1.82374 1.75H6.17593C6.11843 2.18969 5.98843 2.57836 5.82204 2.91667H2.17764ZM3.65123 5.41667C3.64526 5.42062 3.6392 5.42446 3.63304 5.42817L3.63319 5.42808L3.63322 5.42806C3.63298 5.42821 3.63262 5.42843 3.63213 5.42874L3.62097 5.43578C3.60995 5.44283 3.59199 5.45456 3.56808 5.47096C3.52021 5.50378 3.4488 5.5551 3.36166 5.62481C3.18685 5.76466 2.95197 5.97597 2.71728 6.25759C2.32222 6.73166 1.93567 7.3942 1.82374 8.25H6.17593C6.06401 7.3942 5.67745 6.73166 5.28239 6.25759C5.04771 5.97597 4.81283 5.76466 4.63801 5.62481C4.55087 5.5551 4.47946 5.50378 4.43159 5.47096C4.40768 5.45456 4.38972 5.44283 4.37871 5.43578L4.36754 5.42874L4.36648 5.42808L4.36663 5.42817L4.36694 5.42836L4.36724 5.42854C4.36704 5.42842 4.36684 5.42829 4.36663 5.42817C4.36649 5.42809 4.36635 5.428 4.36622 5.42792C4.3602 5.42428 4.35428 5.42053 4.34845 5.41667H3.65123Z" fill="#828282"/>
								</svg>
							</div>
						</div>
						<div class="form-group mb8" v-if="add_matcher">
							<input type="text" v-on:keypress="autocompleteMatchers" class="form-control gray12-15 dobavlenie_nov_prov_input" id="input_matchers" placeholder="Начните вводить имя">
						</div>
						<div class="tipa_input_options" v-bind:class="search_matchers != null && add_matcher ? 'd-block' : 'd-none'">
							<a href="javascript:void(0)" v-for="(newMatcher, index) in search_matchers" :key="newMatcher.id" :id="index" @click="(event) => {chooseMatcher(event, index)}">
								<div class="d-flex tipa_input_option mb16">
									<div class="float-left mr8 user_logo">
										<img :src="newMatcher.logo" class="img36_36" alt="">
									</div>
									<div class="">
										<div class="gray14-18">{{ newMatcher.name }}</div>
										<div class="tipa_input_option_dolgnost">{{ newMatcher.division }} •  {{ newMatcher.position }}</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="zayavka-right-block mb28">
						<div class="row mb18">
							<div class="col-10">
								<span class="left_zag_zayavka">Исполнители</span>
							</div>
							<div class="col-2 text-right">
								<a href="javascript:void(0)" v-if="!add_performer" @click="setNewPerformer">
									<img src="/src/assets/img/greyplusik.svg" alt="" class="">
								</a>
								<a href="javascript:void(0)" v-else @click="submitNewPerformer">
									<img src="/src/assets/img/add.svg" alt="" class="">
								</a>
							</div>
						</div>
						<div class="row align-items-center mb8" v-if="request.request_performers.length > 0" v-for="performer in request.request_performers" :key="performer.id">
							<div class="col-1 pr-0">
								<a href="javascript:void(0)" class="user_logo">
									<img :src="performer.logo" class="img24" alt="">
								</a>
							</div>
							<div class="col-9 pl8">
								<a href="javascript:void(0)">
									<div class="black14-18">{{ performer.name }}</div>
								</a>
							</div>
							<div class="col-2 pr17 text-right"></div>
						</div>
						<div class="form-group mb8" v-if="add_performer">
							<input type="text" id="input_performers" v-on:keypress="autocompletePerformers" class="form-control gray12-15 dobavlenie_nov_prov_input" placeholder="Начните вводить имя">
						</div>
						<div class="tipa_input_options" v-bind:class="search_performers != null && add_performer ? 'd-block' : 'd-none'">
							<a href="javascript:void(0)" v-for="(newPerformer, index) in search_performers" :key="newPerformer.id" :id="index" @click="(event) => {choosePerformer(event, index)}">
								<div class="d-flex tipa_input_option mb16">
									<div class="float-left mr8 user_logo">
										<img :src="newPerformer.logo" class="img36_36" alt="">
									</div>
									<div class="">
										<div class="gray14-18">{{ newPerformer.name }}</div>
										<div class="tipa_input_option_dolgnost">{{ newPerformer.division }} •  {{ newPerformer.position }}</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="zayavka-right-block mb28">
						<div class="row mb18">
							<div class="col-10">
								<span class="left_zag_zayavka">наблюдатели</span>
							</div>
							<div class="col-2 text-right">
								<a href="javascript:void(0)" v-if="!add_watcher" @click="setNewWatcher">
									<img src="/src/assets/img/greyplusik.svg" alt="" class="">
								</a>
								<a href="javascript:void(0)" v-else @click="submitNewWatcher">
									<img src="/src/assets/img/add.svg" alt="" class="">
								</a>
							</div>
						</div>
						<div class="row align-items-center mb8" v-if="request.request_watchers.length > 0" v-for="watcher in request.request_watchers" :key="watcher.id">
							<div class="col-1 pr-0">
								<a href="javascript:void(0)" class="user_logo">
									<img :src="watcher.logo" class="img24" alt="">
								</a>
							</div>
							<div class="col-9 pl8">
								<a href="javascript:void(0)">
									<div class="black14-18">{{ watcher.name }}</div>
								</a>
							</div>
							<div class="col-2 pr17 text-right"></div>
						</div>
						<div class="form-group mb8" v-if="add_watcher">
							<input type="text" id="input_watchers" v-on:keypress="autocompleteWatchers" class="form-control gray12-15 dobavlenie_nov_prov_input" placeholder="Начните вводить имя">
						</div>
						<div class="tipa_input_options" v-bind:class="search_watchers != null && add_watcher ? 'd-block' : 'd-none'">
							<a href="javascript:void(0)" v-for="(newWatcher, index) in search_watchers" :key="newWatcher.id" :id="index" @click="(event) => {chooseWatcher(event, index)}">
								<div class="d-flex tipa_input_option mb16">
									<div class="float-left mr8 user_logo">
										<img :src="newWatcher.logo" class="img36_36" alt="">
									</div>
									<div class="">
										<div class="gray14-18">{{ newWatcher.name }}</div>
										<div class="tipa_input_option_dolgnost">{{ newWatcher.division }} •  {{ newWatcher.position }}</div>
									</div>
								</div>
							</a>
						</div>
					</div> 
					<div class="zayavka-right-block mb28">
						<div class="row mb18">
							<div class="col-12">
								<span class="left_zag_zayavka">автор</span>
							</div>
						</div>
						<div class="row align-items-center mb12">
							<div class="col-1 pr-0">
								<a href="javascript:void(0)">
									<img :src="user.logo" class="img24" alt="">
								</a>
							</div>
							<div class="col-11 pl8">
								<a href="javascript:void(0)">
									<div class="black14-18">{{ user.name }}</div>
								</a>
							</div>
						</div>
					</div>
					<div class="zayavka-right-block mb28">
						<div class="row mb18">
							<div class="col-10">
								<span class="left_zag_zayavka">Срок выполнения</span>
							</div>
							<div class="col-2 text-right">
								<a href="javascript:void(0)" v-if="show_execution_input" @click="submitNewExecutionPeriod">
									<img src="/src/assets/img/add.svg" alt="" class="">
								</a>
							</div>
						</div>
						<div class="row align-items-center mb12">
							<div class="col-12 pl8">
								<a href="javascript:void(0)" v-on:click="set_execution_period">
									<div class="black14-18" v-if="request.request_execution_period != null">{{ renderDateTime(request.request_execution_period) }}</div>
									<div class="black14-18" v-else>Не указан</div>
								</a>
								<div class="form-group mt10" v-if="show_execution_input">
									<input type="text" v-model="execution_input" v-on:keypress="setterExecution" class="form-control gray12-15 dobavlenie_nov_prov_input" id="execution_input" placeholder="Срок выполнения">
								</div>
							</div>
						</div>
					</div> 
					<div class="zayavka-right-block">
						<div class="row mb18">
							<div class="col-12">
								<span class="left_zag_zayavka">Дата создания</span>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-12 pl8">
								<a href="javascript:void(0)">
									<div class="black14-18">{{ renderDateTime(request.request_date) }}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
	import Inputmask from 'inputmask';
	export default{
        name: 'request-detail',
  		mixins: [library],
        components:{
        	Inputmask,
        },
		data() {
			return{
				request: this.choosenRequest,
				new_matcher: '',
				show: false,
				showEditWindow: false,
				add_matcher: false,
				add_performer: false,
				add_watcher: false,
				show_execution_input: false,
				showVersions: false,
				execution_input: '',
				search_matchers: null,
				search_performers: null,
				search_watchers: null,
				investments: this.choosenRequest.request_files,
				request_id: this.choosenRequest.id,
				comments: '',
				senderComment: '',
				requestVersions: [],
				matched: (this.choosenRequest.matched != null ? true : false),
				rejected: (this.choosenRequest.rejected != null ? true : false),
				printRejectReason: false,
				inExecution: (this.choosenRequest.execution != null && this.choosenRequest.execution == 1 ? true : false),
				isExecuted: (this.choosenRequest.executed != null && this.choosenRequest.executed == 1 ? true : false),
				rejection_reason: (this.user.rejection_reason != null ? this.user.rejection_reason : ""),
				can_match: (this.choosenRequest.can_match != null && this.choosenRequest.can_match == '1' ? true : false),
				can_execute: (this.choosenRequest.can_execution != null && this.choosenRequest.can_execution == '1' ? true : false),
				can_correction: (this.choosenRequest.can_correction != null && this.choosenRequest.can_correction == '1' ? true : false),
				mask: '99.99.9999 99:99',
				proccess: {
					'background-image': 'url(/src/assets/img/yell-status.png)'
				},
				reject: {
					'background-image': 'url(/src/assets/img/red-status.png)'
				},
				success: {
					'background-image': 'url(/src/assets/img/green-status.png)'
				},
				vacancy: '',
			}
		},
		props:{
			choosenRequest: Object,
			user: Object,
			can_edit: Boolean,
			index: '',
			total: '',
			file: '',
 		},
		mounted: function() {
			let params = {
				method: 'getRequestComments',
				request_id: this.request_id,
			}
			this.ajaxSimpleRequest(params);
		},
		created: function(){
			if(this.choosenRequest.request_edit != null && this.choosenRequest.request_edit > 0 && this.choosenRequest.request_parent_id != null){
				let params = {
					method: 'getRequestVersions',
					request_id: this.choosenRequest.request_parent_id,
				};
				this.ajaxSimpleRequest(params);
			}

			if(this.choosenRequest.vacancy_fields != null){
				let decision_user = '', initiator = '';
				if(this.choosenRequest.vacancy_fields.decision_user.name != null){
					decision_user = '<a href="/user/' + this.choosenRequest.vacancy_fields.decision_user.id + '/">' +
					'<div class="container pr-0">' +
					'<div class="row align-items-center">' + '<div class="left_dr_img vacancy_user-logo">' + 
						'<img src="' + this.choosenRequest.vacancy_fields.decision_user.logo + '">' + 
					'</div>' + 
					'<div class="left_dr_name">' + this.choosenRequest.vacancy_fields.decision_user.name + '</div>' +
					'</div>' + '</div>' + '</a>'; 
				}
				if(this.user.id != null){
					initiator = '<a href="/user/' + this.user.id + '/">' +
					'<div class="container pr-0">' +
					'<div class="row align-items-center">' + '<div class="left_dr_img vacancy_user-logo">' + 
						'<img src="' + this.user.logo + '">' + 
					'</div>' + 
					'<div class="left_dr_name">' + this.user.name + '</div>' +
					'</div>' + '</div>' + '</a>'; 
				}
				this.vacancy = '<div class="col-md-5"><span class="vacancy_item_title">Департамент:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.division != null ? this.choosenRequest.vacancy_fields.division : ' - ') + '</span></div>' + 
				'<div class="col-md-5"><span class="vacancy_item_title">Наименование должности:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.position != null ? this.choosenRequest.vacancy_fields.position : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Образование и опыт работы:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.education != null ? this.choosenRequest.vacancy_fields.education + ', ' + (this.choosenRequest.vacancy_fields.experience != null ? this.choosenRequest.vacancy_fields.experience : '') : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Специальность:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.specialty != null ? this.choosenRequest.vacancy_fields.specialty : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Владение ПК:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.PC_skills != null ? this.choosenRequest.vacancy_fields.PC_skills : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Должностные обязанности:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.duties != null ? this.choosenRequest.vacancy_fields.duties : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Личные качества:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.qualities != null ? this.choosenRequest.vacancy_fields.qualities : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Наличие дожностной инструкции:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.instruction != null ? this.choosenRequest.vacancy_fields.instruction : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Владение языками:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.lang != null ? this.choosenRequest.vacancy_fields.lang : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Предполагаемая зарплата:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.salary != null ? this.choosenRequest.vacancy_fields.salary : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">График работы:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.schedule != null ? this.choosenRequest.vacancy_fields.schedule : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Командировки:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.trip != null ? this.choosenRequest.vacancy_fields.trip : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Наличие водительских прав</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.driver_licence != null ? this.choosenRequest.vacancy_fields.driver_licence : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Наличие автомобиля</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.auto != null ? this.choosenRequest.vacancy_fields.auto + (this.choosenRequest.vacancy_fields.driver_categories != null ? ', категория - ' + this.choosenRequest.vacancy_fields.driver_categories : '') : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Причина появления вакансии:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.reason != null ? this.choosenRequest.vacancy_fields.reason : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Дата планируемого приема:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.receipt_date != null ? this.choosenRequest.vacancy_fields.receipt_date : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Конфиденциальность информации:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.secret != null ? this.choosenRequest.vacancy_fields.secret : ' - ') + '</span></div>' +
				'<div class="col-md-5 mb_5"><span class="vacancy_item_title">Инициатор:</span></div>' + '<div class="col-md-7 mb_5"><span class="vacancy_item_value">' + (initiator != '' ? initiator : ' - ') + '</span></div>' +
				'<div class="col-md-5"><span class="vacancy_item_title">Окончательное решение за:</span></div>' + '<div class="col-md-7"><span class="vacancy_item_value">' + (this.choosenRequest.vacancy_fields.decision_user.name != null ? decision_user : ' - ') + '</span></div>';
			}
		},
		methods:{
			chooseVersion: function(event){
				let id = event.target.getAttribute('id');
				if(id != null){
					this.request = this.requestVersions[id];
					this.can_match = (this.request.can_match != null && this.request.can_match == '1' ? true : false);
					this.can_execute = (this.request.can_execution != null && this.request.can_execution == '1' ? true : false);
					this.can_correction = (this.request.can_correction != null && this.request.can_correction == '1' ? true : false);
					this.investments = this.request.request_files;
					this.request_id = this.request.id;
					this.inExecution = (this.request.execution != null && this.request.execution == 1 ? true : false);
					this.isExecuted = (this.request.executed != null && this.request.executed == 1 ? true : false);
				}
			},
			hadleShowVersions: function(){
				if(this.showVersions){
					this.showVersions = false;
				}else{
					this.showVersions = true;
				}
			},
			renderRequestVersions: function(params){
				if(params != null && params.length > 0){
					for(let i = 0; i < params.length; i++){
						this.requestVersions.push(params[i]);
					}
					if(params[params.length - 1].id != this.choosenRequest.id)
						this.requestVersions.push(this.choosenRequest);
				}
				console.log(this.requestVersions);
			},
			setterExecution: function(event){
				let value = event.target.value;
				if(value[0] != '' && value.length == 1){
					var im = new Inputmask(this.mask);
					im.mask(document.getElementById('execution_input'));
				}
			},
			set_execution_period: function(){
				if(this.can_match || this.can_execute || this.can_edit){
					if(this.show_execution_input){
						this.show_execution_input = false;
					}else{
						this.show_execution_input = true;
					}
				}
			},
			deleteRequest: function(){
				let params = {
					method: 'deleteRequest',
					request_id: this.request_id,
				}

				this.ajaxSimpleRequest(params);
			},
			deleteRequestResponse: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					location.reload();
				}
			},
			toEditRequest: function(){
				this.$emit('toEditRequest', {
					show_detail: false,
					editRequest: true,
					request_id: this.request_id,
				})
			},
			closeDetail: function(){
				this.$emit('closeDetail', {
					show_detail: false,
				})
			},
			editWindow: function(){
				if(this.showEditWindow){
					this.showEditWindow = false;
				}else{
					this.showEditWindow = true;
				}
			},
			setNewMatcher: function(){
				if(this.add_matcher){
					this.add_matcher = false;
				}else{
					this.add_matcher = true;
				}
			},
			setNewPerformer: function(){
				if(this.add_performer){
					this.add_performer = false;
				}else{
					this.add_performer = true;
				}
			},
			setNewWatcher: function(){
				if(this.add_watcher){
					this.add_watcher = false;
				}else{
					this.add_watcher = true;
				}
			},
			executeRequest: function(){
				let params = {
					method: 'executeRequest',
					request_id: this.request_id,
				}
				this.ajaxSimpleRequest(params);
			},
			alertExecuteRequest: function(params){
				if(params.status == 'ok'){
					this.isExecuted = true;
				}
				this.notification(params.status, params.message);
			},
			setRequestExecute: function(){
				let params = {
					method: 'setRequestExecute',
					request_id: this.request_id,
				}

				this.ajaxSimpleRequest(params);
			},
			alertRequestExecute: function(params){
				if(params.status == 'ok'){
					this.inExecution = true;
				}
				this.notification(params.status, params.message);
			},
			submitNewExecutionPeriod: function(){
				if(this.execution_input != ''){
					let params = {
						method: 'setNewExecutionPeriod',
						request_id: this.request_id,
						period: this.execution_input,
					};
					this.ajaxSimpleRequest(params);
				}else{
					this.notification('error', 'Не заполнено поле "Срок выполнения"');
				}
			},
			alertNewExecutionPeriod: function(params){
				this.notification(params.status, params.message);
				this.show_execution_input = false;
				this.execution_input = '';
			},
			submitNewMatcher: function(){
				let params = {
					method: 'setNewMatcher',
					request_id: this.request_id,
					newMatchers: this.choosenRequest.request_matchers,
				}

				this.ajaxSimpleRequest(params);
			},
			submitNewPerformer: function(){
				let params = {
					method: 'setNewPerformer',
					request_id: this.request_id,
					newPerformers: this.choosenRequest.request_performers,
				}

				this.ajaxSimpleRequest(params);
			},
			submitNewWatcher: function(){
				let params = {
					method: 'setNewWatcher',
					request_id: this.request_id,
					newWatchers: this.choosenRequest.request_watchers,
				}
				this.ajaxSimpleRequest(params);
			},
			submitedNewMatcher: function(params){
				this.notification(params.status, params.message);
				this.add_matcher = false;
			},
			submitedNewPerformer: function(params){
				this.notification(params.status, params.message);
				this.add_performer = false;
			},
			submitedNewWatcher: function(params){
				this.notification(params.status, params.message);
				this.add_watcher = false;
			},
			autocompleteMatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getMatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			autocompletePerformers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getPerformers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			autocompleteWatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getWatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			renderMatchers: function(params){
				this.search_matchers = params;
			},
			renderPerformers: function(params){
				this.search_performers = params;
			},
			renderWatchers: function(params){
				this.search_watchers = params;
			},
			chooseMatcher: function(event, index){
				if(this.choosenRequest.request_matchers == null || this.choosenRequest.request_matchers.length == 0)
					this.choosenRequest.request_matchers = [];
				this.choosenRequest.request_matchers.push(this.search_matchers[index]);
 	 			this.search_matchers.splice(index, 1);
				document.querySelector('#input\_matchers').value = '';
			},
			choosePerformer: function(event, index){
				if(this.choosenRequest.request_performers == null)
					this.choosenRequest.request_performers = [];
				this.choosenRequest.request_performers.push(this.search_performers[index]);
 	 			this.search_performers.splice(index, 1);
				document.querySelector('#input\_performers').value = '';
			},
			chooseWatcher: function(event, index){
				if(this.choosenRequest.request_watchers == null)
					this.choosenRequest.request_watchers = [];
				this.choosenRequest.request_watchers.push(this.search_watchers[index]);
 	 			this.search_watchers.splice(index, 1);
				document.querySelector('#input\_watchers').value = '';
			},
			renderComments: function(params){
				this.comments = params;
				this.senderComment = '';
			},
			sendComment: function(event){
				if(this.senderComment == ''){
					this.notification('error', 'Пустое значение');
				}else{
					let params = {
						method: 'uploadRequestComment',
						comment: this.senderComment,
						request_id: this.request_id,
					}

					this.ajaxSimpleRequest(params);
				}
			},
			handleFileUploads: function(event){
				this.file = this.$refs.file.files[0];
				let formData = new FormData();
				let requestID = event.currentTarget.getAttribute('request-id');
				formData.append('file', this.file);
				formData.append('method', 'uploadRequestFile');
				formData.append('request_id', requestID);
				fetch('http://localhost/api/', {
				    mode: 'cors',
				    cache: 'no-cache',
				    credentials: 'include',
					method: 'POST',
				    body: formData,
				}).then((response) => {
					//console.log(response.text());
					return response.json();
				})
				.then((data) => {
				  	if(data.function != null && data.params != null)
				  		this[data.function](data.params);
				  	else if(data.function != null && data.params == null)
				  		this[data.function]();
				  	else
				  		return data;
				});	
			},
			deleteFile: function(e){
				let id = event.currentTarget.getAttribute('id');
				let fileID = event.currentTarget.getAttribute('file-id');
				let requestID = event.currentTarget.getAttribute('request-id');
				let params = {
					method: 'deleteRequestFile',
					file_id: fileID,
					request_id: requestID,
				}
				this.ajaxSimpleRequest(params);
				if (id >=  0) {
				  this.investments.splice(id, 1);
				}
			},
			renderFiles: function(params){
				this.investments = params;

				this.choosenRequest.request_files = this.investments;
			},
			submitMatched: function(){
				let formData = new FormData();
				formData.append('type', 'submitMatched');
				formData.append('request_id', this.choosenRequest.id);
				formData.append('user_id', this.user.id);
				this.sendCustomRequest('http://localhost/api/submit/', formData);
			},
			submitReject: function(){
				if(this.rejection_reason != ''){
					let formData = new FormData();
					formData.append('type', 'submitRejected');
					formData.append('request_id', this.choosenRequest.id);
					formData.append('user_id', this.user.id);
					formData.append('rejection_reason', this.rejection_reason);
					this.sendCustomRequest('http://localhost/api/submit/', formData);
				}else{
					this.notification('error', 'Заполните причину отказа');
				}
			},
			submitRejectRejected: function(){
				let formData = new FormData();
				formData.append('type', 'RequestRejectRejected');
				formData.append('request_id', this.choosenRequest.id);
				formData.append('user_id', this.user.id);
				this.sendCustomRequest('http://localhost/api/submit/', formData);
			},
			answerMatched: function(params){
				if(params.status == 'ok'){
					this.matched = true;
				}
				this.notification(params.status, params.message);
			},
			answerRejected: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					this.rejected = true;
					this.matched = false;
					this.rejection_reason = params.rejection_reason;
					location.reload();
				}
			},
			answerRejectRejected: function(params){
				this.notification(params.status, params.message);
				if(params.status == 'ok'){
					this.rejected = false;
					this.matched = false;
					location.reload();
				}
			},
			showPrintRejectReason: function(){
				if(this.printRejectReason){
					this.printRejectReason = false;
				}else{
					this.printRejectReason = true;
				}
			}
		}
	}
</script>

<style scoped>
	.user_file_logo{
		width: 24px;
		height: 24px;
	}
	.user_file_logo img{
		width: 100%;
	}
	.rejection_reason{
		position: relative;
	}
	.reason_title{
		margin: 5px 0;
	}
	.personal_reject{
		background-color: #F4F2FC;
	}
	.mt10{
		margin-top: 10px;
	}
	.mt25{
		margin-top: 25px;
	}
	.performer_btn{
		width: 100%;
		background: #4EAF75;
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
		border-radius: 5px;
		color: #fff;
	}
	.status_select-wrap{
		cursor: pointer;
		width: 100px;
		justify-content: space-between;
	}
	.relative{
		position: relative;
	}
	.versions_control-wrap{
		position: absolute;
		background-color: #F2F2F2;
		z-index: 999;
		border: 1px solid #E0E0E0;
		padding: 10px 15px;
		width: 100px;
	}
	.version{
		font-size: 12px;
	    padding: 5px 0;
	    cursor: pointer;
	}
	.vacancy_wrap{
		align-items: center;
		margin-bottom: 20px;
	}
</style>