<template>
	<div id="admin-profile">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
			    <div class="col-xl-9" id="admin">
					<div>
						<ol class="breadcrumb ">
							<li class="breadcrumb-item"><a href="/admin/service/all/">Все сервисы</a></li>
							<li class="breadcrumb-item active">{{ service.name }}</li>
						</ol>
					</div>
					<div class="row ptofile-cart">
						<div class="col-xl-6">
							<div class="struk-zag-biger">{{ service.name }}</div>
						</div>
						<div class="col-xl-3">
							<button class="btn btn-link3 gray14-18" v-if="service.id == 1" @click="serviceSettings">
								<span class=" zayavka1-vspliv_nastroy">Настройки сервиса</span>
							</button>
						</div>
						<div class="col-xl-3">
							<button class="btn btn-link" v-if="serviceOn" @click="onService">
								<span class=" serviss-on">Сервис включен</span>
							</button>
							<button type="button" class="btn btn-primary" v-else @click="onService">Включить сервис</button>
						</div>
					</div>
					<div class="row profile-work">
						<div class="col-xl-12 pl-xl-0 pr-xl-0 mb24">
							<div class="profile-work_block profile-work_block3">
								<div class="row">
									<div class="col-12">
										<div class="profile-work_zag gray">Настройка сервисов для компаний</div>
									</div>
								</div>
								<div class="profile-work_doc_box" v-for="(company, index) in companies" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == companies.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
									<div class="pl23 row  align-items-center">
										<a :href="'/admin/company/profile/' + company.id + '/'" class="col-9">
											<div class="black14-18">{{ company.name }}</div>
										</a>
										<div class="col-3">
											<div class="checkbox_wrap">
												<div class="fl form-pen">
													<a :href="'/admin/company/profile/' + company.id + '/edit/'" v-if="user.role_id != 3" class="">
														<img src="/src/assets/img/pen.svg" alt="">
													</a>
												</div>
												<input type="checkbox" :id="'cbx' + company.id" style="display:none" v-bind:checked="company.service_active != null && company.service_active == 'Y' || company.service_active == null">
												<label :for="'cbx' + company.id" class="toggle ml-auto" @click="(event) => { setCompanyAccessGroup(company.id, service.id) }">
													<span></span>
												</label>    
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row profile-work">
						<div class="col-xl-12 pl-xl-0 pr-xl-0 mb24">
							<div class="profile-work_block profile-work_block3">
								<div class="row">
									<div class="col">
										<div class="profile-work_zag gray">Администраторы сервиса<span class="">({{ adminsLength }})</span>
										</div>
									</div>
									<div class="col text-right" v-if="adminsLength > 3">
										<a href="" class="a_all">Смотреть все</a>
									</div>
								</div>
								<div class="profile-work_doc_box sotrudniki-table" v-for="(admin, index) in service.admins" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == adminsLength ? 'profile-work_doc_box_last btn-none' : 'bt-none')">
									<div class="row align-items-center">
										<div class="col-10 ">
											<div class="fl">
												<img :src="admin.logo" class="" alt="">
											</div>
											<a :href="'/admin/profile/' + admin.id + '/'">
												<div class="black14-18 pt3">{{ admin.name }}</div>
											</a>
											<div class="gray12-15 pt3">{{ admin.division }}  •  {{ admin.position }}</div>
										</div>
										<div class="col-2 pr28 text-right">
											<a href="javascript:void(0)" @click="(event) => { deleteCompanyAdmin(admin.id, index) }">
												<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M4.6896 1.75C4.6896 0.783502 5.4731 0 6.4396 0H9.04839C10.0149 0 10.7984 0.783502 10.7984 1.75V3.01318H12.9289H14.6572C15.0714 3.01318 15.4072 3.34897 15.4072 3.76318C15.4072 4.1774 15.0714 4.51318 14.6572 4.51318H13.6439L13.193 13.9472C13.1229 15.4133 11.9138 16.5659 10.4461 16.5659H5.04189C3.57415 16.5659 2.3651 15.4133 2.29503 13.9472L1.8441 4.51318H0.830811C0.416597 4.51318 0.0808105 4.1774 0.0808105 3.76318C0.0808105 3.34897 0.416597 3.01318 0.830811 3.01318H2.55911H4.6896V1.75ZM6.1896 3.01318H9.29839V1.75C9.29839 1.61193 9.18646 1.5 9.04839 1.5H6.4396C6.30153 1.5 6.1896 1.61193 6.1896 1.75V3.01318ZM6.47695 6.74053C6.45718 6.32679 6.10574 6.00742 5.692 6.0272C5.27826 6.04697 4.95889 6.39841 4.97866 6.81215L5.26671 12.8385C5.28649 13.2523 5.63792 13.5716 6.05166 13.5519C6.4654 13.5321 6.78478 13.1806 6.765 12.7669L6.47695 6.74053ZM10.5096 6.81215C10.5294 6.39841 10.21 6.04697 9.79631 6.0272C9.38256 6.00742 9.03113 6.32679 9.01135 6.74053L8.7233 12.7669C8.70353 13.1806 9.0229 13.5321 9.43664 13.5519C9.85038 13.5716 10.2018 13.2523 10.2216 12.8385L10.5096 6.81215Z" fill="#8B80A0"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="javascript:void(0)" class="admin_dobavit" @click="showUserForm">
								<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="!userForm">
									<path d="M9.24224 0.714355C10.3612 0.726174 10.9306 0.846757 11.5211 1.16253C12.0863 1.4648 12.5333 1.91178 12.8355 2.47697C13.1513 3.06742 13.2719 3.63686 13.2837 4.75582V9.24236C13.2719 10.3613 13.1513 10.9308 12.8355 11.5212C12.5333 12.0864 12.0863 12.5334 11.5211 12.8357C10.9306 13.1514 10.3612 13.272 9.24224 13.2838H4.7557C3.63674 13.272 3.0673 13.1514 2.47685 12.8357C1.91166 12.5334 1.46468 12.0864 1.16241 11.5212C0.846635 10.9308 0.726052 10.3613 0.714233 9.24236V4.75582C0.726052 3.63686 0.846635 3.06742 1.16241 2.47697C1.46468 1.91178 1.91166 1.4648 2.47685 1.16253C3.0673 0.846757 3.63674 0.726174 4.7557 0.714355H9.24224ZM9.05056 1.85624H4.94738L4.62887 1.85902C3.78357 1.87505 3.40507 1.96214 3.01582 2.17032C2.64979 2.36607 2.36595 2.64991 2.1702 3.01594C1.96202 3.40519 1.87493 3.78369 1.8589 4.629L1.85611 4.9475V9.05069L1.8589 9.36919C1.87493 10.2145 1.96202 10.593 2.1702 10.9822C2.36595 11.3483 2.64979 11.6321 3.01582 11.8279C3.40507 12.036 3.78357 12.1231 4.62887 12.1392L4.94738 12.1419H9.05056L9.36907 12.1392C10.2144 12.1231 10.5929 12.036 10.9821 11.8279C11.3481 11.6321 11.632 11.3483 11.8277 10.9822C12.0359 10.593 12.123 10.2145 12.139 9.36919L12.1418 9.05069V4.9475L12.139 4.629C12.123 3.78369 12.0359 3.40519 11.8277 3.01594C11.632 2.64991 11.3481 2.36607 10.9821 2.17032C10.5929 1.96214 10.2144 1.87505 9.36907 1.85902L9.05056 1.85624ZM6.99995 4.14293C7.31554 4.14293 7.57138 4.39876 7.57138 4.71436V6.42864H9.28566C9.60125 6.42864 9.85709 6.68448 9.85709 7.00007C9.85709 7.31566 9.60125 7.5715 9.28566 7.5715H7.57138V9.28578C7.57138 9.60138 7.31554 9.85721 6.99995 9.85721C6.68436 9.85721 6.42852 9.60138 6.42852 9.28578V7.5715H4.71423C4.39864 7.5715 4.1428 7.31566 4.1428 7.00007C4.1428 6.68448 4.39864 6.42864 4.71423 6.42864H6.42852V4.71436C6.42852 4.39876 6.68436 4.14293 6.99995 4.14293Z" fill="#633BB2"/>
								</svg>
								<span class="pl13" v-if="!userForm">Добавить нового администратора</span>
								<span class="pl13" v-else>Отменить</span>
							</a>
							<div class="form528 admin_form528" v-if="userForm">
				                <div class="profile-work_zag gray mt24">Создание нового администратора</div>
				                <div class="form-group">
				                    <label for="last_name" class="gray14-18 mb4">Фамилия *</label>
				                    <input type="text" class="form-control" id="last_name" placeholder="Иванова" v-model="newUserLastName">
				                </div>
				                <div class="form-group">
				                    <label for="first_name" class="gray14-18 mb4 mt22">Имя *</label>
				                    <input type="text" class="form-control" id="first_name" placeholder="" v-model="newUserFirstName">
				                </div>
				                <div class="form-group">
				                    <label for="second_name" class="gray14-18 mb4 mt22">Отчество *</label>
				                    <input type="text" class="form-control" id="second_name" placeholder="" v-model="newUserSecondName">
				                </div>  
				                <hr>
				                <div class="form-group mt24">
				                    <label for="exampleFormControlSelect1">Отдел *</label>
				                        <select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" id="exampleFormControlSelect1" v-model="newUserDivision">
				                        <option :value="''">Выберите отдел</option>
				                        <option v-for="(division, index) in divisions" :key="division.id" :value="division.id">{{ division.name }}</option>
				                    </select>
				                </div>
				                <div class="form-group">
				                    <label for="user_email" class="gray14-18 mb4 mt22">Email *</label>
				                    <input type="text" class="form-control" id="user_email" placeholder="" v-model="newUserEmail">
				                </div>
				                <div class="form-group">
				                    <label for="user_mobile" class="gray14-18 mb4 mt22">Сотовый телефон</label>
				                    <input type="phone" class="form-control" id="user_mobile" placeholder="Не указано" v-model="newUserMobile">
				                </div>
				                <div class="form-group">
				                    <label for="phone_inner" class="gray14-18 mb4 mt22">Внутренний номер</label>
				                    <input type="phone" class="form-control" id="phone_inner" placeholder="Не указано" v-model="newUserPhoneInner">
				                </div>
				                <div class="form-group">
				                    <label for="phone_outer" class="gray14-18 mb4 mt22">Городской номер</label>
				                    <input type="text" class="form-control" id="phone_outer" placeholder="Не указано" v-model="newUserPhoneOuter">
				                </div>
					            <div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
					                <button type="button" class="btn btn-primary mr-3 p12-24" @click="createNewUser">Создать администратора</button>
					            </div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
	export default{
        name: 'admin-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar
  		},
  		data(){
  			return {
  				user: [],
  				companies: [],
  				divisions: [],
  				user_style: {},
  				edit: false,
  				userForm: false,
  				service: {},
  				serviceOn: false,
  				adminsLength: 0,

                newUserFirstName: '',
                newUserLastName: '',
                newUserSecondName: '',
                newUserDivision: '',
                newUserEmail: '',
                newUserMobile: null,
                newUserPhoneInner: null,
                newUserPhoneOuter: null,
  			}
  		},
  		created: function(){
  			let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
  			params = {
  				method: 'getService',
  			};

            if(urlParams[4] != null && urlParams[4] > 0){
            	params['id'] = urlParams[4];
            }else{
            	window.location.href="/admin/service/all/";
            }
  			this.ajaxSimpleRequest(params);

  			params = {
  				method: 'get_companies',
  				service_id: (urlParams[4] != null ? urlParams[4] : null),
  			};

  			this.ajaxSimpleRequest(params);

            params = {
                method: 'getUserDivisions',
            }
            this.ajaxSimpleRequest(params);
  			params = {
  				method: 'getUser',
  				callback: 'renderUser',
  			};
  			this.ajaxSimpleRequest(params);

  			//this.ajaxSimpleRequest(params);
  		},
  		methods:{
  			renderUser: function(params){
  				this.user = params;
  			},
  			onService: function(){
  				let params = {
  					method: 'onService',
  					id: this.service.id,
  				};
  				if(this.serviceOn){
  					this.serviceOn = false;
  					params['active'] = 'N';
  				}else{
  					params['active'] = 'Y';
  					this.serviceOn = true;
  				}
  				this.ajaxSimpleRequest(params);
  			},
  			onServiceResponse: function(params){
  				this.notification(params.status, params.message);
  			},
  			renderCompanies: function(params){
  				this.companies = params;
  			},
  			renderService: function(params){
  				this.service = params;
  				if(this.service.active == 'Y'){
  					this.serviceOn = true;
  				} 
  				if(this.service.admins != null){
  					this.adminsLength = this.service.admins.length;
  				}
  			},
  			renderUserDivisions: function(params){
                this.divisions = params;
  			},
  			setCompanyAccessGroup: function(company_id, service_id){
  				let params = {
  					method: 'setCompanyAccessGroup',
  					company: company_id,
  					service: service_id,
  				}

  				this.ajaxSimpleRequest(params);
  			},
  			companyAccessResponse: function(params){
  				console.log(params);
  				this.notification(params.status, params.message);
  			},
  			createNewUser: function(){
  				let formData = new FormData();
  				let checkForm = false;
                if(this.userForm){
                    if(this.newUserFirstName != ''){
                        if(this.newUserLastName != ''){
                            if(this.newUserSecondName != ''){
                                if(this.newUserDivision != ''){
                                    let name = this.newUserLastName + ' ' + this.newUserFirstName + ' ' + this.newUserSecondName;
                                    formData.append('user[name]', name);
                                    formData.append('user[division_id]', this.newUserDivision);
                                    if(this.newUserEmail != ''){
                                        checkForm = true;
                                        formData.append('user[email]', this.newUserEmail);
                                        formData.append('user[login]', this.newUserEmail);
                                        if(this.newUserMobile != null){
                                            formData.append('user[mobile]', this.newUserMobile);
                                        }
                                        if(this.newUserPhoneInner != null){
                                            formData.append('user[phone_inner]', this.newUserPhoneInner);
                                        }
                                        if(this.newUserPhoneOuter != null){
                                            formData.append('user[phone_outer]', this.newUserPhoneOuter);
                                        }
                                        formData.append('user[role_id]', 2);
                                    }else{
                                        this.notification('error', 'Введите email пользователя!');
                                    }
                                }else{
                                    this.notification('error', 'Выберите отдел пользователя!');
                                }
                            }else{
                                this.notification('error', 'Введите отчество пользователя!');
                            }
                        }else{
                            this.notification('error', 'Введите фамилию пользователя!');
                        }
                    }else{
                        this.notification('error', 'Введите имя пользователя!');
                    }
	                formData.append('type', 'create_user');
	                formData.append('service_id', this.service.id);
	                formData.append('service', true);
	                if(checkForm){
	                    this.sendCustomRequest('http://localhost/api/submit/', formData);
	                }
                }
  			},
  			createUserAnswer: function(params){
  				this.notification(params.status, params.message);
  				this.userForm = false;
	  			let request, pathName = location.pathname, urlParams = pathName.split('/');
	  			request = {
	  				method: 'getService',
	  			};
	            if(urlParams[4] != null && urlParams[4] > 0){
	            	request['id'] = urlParams[4];
	            }

  				this.ajaxSimpleRequest(request);
  			},
  			showUserForm: function(){
  				if(this.userForm){
  					this.userForm = false;
  				}else{
  					this.userForm = true;
  				}
  			},
  			edit_profile: function(){
  				window.location.href = '/admin/user/edit/' + this.user.id + '/';
  			},
  			serviceSettings: function(){
  				window.location.href = "/admin/service/settings/" + this.service.id + '/';
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
    .admin_select{
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding:16px;}
    #admin option {
        font-size: 14px;
        line-height: 18px;
    }
    .admin_form528 .top-poisk_arr {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .admin_form528 .form-control {
        min-height: 50px;
        padding: 16px;
    }
    .serviss-on:focus{
    	text-decoration: none;
    	outline: none;
    }
</style>