<template>
	<div id="admin-all">
		<div class="container-fluid">
			<div class="row">
				<admin-sidebar></admin-sidebar>
				<div class="col-xl-9" id="admin" v-if="!categoryForm">
					<div>
						<ol class="breadcrumb ">
							<li class="breadcrumb-item"><a href="/admin/service/all/">Все сервисы</a></li>
							<li class="breadcrumb-item"><a :href="'/admin/service/profile/' + service.id + '/'">{{ service.name }}</a></li>
							<li class="breadcrumb-item active">Настройка сервиса</li>
						</ol>
					</div>
					<div class="row">
						<div class="col">	
							<h1 class="mt24 mb36" v-if="!subCategories && !categoryDetail">Категория заявок</h1>
							<h1 class="mt24 mb36" v-else>{{ curCategory.name }}</h1>
						</div>
						<div class="col text-xl-right" v-if="!categoryDetail">
							<button type="button" class="btn btn-primary mt24 mb36" v-if="!subCategories" @click="showCreateForm">Создать категорию</button>
							<button type="button" class="btn btn-primary mt24 mb36" v-else @click="showCreateForm">Создать подкатегорию</button>
						</div>
					</div>
					<div class="profile-work_doc_box" v-if="categoryDetail" v-for="(category, index) in categories" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == categories.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')">
						<div class="pl23 row align-items-center">
							<div class="col-9" @click="getServiceDetail(category.id, category.parent_id)">
								<div class="black14-18">{{ category.name }}</div>
							</div>
							<div class="col-3">
								<div class="checkbox_wrap">
									<input type="checkbox" :id="'cbx' + category.id" v-bind:checked="category.active == null || category.active == 'Y'" style="display:none">
									<label :for="'cbx' + category.id" class="toggle ml-auto"  @click="(event) => { setServiceStatus(category.id) }"><span></span></label>    
								</div>
							</div>
						</div>
					</div>
					<div class="profile-work_doc_box" v-for="(category, index) in categories" v-bind:class="index == 0 ? 'profile-work_doc_box_ferst' : (index + 1 == categories.length ? 'profile-work_doc_box_last bt-none' : 'bt-none')" v-if="!categoryDetail">
						<div class="pl23 row  align-items-center">
							<div class="col-9">
								<a href="javascript:void(0)" @click="(event) => { if(!subCategories) getServiceCategories(category.id) }">
									<div class="black14-18">{{ category.name }}</div>
								</a>
							</div>
							<div class="col-3 text-right">
								<div class="cart_row">
									<div class="cart_item-75">
										<a href="javascript:void(0)" class="" v-if="!subCategories" @click="(event) => { getServiceDetail(category.id) }">
											<img src="/src/assets/img/pen.svg" alt="">
										</a>
									</div>
									<div class="udalenie cart_item-20">
										<a href="javascript:void(0)" class="" @click="(event) => { showDelModal('del_' + index) }">
											<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M4.6896 1.75C4.6896 0.783502 5.4731 0 6.4396 0H9.04839C10.0149 0 10.7984 0.783502 10.7984 1.75V3.01318H12.9289H14.6572C15.0714 3.01318 15.4072 3.34897 15.4072 3.76318C15.4072 4.1774 15.0714 4.51318 14.6572 4.51318H13.6439L13.193 13.9472C13.1229 15.4133 11.9138 16.5659 10.4461 16.5659H5.04189C3.57415 16.5659 2.3651 15.4133 2.29503 13.9472L1.8441 4.51318H0.830811C0.416597 4.51318 0.0808105 4.1774 0.0808105 3.76318C0.0808105 3.34897 0.416597 3.01318 0.830811 3.01318H2.55911H4.6896V1.75ZM6.1896 3.01318H9.29839V1.75C9.29839 1.61193 9.18646 1.5 9.04839 1.5H6.4396C6.30153 1.5 6.1896 1.61193 6.1896 1.75V3.01318ZM6.47695 6.74053C6.45718 6.32679 6.10574 6.00742 5.692 6.0272C5.27826 6.04697 4.95889 6.39841 4.97866 6.81215L5.26671 12.8385C5.28649 13.2523 5.63792 13.5716 6.05166 13.5519C6.4654 13.5321 6.78478 13.1806 6.765 12.7669L6.47695 6.74053ZM10.5096 6.81215C10.5294 6.39841 10.21 6.04697 9.79631 6.0272C9.38256 6.00742 9.03113 6.32679 9.01135 6.74053L8.7233 12.7669C8.70353 13.1806 9.0229 13.5321 9.43664 13.5519C9.85038 13.5716 10.2018 13.2523 10.2216 12.8385L10.5096 6.81215Z" fill="#8B80A0"></path>
											</svg>
										</a>
										<div class="vspliv-udalenie d-none" :id="'del_' + index">
											<div class="vspliv-udalenie_title">Вы действительно хотите удалить категорию?</div>
											<div class="btn-group mt24" role="group" aria-label="Basic example">
												<button type="button" class="btn btn-white p12-24 mr-3" @click="(event) => { cancelDelCategory('del_' + index) }">Отмена</button>
												<button type="button" class="btn btn-danger p12-24" @click="(event) => { deleteCategory(category.id) }">Удалить</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9" id="admin" v-else>
					<div class="text-center">
						<h1 class="mt24 mb36" v-if="!subCategories">Создать категорию</h1>
						<h1 class="mt24 mb36" v-else>Создать подкатегорию</h1>
					</div>
					<div action="" method="" class="form528 admin_form528" v-if="!subCategories">
						<div class="form-group mb24">
							<label for="category_name" class="gray14-18 mb8 mt22">Название *</label>
							<input type="text" v-model="categoryName" class="form-control" id="category_name" placeholder="" value="">
						</div>
						<hr class="mb-0">
						<div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-primary mr-3 p12-24" @click="createCategory">Создать</button>
							<button type="button" class="btn btn-light btn-white p12-24" @click="showCreateForm">Отмена</button>
						</div> 
					</div>
					<div action="" method="" class="form528 admin_form528" v-else>
						<div class="form-group mt24">
							<label for="parent_category">Родительская категория *</label>
							<select class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" v-model="parentCategory" id="parent_category">
								<option v-for="(category, index) in categories" :value="category.id">{{ category.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="category_name" class="gray14-18 mb4">Название *</label>
							<input type="text" class="form-control" v-model="categoryName" id="category_name" placeholder="Иванова" value="">
						</div>
						<div class="form-group">
							<label for="description">Описание по умолчанию</label>
							<textarea class="form-control" id="decription" v-model="categoryDesc" rows="3"></textarea>
						</div>
						<hr>
						<div class="form-group mt24">
							<label for="company_type">Доступно для типов компаний</label>
							<select  v-model="categoryCompany" class="top-poisk-control top-poisk_arr admin_select admin_select_black ml-0" id="company_type">
								<option :value="''">Все</option>
								<option v-for="(company, index) in companies" :value="company.id">{{ company.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<div class="gray14-18 mb4 mt16">Согласующие по умолчанию</div>
							<div class="tipa_input1" id="">
								<div class="tipa_input  row  ml-0">
									<div class="tipa_input_item tipa_input1 mb4 mr8" v-if="matchers.length > 0" v-for="(matcher, index) in matchers" :key="matcher.id">
										<img :src="matcher.logo" class="img18_18" alt="">
										{{ matcher.name }}
										<a href="javascript:void(0)" @click="delMatchers" :id="index">
											<span class="tipa_input2">
												<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.33301 0.833496L3.99969 3.50016M3.99969 3.50016L6.66634 0.833496M3.99969 3.50016L1.33301 6.16683M3.99969 3.50016L6.66634 6.16683" stroke="#633BB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</span>
										</a>
									</div>
									<input type="text" name="" @focus="watching = false; performing = false" id="input_matchers" class="search_input" v-on:keypress="autocompleteMatchers">
									<a href="javascript:void(0)" class="tipa_input_item_last d-none" >
										<div class="">
											<svg width="2" height="23" viewBox="0 0 2 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<line x1="1" y1="1.5" x2="0.999999" y2="21.5" stroke="#633BB2" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-up" @click="matching == true ? matching =  false : matching = true" v-bind:class="matching ? 'd-block' : 'd-none'"></span>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-down" @click="matching == true ? matching =  false : matching = true" v-bind:class="!matching ? 'd-block' : 'd-none'"></span>
									</a>
								</div>
								<div class="tipa_input_options" v-if="searchMatchers != null && searchMatchers.length > 0" v-bind:class="matching ? 'd-block' : 'd-none'">
									<a href="javascript:void(0)" v-for="(user, index) in searchMatchers" :key="user.id" :id="index" @click="chooseMatchers">
										<div class="d-flex tipa_input_option mb16">
											<div class="float-left mr8">
												<img :src="user.logo" class="img36_36" alt="">
											</div>
											<div class="">
												<div class="gray14-18">{{ user.name }}</div>
												<div class="tipa_input_option_dolgnost">{{ user.division }}  •  {{ user.position }}</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="gray14-18 mb4 mt16">Наблюдатели по умолчанию</div>
							<div class="tipa_input1" id="">
								<div class="tipa_input  row  ml-0">
									<div class="tipa_input_item tipa_input1 mb4 mr8" v-if="watchers.length > 0" v-for="(watcher, index) in watchers" :key="watcher.id">
										<img :src="watcher.logo" class="img18_18" alt="">
										{{ watcher.name }}
										<a href="javascript:void(0)" @click="delWatchers" :id="index">
											<span class="tipa_input2">
												<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1.33301 0.833496L3.99969 3.50016M3.99969 3.50016L6.66634 0.833496M3.99969 3.50016L1.33301 6.16683M3.99969 3.50016L6.66634 6.16683" stroke="#633BB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
											</span>
										</a>
									</div>
									<input type="text" name="" @focus="matching = false; performing = false" id="input_watchers" class="search_input" v-on:keypress="autocompleteWatchers">
									<a href="javascript:void(0)" class="tipa_input_item_last d-none" >
										<div class="">
											<svg width="2" height="23" viewBox="0 0 2 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<line x1="1" y1="1.5" x2="0.999999" y2="21.5" stroke="#633BB2" stroke-width="2" stroke-linecap="round"/>
											</svg>
										</div>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-up" @click="watching == true ? watching =  false : watching = true" v-bind:class="watching ? 'd-block' : 'd-none'"></span>
									</a>
									<a href="javascript:void(0)">
										<span class="tipa_input_icon tipa_input_icon-down" @click="watching == true ? watching =  false : watching = true" v-bind:class="!watching ? 'd-block' : 'd-none'"></span>
									</a>
								</div>
								<div class="tipa_input_options" v-if="searchWatchers != null && searchWatchers.length > 0" v-bind:class="watching ? 'd-block' : 'd-none'">
									<a href="javascript:void(0)" v-for="(user, index) in searchWatchers" :key="user.id" :id="index" @click="chooseWatchers">
										<div class="d-flex tipa_input_option mb16">
											<div class="float-left mr8">
												<img :src="user.logo" class="img36_36" alt="">
											</div>
											<div class="">
												<div class="gray14-18">{{ user.name }}</div>
												<div class="tipa_input_option_dolgnost">{{ user.division }}  •  {{ user.position }}</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="btn-group mb24 mt24" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-primary mr-3 p12-24" @click="createSubCategory">Создать</button>
							<button type="button" class="btn btn-light btn-white p12-24" @click="showCreateForm">Отмена</button>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { library } from './library.js'
    import AdminSidebar from './AdminSidebar.vue';
	export default{
        name: 'admin-profile',
  		mixins: [library],
  		components: {
  			AdminSidebar
  		},
  		data(){ //profile-work_doc_box_last bt-none
  			return {
  				byName: '',
  				user: [],
  				user_style: {},
  				categoryForm: false,
  				edit: false,
  				subCategories: false,
  				categoryDetail: false,
  				service: {},
  				categories: [],
  				categoryName: '',
  				categoryDesc: '',
  				categoryCompany: '',
  				curCategory: {},
  				parentCategory: '',
				searchUsers: {},
				searchMatchers: [],
				searchWatchers: [],
				searchPerformers: [],
				matching: false,
				watching: false,
				performing: false,
				matchers: [],
				watchers: [],
				performers: [],
				companies: [],
				pageParams: [],
  			}
  		},
  		created: function(){
  			let params;
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
            this.pageParams = urlParams;
  			params = {
  				method: 'getService',
  			};

            if(urlParams[4] != null && urlParams[4] > 0){
            	params['id'] = urlParams[4];
            }

  			this.ajaxSimpleRequest(params);

  			if(urlParams[5] == 'sub' && urlParams[6] > 0){
  				this.subCategories = true;
  				params = {
  					method: 'getCategory',
  					filter: {
  						id: urlParams[6],
  					}
  				}
  				this.ajaxSimpleRequest(params);
  			}else if(urlParams[5] == 'detail'){
  				params = {
  					method: 'getCategory',
  					filter: {
  						id: urlParams[6],
  					}
  				}
  				this.ajaxSimpleRequest(params);
  				this.categoryDetail = true;
  			}

  			params = {
  				method: 'getCategories',
  				filter: {
  					parent_id: (this.subCategories || this.categoryDetail ? (urlParams[6] > 0 ? urlParams[6] : null) : null),
  				}
  			}

  			this.ajaxSimpleRequest(params);
  		},
  		methods:{
  			setServiceStatus: function(id){
  				let params = {
  					method: 'setServiceStatus',
  					id: id,
  				}
  				this.ajaxSimpleRequest(params);
  			},
  			serviceStatusResponse: function(params){
  				console.log(params);
  				this.notification(params.status, params.message);
  			},
  			getServiceDetail: function(id, parent = null){
  				if(parent == null){
  					window.location.href = '/admin/service/settings/' + this.service.id + '/' + 'detail/' + id + '/';
  				}
  			},
  			createSubCategory: function(){
  				let formData = new FormData();
  				let checkForm = false;
  				if(this.categoryName != ''){
  					formData.append('name', this.categoryName);
  					checkForm = true;
  					if(this.categoryDesc != ''){
  						formData.append('description', this.categoryDesc);
  					}
  					formData.append('company', this.categoryCompany);
  					formData.append('parent', this.parentCategory);
  					if(this.matchers.length > 0){
  						for (var i = 0; i < this.matchers.length; i++) {
  							formData.append('matchers[' + i + ']', this.matchers[i].id);
  						}
  					}
  					if(this.watchers.length > 0){
  						for (var i = 0; i < this.watchers.length; i++) {
  							formData.append('watchers[' + i + ']', this.watchers[i].id);
  						}
  					}
  				}else{
  					this.notification('error', 'Заполните название категории');
  				}
  				if(checkForm){
  					formData.append('type', 'createSubCategory');
                    this.sendCustomRequest('http://localhost/api/submit/', formData);
  				}
  			},
  			subCategoryResponse: function(params){
  				this.notification(params.status, params.message);
  			},
			chooseMatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.matchers.push(this.searchMatchers[id]);
				this.searchMatchers.splice(id, 1);
				document.querySelector('#input\_matchers').value = '';
			},
			chooseWatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.watchers.push(this.searchWatchers[id]);
				this.searchWatchers.splice(id, 1);
				document.querySelector('#input\_watchers').value = '';
			},
			autocompleteMatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getMatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			autocompleteWatchers: function(event){
				let value = event.target.value;
				if(value.length > 2){
					let params = {
						method: 'getWatchers',
						search: value,
						limit: '10'
					}

					this.ajaxSimpleRequest(params);
				}
			},
			renderMatchers: function(params){
				this.matching = true;
				this.searchMatchers = params;
			},
			renderWatchers: function(params){
				this.watching = true;
				this.searchWatchers = params;
			},
			delMatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.searchMatchers.push(this.matchers[id]);
				this.matchers.splice(id, 1);
			},
			delWatchers: function(event){
				let id = parseInt(event.currentTarget.getAttribute('id'));
				this.searchWatchers.push(this.watchers[id]);
				this.watchers.splice(id, 1);
			},
  			getServiceCategories: function(service_id){
  				let curPage = '/admin/service/settings/' + this.service.id + '/';
  				window.location.href = curPage + 'sub/' + service_id + '/';
  			},
  			renderCategory: function(params){
  				this.curCategory = params;
  				this.parentCategory = params.id;
  			},
  			renderService: function(params){
  				this.service = params;
  				if(this.service.admins != null){
  					this.adminsLength = this.service.admins.length;
  				}
  			},
  			renderCategories: function(params){
  				this.categories = params;
  			},
  			showDelModal: function(index){
  				let modals = document.getElementsByClassName('vspliv-udalenie');
  				for(var i = 0; i < modals.length; i++){
  					modals[i].classList.remove('d-block');
  				}
  				let modal = document.getElementById(index);
  				modal.classList.add('d-block');
  			},
  			showCreateForm: function(){
  				let params, urlParams = this.pageParams;
  				if(this.categoryForm){
  					this.categoryForm = false;
		  			params = {
		  				method: 'getCategories',
		  				filter: {
		  					parent_id: (this.subCategories ? urlParams[6] : null),
		  				}
		  			}

		  			this.ajaxSimpleRequest(params);
  				}
  				else{
  					if(this.subCategories){
			  			params = {
			  				method: 'getCategories',
			  				filter: {
			  					parent_id: null,
			  				}
			  			}
			  			this.ajaxSimpleRequest(params);

			  			params = {
			  				method: 'get_companies',
			  			};

			  			this.ajaxSimpleRequest(params);
  					}
  					this.categoryForm = true;
  				}
  			},
  			renderCompanies: function(params){
  				this.companies = params;
  			},
  			createCategory: function(){
  				if(this.categoryName != ''){
  					let formData = new FormData();
  					formData.append('type', 'createCategory');
  					formData.append('name', this.categoryName);
                    this.sendCustomRequest('http://localhost/api/submit/', formData);
  				}else{
  					this.notification('error', 'Введите название!');
  				}
  			},
  			answerCreateCategory: function(params){
  				this.notification(params.status, params.message);
  				if(params.status == 'success' || params.status == 'ok'){
		  			params = {
		  				method: 'getCategories',
		  				filter: {
		  					parent_id: null
		  				}
		  			}

		  			this.ajaxSimpleRequest(params);
		  			
  					this.showCreateForm();
  				}
  			},
  			cancelDelCategory: function(index){
  				document.getElementById(index).classList.remove('d-block');
  			},
  			deleteCategory: function(id){
  				let params = {
  					method: 'deleteCategory',
  					id: id,
  				}

  				this.ajaxSimpleRequest(params);
  			},
  			deleteAnswer: function(params){
  				this.notification(params.status, params.message);
  				let modals = document.getElementsByClassName('vspliv-udalenie');
  				for(var i = 0; i < modals.length; i++){
  					modals[i].classList.remove('d-block');
  				}
  				if(params.status == 'ok'){
		  			params = {
		  				method: 'getCategories',
		  				filter: {
		  					parent_id: (this.subCategories ? this.pageParams[6] : null),
		  				}
		  			}

		  			this.ajaxSimpleRequest(params);
  				}
  			}
  		}
  	}
</script>
<style scoped>
	.profile_logo{
		width: 120px;
		height: 120px;
	}
	.profile_logo img{
		width: 100%;
		height: 100%;
	}
	.top-poisk{
		margin-bottom: 20px;
	}
	.cart_row{
		display: flex;
		flex-wrap: wrap;
	}
	.cart_item-75{
		width: 75%;
	}
	.cart_item-20{
		width: 20%;
	}
    .admin_select{
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 5px;
        padding:16px;}
    #admin option {
        font-size: 14px;
        line-height: 18px;
    }
    .admin_form528 .top-poisk_arr {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .admin_form528 .form-control {
        min-height: 50px;
        padding: 16px;
    }
	.search_input{
		width: 100%;
	}
	.search_input{
		border: none;
	}
</style>