<template>
	<div class="col-1 poz-rel" id="show_user">
		<a href="javascript:void(0)" class="show_user" @click="show">
			<img :src="user.logo" class="img24" alt="">
		</a>
		<div class="vhodyashie_popup_all d-none" >
			<div class="vhodyashie_popup1"></div>
			<div class="vhodyashie_popup text-center">
				<a :href="'/user/' + user.id + '/'" class="vhodyashie_popup_img mb4 ml-auto mr-auto">
					<img :src="user.logo" class="" alt="">
				</a>
				<a :href="'/user/' + user.id + '/'" class="vhodyashie_popup_zag mb4">{{ user.name }}</a>
				<div class="vhodyashie_popup_dolgnost mb12">{{ user.division }} • {{ user.position }}</div>
				<div class="vhodyashie_popup_kontakt mb12">{{ user.email }} •  {{ user.mobile }}</div>
				<a href="/#create" @click="sendAjaxRequest" class="vhodyashie_popup_btn btn btn-link btn-block">Создать заявку</a>
			</div>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	export default{
        name: 'show_user',
  		mixins: [library],
        components:{
        },
		data() {
			return{
				show_modal: this.show_root,
			}
		},
		props: {
			user: Object,
			show_root: false,
		},
		methods:{
			show: function(event){
				let all_elements = document.getElementsByClassName('vhodyashie_popup_all'); 
				let next = event.target.closest('.show_user').nextSibling.nextElementSibling;
				if(all_elements != null && all_elements.length > 0){
					for(let i = 0; i < all_elements.length; i++){
						if(next != all_elements[i] && all_elements[i].classList.contains('d-block')){
							all_elements[i].classList.remove('d-block');
							all_elements[i].classList.add('d-none');
						}
					}
				}
				if(next.classList.contains('d-none')){
					next.classList.remove('d-none');
					next.classList.add('d-block');
				}else{
					next.classList.remove('d-block');
					next.classList.add('d-none');
				}
			}
		}
	}
</script>

<style scoped="">
	.vhodyashie_popup_btn{
		color: #fff;
	}
	.vhodyashie_popup_btn:hover{
		color: #fff;
	}
</style>