<template>
	<div class="uroven">
		<li class="row align-items-center ml-0 mr-0" :id="'user_' + node.id">
			<div class="float-left">
				<img :src="node.logo" class="struktura_photo">
			</div>
			<div class="ml12">
				<a :href="'/user/' + node.id + '/'" class="user_detail">
					<div class="mb4 struk-zag-aktive">{{ node.name }}</div>
					<div class="gray12-15" v-if="node.position != null">{{ node.position }}</div>
				</a>
			</div>
		</li>
		<div v-if="node.children != null && node.children.length > 0">
			<div v-bind:class="show ? 'd-block' : 'd-none'" @click="clickByShow">
				<div class=" svernut">
					<span class="plusik">
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.24188 0.714844C10.3608 0.726662 10.9303 0.847245 11.5207 1.16302C12.0859 1.46529 12.5329 1.91227 12.8352 2.47746C13.1509 3.06791 13.2715 3.63735 13.2833 4.75631V9.24285C13.2715 10.3618 13.1509 10.9313 12.8352 11.5217C12.5329 12.0869 12.0859 12.5339 11.5207 12.8361C10.9303 13.1519 10.3608 13.2725 9.24188 13.2843H4.75533C3.63637 13.2725 3.06693 13.1519 2.47648 12.8361C1.91129 12.5339 1.46431 12.0869 1.16204 11.5217C0.846269 10.9313 0.725685 10.3618 0.713867 9.24285V4.75631C0.725685 3.63735 0.846269 3.06791 1.16204 2.47746C1.46431 1.91227 1.91129 1.46529 2.47648 1.16302C3.06693 0.847245 3.63637 0.726662 4.75533 0.714844H9.24188ZM9.0502 1.85672H4.94701L4.62851 1.85951C3.7832 1.87554 3.40471 1.96263 3.01545 2.17081C2.64943 2.36656 2.36558 2.6504 2.16983 3.01643C1.96165 3.40568 1.87456 3.78418 1.85853 4.62948L1.85575 4.94799V9.05117L1.85853 9.36968C1.87456 10.215 1.96165 10.5935 2.16983 10.9827C2.36558 11.3488 2.64943 11.6326 3.01545 11.8284C3.40471 12.0365 3.7832 12.1236 4.62851 12.1397L4.94701 12.1424H9.0502L9.3687 12.1397C10.214 12.1236 10.5925 12.0365 10.9818 11.8284C11.3478 11.6326 11.6316 11.3488 11.8274 10.9827C12.0356 10.5935 12.1226 10.215 12.1387 9.36968L12.1415 9.05117V4.94799L12.1387 4.62948C12.1226 3.78418 12.0356 3.40568 11.8274 3.01643C11.6316 2.6504 11.3478 2.36656 10.9818 2.17081C10.5925 1.96263 10.214 1.87554 9.3687 1.85951L9.0502 1.85672ZM6.99958 6.42913C7.31517 6.42913 6.99951 6.42913 7.57101 6.42913H9.2853C9.60089 6.42913 9.85672 6.68497 9.85672 7.00056C9.85672 7.31615 9.60089 7.57199 9.2853 7.57199H7.57101C7.49951 7.57199 7.31517 7.57199 6.99958 7.57199C6.68399 7.57199 6.49951 7.57199 6.42815 7.57199H4.71387C4.39828 7.57199 4.14244 7.31615 4.14244 7.00056C4.14244 6.68497 4.39828 6.42913 4.71387 6.42913H6.42815C6.99951 6.42913 6.68399 6.42913 6.99958 6.42913Z" fill="#633BB2"/>
						</svg>
					</span>
						Свернуть
				</div>
			</div>
			<div v-bind:class="!show ? 'd-block' : 'd-none'" @click="clickByShow">
				<div class="svernut raskrit ">
					<span class="plusik">
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.24188 0.714844C10.3608 0.726662 10.9303 0.847245 11.5207 1.16302C12.0859 1.46529 12.5329 1.91227 12.8352 2.47746C13.1509 3.06791 13.2715 3.63735 13.2833 4.75631V9.24285C13.2715 10.3618 13.1509 10.9313 12.8352 11.5217C12.5329 12.0869 12.0859 12.5339 11.5207 12.8361C10.9303 13.1519 10.3608 13.2725 9.24188 13.2843H4.75533C3.63637 13.2725 3.06693 13.1519 2.47648 12.8361C1.91129 12.5339 1.46431 12.0869 1.16204 11.5217C0.846269 10.9313 0.725685 10.3618 0.713867 9.24285V4.75631C0.725685 3.63735 0.846269 3.06791 1.16204 2.47746C1.46431 1.91227 1.91129 1.46529 2.47648 1.16302C3.06693 0.847245 3.63637 0.726662 4.75533 0.714844H9.24188ZM9.0502 1.85672H4.94701L4.62851 1.85951C3.7832 1.87554 3.40471 1.96263 3.01545 2.17081C2.64943 2.36656 2.36558 2.6504 2.16983 3.01643C1.96165 3.40568 1.87456 3.78418 1.85853 4.62948L1.85575 4.94799V9.05117L1.85853 9.36968C1.87456 10.215 1.96165 10.5935 2.16983 10.9827C2.36558 11.3488 2.64943 11.6326 3.01545 11.8284C3.40471 12.0365 3.7832 12.1236 4.62851 12.1397L4.94701 12.1424H9.0502L9.3687 12.1397C10.214 12.1236 10.5925 12.0365 10.9818 11.8284C11.3478 11.6326 11.6316 11.3488 11.8274 10.9827C12.0356 10.5935 12.1226 10.215 12.1387 9.36968L12.1415 9.05117V4.94799L12.1387 4.62948C12.1226 3.78418 12.0356 3.40568 11.8274 3.01643C11.6316 2.6504 11.3478 2.36656 10.9818 2.17081C10.5925 1.96263 10.214 1.87554 9.3687 1.85951L9.0502 1.85672ZM6.99958 4.14342C7.31517 4.14342 7.57101 4.39925 7.57101 4.71484V6.42913H9.2853C9.60089 6.42913 9.85672 6.68497 9.85672 7.00056C9.85672 7.31615 9.60089 7.57199 9.2853 7.57199H7.57101V9.28627C7.57101 9.60186 7.31517 9.8577 6.99958 9.8577C6.68399 9.8577 6.42815 9.60186 6.42815 9.28627V7.57199H4.71387C4.39828 7.57199 4.14244 7.31615 4.14244 7.00056C4.14244 6.68497 4.39828 6.42913 4.71387 6.42913H6.42815V4.71484C6.42815 4.39925 6.68399 4.14342 6.99958 4.14342Z" fill="#633BB2"/>
						</svg>
					</span>
					Раскрыть
				</div>
			</div>
		</div>
		<ul v-bind:class="show ? 'd-block' : 'd-none'" v-if="node.children != null && node.children.length > 0">
			<structure-node v-for="(child, index) in node.children" :node="child" :index="index + 1" :total="node.children.length != null && node.children.length > 0 ? node.children.length : 0" :key="child.id"></structure-node>
		</ul>
	</div>
</template>

<script>
	import { library } from './library.js'
	export default{
        name: 'structure-node',
  		mixins: [library],
        components:{
        },
		data() {
			return{
				show: false
			}
		},
		props:{
			node: Object,
			index: '',
			total: '',
		},
		created(){
			if(this.node.hex != null){
				var style = document.createElement('style');
				document.head.appendChild(style);
				let sheet = style.sheet;
				sheet.addRule('.struktura-line li#user_'+ this.node.id +':before','background-color: ' + this.node.hex);
			}
		},
		methods:{
			clickByShow(){
				if(this.show)
					this.show = false;
				else
					this.show = true;
			}
		}
	}
</script>
<style scoped id="style_sheet">
	.user_detail{
		color: #000;
	}
</style>