<template>
	<div id="structure">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
    			<div class="col-xl-9">
					<h1 class="mt24 mb36">Структура</h1>
					<div class="row align-items-center ml-0 mr-0 mb9">
						<div class="float-left struktura_photo_biger" v-if="structures != null">
							<img :src="structures[245].logo" class="struktura_photo_big">
							<img src="/src/assets/img/boll.png" class="struktura_photo_big_marker">
						</div>
						<div class="ml21">
							<div class="mb8 struk-zag-biger">{{ structures != null ? structures[245].name : '' }}</div>
							<div class="gray3_14-18">{{ structures != null ? structures[245].position : ''}}</div>
						</div>
					</div>
					<div class="struktura-line">
						<ul v-if="structures != null">
							<structure-node v-for="structure in structures[245].children" :node="structure" :key="structure.id"></structure-node>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	import StructureNode from './StructureNode.vue';
	export default{
        name: 'structure',
  		mixins: [library],
        components:{
            LeftSideBar,
            StructureNode,
        },
		data() {
			return{
				users: {},
				user: {},
				email: '',
				pass: '',
				structures: null,
				main: {},
			}
		},
		props:{

		},
		created(){
			this.setPageTitle('Структура');
			this.preloader = true;
            let params = {
                method: 'getUsersStructure',
            };
            this.sendAjaxRequest(params);
            
        	params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);
		},
		methods:{
			renderStructuredUsers: function(params){
				let result = params['0'];
				console.log(result);
				/*for (var prop in result) {
					this.structures = result[prop];
				}*/
				this.structures = result;
			},
			renderUser: function(params){
				this.user = params;
			},
		}
	}
</script>