<template>
	<div id="useful-links">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
				<div class="col-xl-9" id="wikiHtml">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'useful-links',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{

			}
		},
		created(){
			this.setPageTitle('Полезные ссылки');
			let params;

        	let wikiHtml = {
        		function: 'renderWikiUsefulLinks',
        	}
        	//this.sendCustomRequest('https://sezinno.ru/templates/about.php', aboutHtml, 'html');
        	this.sendCustomRequest('https://sezinno.ru/templates/wiki-useful-links.php', wikiHtml, 'html');
		},
		methods:{
			renderWikiUsefulLinks: function(data){
				let id = document.getElementById('wikiHtml');
				//let html = this.stringToHtml(data);
				id.innerHTML = data;
			}
		}
	}
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>