<template>
	<div id="wiki-templates">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
				<div class="col-xl-9" id="wikiHtml">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'wiki-templates',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{

			}
		},
		created(){
			let params;

        	let wikiHtml = {
        		function: 'renderWikiTemplates',
        	}
            let pathName = location.pathname;
            let urlParams = pathName.split('/');
        	if(urlParams.length >= 3){
        		this.getDynamicContent(urlParams[2], 'renderWikiTemplates');
        	}
		},
		methods:{
			renderWikiTemplates: function(data){
				let id = document.getElementById('wikiHtml');
				//let html = this.stringToHtml(data);
				let docTitle = $(data).find('h1').text();
				this.setPageTitle(docTitle);
				id.innerHTML = data;
			}
		}
	}
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>