<template>
	<div id="wiki-video">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
        <div class="col-xl-9">
            <h1 class="mt24 mb36">Видеоуроки для сотрудников</h1>
            <div class="video_categories">
                <p>Категории</p>
                <div class="video_categories_wrap">
                    <a class="video_categories_wrap__item" v-for="(cat, index) in list" :href="'#cat_' + cat.id">
                        {{ cat.name }}
                    </a>
                </div>
            </div>
            <div class="video_complitation">
                <div class="video_complitation__item" v-for="(cat, index) in list" :id="'cat_' + cat.id">
                    <div class="video_complitation__title">{{ cat.name }}</div>
                    <div class="video_complitation_slick">
                        <div class="video_complitation_slick__item" v-for="(el, i) in cat.items">
                            <div :style="{backgroundImage:`url(${el.preview})`}" >
                              <div class="duration">{{ el.duration }}</div>
                              <a :href="'/wiki/video/' + el.id" class="play"></a>
                            </div>
                            <a :href="'/wiki/video/' + el.id">{{ el.name }}</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
		</div>
	</div>
</template>


<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'wiki-video',
  		  mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
        list: {},
			}
		},
		created(){
      this.setPageTitle('Видеоархив');

      let params = {
        method: 'getWikiVideo',
      };
      this.ajaxSimpleRequest(params);

		},
		methods:{
      renderWikiVideo: function(params)
      {
        this.list = params;

        setTimeout(function() {
          $(".video_complitation_slick").slick({
            variableWidth: true,
            arrows: false,
          });
        }, 0);
      },
		}
	}

</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>