<template>
	<div id="wiki-press">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
				<div class="col-xl-9">
                <h1 class="mt24 mb36">Газеты</h1>
                <div class="newspapers__banner">
                    <span>Выпуски газет</span>
                </div>
                <div class="row newspapers_row-margin">
                    <div class="col-lg-3" v-for="(item, index) in list">
                        <div class="newspapers_card" :style="{background:`linear-gradient(180deg, rgba(69, 69, 69, 0) 0%, #525252 100%), url(${item.preview_id}) center center / cover no-repeat`}">
                            <div class="newspapers_card__title">{{ item.name }}</div>
                            <div class="newspapers_block-bottom">
                                <div class="newspapers__bottom-div">
                                    <div class="newspapers__date">{{ item.date }}</div>
                                    <a v-bind:href="item.file_id" target="_blank" class="newspapers__go-link"></a>
                                </div>
                            </div>
                            <a class="absolute_a" target="_blank" v-bind:href="item.file_id"></a>
                        </div>
                    </div>
                </div>
                <!--верхний бар поиск категории-->

                <div class="inno_pagination" v-if="maxpage > 1">
                    <ul class="inno_pagination__list">

                        <li v-on:click="getPage(page - 1)" class="inno_pagination__item inno_pagination__left" v-bind:class="{ block: page <= 1 }">
                              <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.04553 9.23486L5.98487 10.2955L0.954542 5.26519L5.98487 0.234863L7.04553 1.29552L3.07586 5.26519L7.04553 9.23486Z" />
                              </svg>
                          </li>

                        <li v-for="(cp, index) in pagination" v-on:click="getPage(cp)" class="inno_pagination__item" v-bind:class="{ active: page == cp }">{{ cp }}</li>

                        <li v-on:click="getPage(page + 1)" class="inno_pagination__item inno_pagination__right" v-bind:class="{ block: page >= maxpage }">
                              <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.954468 9.23486L2.01513 10.2955L7.04546 5.26519L2.01513 0.234863L0.954468 1.29552L4.92414 5.26519L0.954468 9.23486Z" />
                              </svg>
                          </li>
                    </ul>
                </div>
                <!--конец таблица  -->
            </div>
		</div>
	</div>
</template>

<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'wiki-press',
  		  mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
        list: {},
        limit: 12,
        page: 1,
        pagination: [],
        maxpage: 1,
			}
		},
		created(){
      this.setPageTitle('Газеты');

      let params = {
        method: 'getWikiPress',
        limit: this.limit,
        page: this.page,
      };
      this.ajaxSimpleRequest(params);

		},
		methods:{
      renderWikiPress: function(params)
      {
        this.list = params.list;

        this.pagination = this.pagination_render(params.pagination);
        this.maxpage = params.pagination.max;

        this.page = params.pagination.cur;

        window.scrollTo(0,0);
      },
      getPage: function(page)
      {
        let params = {
          method: 'getWikiPress',
          limit: this.limit,
          page: page,
        };

        this.ajaxSimpleRequest(params);
      },
		}
	}
</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>