<template>
	<div id="wiki-video-detail">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar></left-side-bar>
				<!-- контент часть -->
        <div class="col-xl-9">
          <div class="video_detail_title mt24 mb36">
              <h1>Видеоархив</h1>
              <p>{{ video.category_name }}</p>
          </div>
          <div class="video_detail__main-title">{{ video.name }}</div>
          <div class="video_detail__main-video">
              <iframe width="560" height="315" :src="'https://www.youtube.com/embed/' + video.youtube_id" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" showinfo="0" allowfullscreen></iframe>
          </div>
          <div class="video_detail__desc">
             {{ video.desc }} 
          </div>
          <div class="video_complitation">
              <div class="video_complitation__item" v-for="(cat, index) in list">
                  <div class="video_complitation__title">{{ cat.name }}</div>
                  <div class="video_complitation_slick">
                      <div class="video_complitation_slick__item" v-for="(el, i) in cat.items">
                          <div :style="{backgroundImage:`url(${el.preview})`}" >
                            <div class="duration">{{ el.duration }}</div>
                            <a :href="'/wiki/video/' + el.id" class="play"></a>
                          </div>
                          <a :href="'/wiki/video/' + el.id">{{ el.name }}</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
		</div>
	</div>
</template>


<script>
	//
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'wiki-video-detail',
  		  mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
        video: {},
        list: {},
			}
		},
		created(){
      this.setPageTitle('Видеоархив');

      let pathName = location.pathname;
      let urlParams = pathName.split('/');
      
      let params = {
        method: 'getWikiVideoDetail',
        id: urlParams[3],
      };
      this.ajaxSimpleRequest(params);

		},
		methods:{
      renderWikiVideoDetail: function(params)
      {
        this.video = params.video;
        this.list = params.list;

        this.setPageTitle(this.video.name);

        setTimeout(function() {
          $(".video_complitation_slick").slick({
            variableWidth: true,
            arrows: false,
          });
        }, 0);

      },
		}
	}

</script>
<style scoped="">
	.recent_img{
		width: 24px;
		height: 24px;
	}
</style>