<template>
	<div id="docs">
		<div class="container-fluid no-mobail">
			<div class="row">
				<left-side-bar :user="user"></left-side-bar>
				<div class="col-xl-9">
					<div>
						<ol class="breadcrumb ">
							<li class="breadcrumb-item">
								<a href="/#profile" v-on:click="sendAjaxRequest">Профиль</a>
							</li>
							<li class="breadcrumb-item active">Работа в компании</li>
						</ol>
					</div>
					<h1 class="mb36">Работа в компании</h1>
					<div class="profile-work-etap">
						<div class="profile-work-etap_box mb14" v-if="docs.docs != null" v-for="(file, index) in docs.docs">
							<div v-bind:class="index == 0 ? 'profile-work-etap_box_line_ferst' : (index == docs.length - 1 ? 'profile-work-etap_box_line_last' : '')"></div>
							<div class="profile-work-etap_box_boll"></div>
							<div class="profile-work-etap_date gray">
								<svg width="14" height="15" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4 0.25C4.41421 0.25 4.75 0.585786 4.75 1V2H9.25V1C9.25 0.585786 9.58579 0.25 10 0.25C10.4142 0.25 10.75 0.585786 10.75 1V2H11C12.6569 2 14 3.34315 14 5V7V12C14 13.6569 12.6569 15 11 15H3C1.34315 15 0 13.6569 0 12V7V5C0 3.34315 1.34315 2 3 2H3.25V1C3.25 0.585786 3.58579 0.25 4 0.25ZM12.5 7H1.5V12C1.5 12.8284 2.17157 13.5 3 13.5H11C11.8284 13.5 12.5 12.8284 12.5 12V7ZM4 8.50003C3.44772 8.50003 3 8.94775 3 9.50003C3 10.0523 3.44772 10.5 4 10.5H5C5.55228 10.5 6 10.0523 6 9.50003C6 8.94775 5.55228 8.50003 5 8.50003H4Z" fill="#8B80A0"/>
								</svg>
								{{ file.date }}
							</div>
							<div class="profile-work-etap_zag mt11 mb12">{{ file.docType }}</div>
							<div class="profile-work-etap_text mb15">Приказ {{ file.description }}</div>
							<div class="profile-work-etap_img2 float-left pr8" v-bind:style="user_style"></div>
							<div class="gray14-18 pt3 profile-work-etap_name">{{ user.name }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import { library } from './library.js'
	import LeftSideBar from './LeftSideBar.vue';
	export default{
        name: 'docs',
  		mixins: [library],
        components:{
            LeftSideBar,
        },
		data() {
			return{
				user: {},
				docs: {},
				user_style: {},
			}
		},
		props: {
			userID: String,
		},
        created(){
        	this.setPageTitle('Работа в компании');
        	let params = {
        		method: 'getUser',
        	}
        	this.ajaxSimpleRequest(params);

        	params = {
        		method: 'getUserDocs',
        		limit: '50',
        		id: this.userID,
        	}
        	this.ajaxSimpleRequest(params);
        },
		methods:{
			renderUser: function(params){
				this.user = params;
				this.user_style = {
					'border-radius': '50%',
					'background': 'url(' + this.user.logo + ') center / cover no-repeat', 
				}
			},
			renderDocuments: function(params){
				this.docs = params;
			}
		}
	}
</script>